<div #dashboardView class="animated fadeIn">
    <div *ngIf="!slideShow" style="color: white; margin: -20px -30px 20px; height: 248px">
        <img alt="image" src="assets/img/article_header.jpg" style="height: 248px">
        <div class="header-section" style="background: rgba(0, 0, 0, 0.6); border: 1px solid white; height: 124px; margin-top: -166px;">
            <div style="text-align: center;">


                <ul class="nav-horizontal text-center">
                    <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_READ]">
                        <li>
                            <a id="WelcomeView_MasterDataButton" routerLink="/master-data" ><i class="fa"><img src="assets/img/item2_48.png" /></i> {{'WelcomeView_MasterDataButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_ADD]">
                        <li>
                            <a id="WelcomeView_NewTechScanButton" (click)="techScanAdd()" ><i class="fa"><img src="assets/img/add_to_cart_48.png" /></i> {{'WelcomeView_NewTechScanButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
                        <li>
                            <a id="Workspace_POHeaderButton" (click)="purchaseOrderAdd()" ><i class="fa"><img src="assets/img/purschaseOrder.png" /></i> {{'Workspace_POHeaderButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_ADD]">
                        <li>
                            <a id="WelcomeView_NewJobButton" (click)="jobTicketAdd()" ><i class="fa"><img src="assets/img/quickTicket.png" /></i> {{'WelcomeView_NewJobButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[
                          permissions.TECH_USAGE_READ,
                          permissions.SALES_READ,
                          permissions.GROSS_PROFIT_READ,
                          permissions.SUMMARY_READ]" >
                        <li>
                            <a id="WelcomeView_PartUsageButton" routerLink="/reporting"><i class="fa"><img src="assets/img/monthly_48.png" /></i> {{'WelcomeView_PartUsageButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[
                        permissions.NUVENTORY_CATEGORIES_READ,
                        permissions.MASTER_CATEGORIES_READ,
                        permissions.MASTER_CATALOG_READ,
                        permissions.MASTER_VENDORS_READ,
                        permissions.CATEGORIES_READ,
                        permissions.GL_CODES_READ,
                        permissions.UNITS_MEASURE_READ,
                        permissions.COMPANIES_READ,
                        permissions.COMPANY_GROUPS_READ,
                        permissions.CUSTOMERS_READ,
                        permissions.SHOPS_READ,
                        permissions.USERS_READ,
                        permissions.ROLES_READ,
                        permissions.VENDORS_READ,
                        permissions.TECHNICIANS_READ,
                        permissions.PROFILE_READ,
                        permissions.WIZARD_READ,
                        permissions.LANGUAGE_EDITOR_READ,
                        permissions.LANGUAGES_READ]" >
                        <li>
                            <a id="WelcomeView_SetupButton" routerLink="/setup"><i class="fa"><img src="assets/img/setup_48.png" /></i> {{'WelcomeView_SetupButton'|lang}}</a>
                        </li>
                    </ng-template>
                    <ng-template [ngxPermissionsOnly]="[permissions.CHARTS_SLIDE_SHOW_READ]">
                        <li>
                            <a id="Workspace_ChartsSlideShowButton" (click)="onSlideShow()"><i class="fa"><img src="assets/img/slideshow_48.png" /></i> {{'Slide Show'|lang}}</a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
    <div id="page-content" style="margin-bottom: 20px;">
        <div class="row">
            <div class="hidden-xs hidden-sm hidden-md col-lg">
                <div class="panel panel-info">
                    <div #chart class="card" [ngStyle]="{'height': graphHeight, 'max-height':'none'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
