<div class="animated fadeIn">
    <ng-template [ngxPermissionsOnly]="[permissions.EDI_TYPE_SYNCH]">
        <button class="btn btn-success" (click)="synch()"><i class="fa fa-exchange fa-lg"></i> {{'Synch'|lang}}</button>
    </ng-template>
    <form #f="ngForm" novalidate class="ui form" (ngSubmit)="onSubmit()">
        <ngx-datatable
            class="material"
            [rows]="rows"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="30"
            [loadingIndicator]="loading"
            [externalPaging]="true"
            [externalSorting]="true"
            (sort)="onSort($event)"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            [sortType]="multi"
            (page)='setPage($event)'>

            <ngx-datatable-column [sortable]="true" [flexGrow]="0.1" >
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    ID
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                    #{{row.ET1_ID}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="true" [flexGrow]="1">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper">
                        <span class="datatable-header-cell-label draggable header-label" (click)="sort()">Name</span>
                    </span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                    {{row.ET1_NAME}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </form>
</div>