<div class="animated fadeIn">
    <div class="card-body" style="padding: 0;" >
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> {{'Back'|lang}}</button>
    </div>
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-link"></i>
        <h3 class="panel-title" style="display: inline;">{{'Role Assignment Form'|lang}}</h3>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <div class="col-md-2 align-middle" style="padding-top: 10px;"><strong>{{'Select role'|lang}}</strong></div>
          <div class="col-md-4">
            <select class="form-control" placeholder="{{'Authorization Item'|lang}}" [(ngModel)]="role" >
              <option></option>
              <option *ngFor="let role of roles" value="{{role.name}}" >{{role.name}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <button class="btn btn-success" type="submit" (click)="assign(role)" ><i class="fa fa-save"></i> {{'Assign'|lang}}</button>
          </div>
        </div>
      <ngx-datatable
            class="material no-shadow"
            [rows]="rows"
            [columnMode]="'flex'"
            [loadingIndicator]="loading"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="30"
            (page)='setPage($event)' >

        <ngx-datatable-column [flexGrow]="1">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <span class="datatable-header-cell-wrapper">
                    <span class="datatable-header-cell-label draggable header-label">{{'Roles'|lang}}</span>
                </span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                <a (click)= "onClick(value)">{{row.name}}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="3">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <span class="datatable-header-cell-wrapper">
                    <span class="datatable-header-cell-label draggable header-label">{{'Description'|lang}}</span>
                </span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                <a (click)= "onClick(value)">{{row.description}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="name" sortable="false"  [flexGrow]="1" >
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable header-label">{{'Assign'|lang}}Actions</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a (click)= "removeAssignment(value)" style="cursor: pointer;" title="{{'Revoke'|lang}}" ><i class="fa fa-lg fa-trash"></i> {{'Revoke'|lang}}</a>
                &nbsp; &nbsp;
                <a (click)= "editRole(value)" style="cursor: pointer;" title="{{'#Edit#'|lang}}" ><i class="fa fa-lg fa-user"></i> {{'#Edit#'|lang}}</a>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>