<div class="animated fadeIn">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="card-body" style="padding: 0;" >
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_ADD]" >
          <button type="button" class="btn btn-primary {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-link"></i>
        <!--<h3 class="panel-title" style="display: inline;">{{'Add Country'|lang}}</h3>-->
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" #form="ngForm" class="form-horizontal">
        <div class="row">
          <div class="col">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'CY1_SHORT_CODE'|lang}}"  [(ngModel)]="model.CY1_SHORT_CODE" name="CY1_SHORT_CODE" >
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'CY1_NAME'|lang}}" [(ngModel)]="model.CY1_NAME" name="CY1_NAME">
              </mat-form-field>
            </div>
          </div>
          <div class="col" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" >{{model.CREATED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
              <div class="col" >{{model.CREATED_BY}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" >{{model.MODIFIED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
              <div class="col" >{{model.MODIFIED_BY}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
