<div #masterCatalogForm class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.VENDORS_READ]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.VENDORS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
        <button type="button" class="btn btn-warning" (click)="linkedPartsClick()" >
          {{'LinkedPartsTab'|lang}}
        </button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div #cardHeader class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i>
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.MD0_CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.MD0_CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MD0_MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.MD0_MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" style="padding-bottom: 0; padding-top: 0">
      <form action="" method="post" class="form-horizontal" style="padding-top: 10px">
        <ng-template [ngIf]="errors && errors.length" >
          <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
        </ng-template>

        <div class="row">
          <div class="col-8">
            <div class="container no-paddings" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_PART_NUMBER'|lang}}" [(ngModel)]="record.MD0_PART_NUMBER" name="MD0_PART_NUMBER">
                  </mat-form-field>
                </div>
                <div class="col" >
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'Vendor Category'|lang}}" disabled [(ngModel)]="record.CA0_NAME" name="CA0_NAME">
                        <button type="button" mat-button *ngIf="record.CA0_ID" matSuffix mat-icon-button (click)="clearVendorCategory()">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button type="button" mat-button color="primary" (click)="selectVendorCategory()" tabindex="3">{{'Vendor Category'|lang}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container no-paddings" >
              <div class="row">
                <div class="col" >
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'Nuventory Category'|lang}}" disabled [(ngModel)]="record.C00_NAME" name="C00_NAME" >
                        <button mat-button *ngIf="record.C00_ID" matSuffix mat-icon-button (click)="clearMasterCategory()" >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button mat-button color="primary" (click)="selectMasterCategory()" >{{'Nuventory Category'|lang}}</button>
                    </div>
                  </div>
                </div>
                <div class="col" >
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'VD0_NAME'|lang}}" disabled [(ngModel)]="record.VD0_NAME" name="VD0_NAME" >
                        <button mat-button *ngIf="record.VD0_ID" matSuffix mat-icon-button (click)="clearMasterVendor()" >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button mat-button color="primary" (click)="selectMasterVendor()" >{{'VD0_NAME'|lang}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container no-paddings">
              <ng-template [ngIf]="catalogPartSearchMode">
                <div class="row align-items-center" >
                  <div class="col">
                    <app-part-number-live-search [partId]="record.MD0_ID" [partNumber]="record.MD0_PART_NUMBER" (partChange)="catalogPartChange($event)"></app-part-number-live-search>
                  </div>
                  <div class="col-md-auto" >
                    <button mat-button matSuffix mat-icon-button (click)="triggerCatalogPartSearchMode()" >
                      {{'#Cancel#'|lang}}
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngIf]="!catalogPartSearchMode">
                <div class="row align-items-center" >
                  <div class="col" >
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'MD0_ID'|lang}}" [disabled]="true" value="{{ record.MD0_ID ? (selectedPart ? '[' + selectedPart.VD0_NAME + ']' + ' ' : '') + record.MD0_PART_NUMBER + ' - ' + record.MD0_DESC1 : '#None#'|lang }}" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;" >
                    <button mat-button matSuffix mat-icon-button color="primary" (click)="triggerCatalogPartSearchMode()" >
                      {{'#Edit#'|lang}}
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>

            <div class="container no-paddings" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_UPC1'|lang}}" [(ngModel)]="record.MD0_UPC1" name="MD0_UPC1">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_DESC1'|lang}}" [(ngModel)]="record.MD0_DESC1" name="MD0_DESC1">
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div>
              <mat-form-field>
                <mat-select [(value)]="record.MD0_DISCONTINUED">
                  <mat-option *ngFor="let disc of discontinued" [value]="disc.value" [disabled]="disc.disabled">
                    {{disc.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <label >{{'UM1_PRICE_NAME'|lang}}</label>
            </div>

            <div class="container no-paddings">
              <div class="row">
                <div class="col-4">
                  <mat-form-field class="mat-form-field-width-auto">
                    <mat-select placeholder="{{'UM1_DEFAULT_PRICING'|lang}}" [(value)]="record.UM1_DEFAULT_PRICING" (selectionChange)="defaultPricingChanged($event.value)">
                      <mat-option *ngFor="let um of umData" [value]="um.UM1_ID">
                        {{um.UM1_NAME}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 10px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <mat-select placeholder="{{'UM1_DEFAULT_PURCHASE'|lang}}" [(value)]="record.UM1_DEFAULT_PURCHASE" (selectionChange)="defaultPurchaseChanged($event.value)">
                          <mat-option *ngFor="let um of umData" [value]="um.UM1_ID">
                            {{um.UM1_NAME}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px; width: 70px">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'UM2_FACTOR'|lang}}" [(ngModel)]="record.UM1_DEFAULT_PURCHASE_FACTOR" name="UM1_DEFAULT_PURCHASE_FACTOR" [disabled]="!(record.UM1_DEFAULT_PRICING != '' && record.UM1_DEFAULT_PRICING != record.UM1_DEFAULT_PURCHASE)">
                      </mat-form-field>
                    </div>
                    <div *ngIf="record.UM1_DEFAULT_PRICING && record.UM1_DEFAULT_PRICING != ''" class="col-md-auto" style="padding-left: 0px;">
                      <label >{{record.UM1_DEFAULT_PRICING && record.UM1_DEFAULT_PRICING != '' ? ('/' + record.UM1_DEFAULT_PRICING_NAME):''}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 10px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <mat-select placeholder="{{'UM1_DEFAULT_RECEIVE'|lang}}" [(value)]="record.UM1_DEFAULT_RECEIVE" (selectionChange)="defaultReceiveChanged($event.value)">
                          <mat-option *ngFor="let um of umData" [value]="um.UM1_ID">
                            {{um.UM1_NAME}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px; width: 70px">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'UM2_FACTOR'|lang}}" [(ngModel)]="record.UM1_DEFAULT_RECEIVE_FACTOR" name="UM1_DEFAULT_RECEIVE_FACTOR" [disabled]="!(record.UM1_DEFAULT_PURCHASE != '' && record.UM1_DEFAULT_PURCHASE != record.UM1_DEFAULT_RECEIVE)">
                      </mat-form-field>
                    </div>
                    <div *ngIf="record.UM1_DEFAULT_PURCHASE && record.UM1_DEFAULT_PURCHASE != ''" class="col-md-auto" style="padding-left: 0px;">
                      <label >{{record.UM1_DEFAULT_PURCHASE && record.UM1_DEFAULT_PURCHASE != '' ? ('/' + record.UM1_DEFAULT_PURCHASE_NAME):''}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container no-paddings">
              <div class="row">
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput type="number" min="0" step="0.01" placeholder="{{'MD1_UNIT_PRICE'|lang}}"  [(ngModel)]="record.MD0_UNIT_PRICE" name="MD0_UNIT_PRICE" [disabled]="record.VD0_DISCOUNT" (input)="marckupChange()" (change)="marckupChange()">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput type="number" min="0" step="0.01" placeholder="{{'MD1_MARKUP'|lang}}"  [(ngModel)]="record.MD0_MARKUP" name="MD0_MARKUP" (input)="marckupChange()" (change)="marckupChange()">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput type="number" min="0" step="0.01" placeholder="{{'MD1_SELL_PRICE'|lang}}"  [(ngModel)]="record.MD0_SELL_PRICE" name="MD0_SELL_PRICE" disabled >
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="container no-paddings">
              <div class="row">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 10px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'MD1_URL'|lang}}"  [(ngModel)]="record.MD0_URL" name="MD0_URL" >
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button type="button" class="btn btn-light" (click)="MD0_URL_GO()" >{{'Go'|lang}}</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 10px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'MD1_SAFETY_URL'|lang}}"  [(ngModel)]="record.MD0_SAFETY_URL" name="MD0_SAFETY_URL" >
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button type="button" class="btn btn-light" (click)="MD0_SAFETY_URL_GO()" >{{'Go'|lang}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container no-paddings" >
              <div class="row align-items-center" >
                <div class="col-2" >
                  <mat-checkbox [labelPosition]="after" [(ngModel)]="record.MD0_VOC_FLAG" name="MD0_VOC_FLAG" (change)="record.MD0_VOC_FLAG = $event.checked ? 1 : 0;">
                    {{'MD1_VOC_FLAG'|lang}}
                  </mat-checkbox>
                </div>
                <div class="col" >
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_VOC_MFG'|lang}}" [(ngModel)]="record.MD0_VOC_MFG" name="MD0_VOC_MFG" [disabled]="record.MD0_VOC_FLAG != 1">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_VOC_CATA'|lang}}" [(ngModel)]="record.MD0_VOC_CATA" name="MD0_VOC_CATA" [disabled]="record.MD0_VOC_FLAG != 1">
                  </mat-form-field>
                </div>
                <div class="col" >
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'MD1_VOC_VALUE'|lang}}" [(ngModel)]="record.MD0_VOC_VALUE" name="MD0_VOC_VALUE" [disabled]="record.MD0_VOC_FLAG != 1">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field class="mat-form-field-width-auto">
                    <mat-select placeholder="{{'#Select#'|lang}}" [disabled]="record.MD0_VOC_FLAG != 1" [(value)]="record.MD0_VOC_UNIT">
                      <mat-option *ngFor="let voc of VOCUnitDP" [value]="voc.value">
                        {{voc.label}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="col">
            <div>
              <mat-checkbox [labelPosition]="after" [(ngModel)]="record.MD0_BODY" name="MD0_BODY" (change)="record.MD0_BODY = $event.checked ? 1 : 0">
                {{'MD1_BODY'|lang}}
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox [labelPosition]="after" [(ngModel)]="record.MD0_DETAIL" name="MD0_DETAIL" (change)="record.MD0_DETAIL = $event.checked ? 1 : 0">
                {{'MD1_DETAIL'|lang}}
              </mat-checkbox>
            </div>
            <div>
              <mat-checkbox [labelPosition]="after" [(ngModel)]="record.MD0_PAINT" name="MD0_PAINT" (change)="record.MD0_PAINT = $event.checked ? 1 : 0">
                {{'MD1_PAINT'|lang}}
              </mat-checkbox>
            </div>
            <div style="margin-top: 20px;">
              <div class="col" *ngIf="record.FI1_FILE_PATH_EXIST === false">
                <div *ngIf="record.FI1_FILE_PATH">
                  <label style="color: #FF4136">{{'Image exist.'|lang}}</label>
                </div>
                <div *ngIf="record.FI1_FILE_PATH">
                  <label style="color: #FF4136">{{record.FI1_FILE_PATH}}</label>
                </div>
                <div *ngIf="record.FI1_FILE_PATH">
                  <label style="color: #FF4136">{{'But for some reason there is no file in the system.'|lang}}</label>
                </div>
                <div>
                  <img mat-card-image src="./assets/img/noimage.png">
                </div>
                <div>
                  <button type="button" class="btn btn-success btn-s" (click)="chooseImage()"  tabindex="29">
                    {{'Upload an Image'|lang}}
                  </button>
                </div>
              </div>
              <span *ngIf="record.FI1_FILE_PATH_EXIST === true">
                <img src="{{record.FI1_FILE_PATH}}" style="max-width: 240px; max-height: 184px">
                <div>
                  <button type="button" class="btn btn-success btn-s" (click)="removeImage()"  tabindex="30">
                    {{'Remove an Image'|lang}}
                  </button>
                </div>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>