/deep/ #shopsCBDropwodn {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  div.mat-form-field-infix{
    border: 0;
    top: -2px;
  }
  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    top: 22px;
  }

  div.mat-select-panel-wrap {
    width: 450px !important;
  }

  div.mat-select-panel {
    max-width: 450px !important;
    margin-right: 100px;
  }

}