<mat-form-field id="shopsCBDropwodn" [style]="{'width':'100%'}">
  <mat-select [(ngModel)]="selectedShops" (selectionChange)="selectionChanged($event.value)" multiple>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 25px;">
      <button mat-button (click)="selectAllClickHandler()">
        {{'Select All'|lang}}
      </button>
      <button mat-button (click)="deselectAllClickHandler()">
        {{'Deselect All'|lang}}
      </button>
    </div>
    <mat-option *ngFor="let shop of shops" [value]="shop.LO1_ID">
      {{shop.LO1_NAME}}: {{shop.CO1_NAME}}
    </mat-option>
  </mat-select>
</mat-form-field>