/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  color: #0a0a0a;
}

#nprogress .pace .pace-progress .bar {
  background: #29d;
  width: 100%;
  height: 100%;
}

 /*Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: relative;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#nprogress .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border: solid;
  border-width: 2px;
  border-color: #29d;
}

#nprogress .pace .pace-progress {
  display: block;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 4px;
  bottom: 5px;
  height: 18px;
  line-height: 60px;
  font-weight: bold;
  background-color: unset;
  overflow: hidden;
}

#nprogress .pace .progress-percentage {
  z-index: 2100;
  position: absolute;
  margin: auto;
  padding-top: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #0a0a0a;
  width: 286px;
  text-align: center;
  font-weight: bold;
}