<div style="height: 100%;" #LinkedPartsModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title>{{'LinkedPartsTab'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button type="button" class="btn btn-primary" (click)="openLine()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <p-table [columns]="cols" [value]="linkedParts"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
             [paginator]="false" [lazy]="true"
             [(selection)]="selected" [scrollHeight]="scrollHeight">
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="onOpenLine(rowData)" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
            <div *ngIf="col.field === 'MD2_ACTIVE' || col.field === 'MD2_PRINT_FLAG' || col.field === 'MD1_BODY' || col.field === 'MD1_DETAIL' || col.field === 'MD1_PAINT'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i>
              <span *ngIf="rowData[col.field] != 1">-</span>
            </ng-template>
            <ng-template #elseBlock>
              <currency *ngIf="col.field == 'MD1_UNIT_PRICE'" [value]="rowData[col.field]"></currency>
              <span *ngIf="col.field != 'MD1_UNIT_PRICE'">{{rowData[col.field]}}</span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Close#'|lang}}</button>
  </mat-dialog-actions>
</div>