<div style="height: 100%;" #reportingFilterModal>
  <div #header  >
    <div style="float: right">
      <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
        <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px;"><i class="fa fa-language"></i></button>
      </ng-template>
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog(false)" style="padding-left: 10px;"></i>
    </div>
    <h2 mat-dialog-title >{{'Generate Statement'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="right">
      </div>
    </div>
  </div>
  <div [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <mat-card-content [style.overflow]="'none'" style="padding-right: 20px">
      <div class="row">
        <div class="col-md-auto">
          <app-reporting-filter [fromYear]="fromYear" [fromMonth]="fromMonth" [toYear]="toYear" [toMonth]="toMonth" ></app-reporting-filter>
        </div>
      </div>
    </mat-card-content>
  </div>
  <div class="row">
    <div class="col" align="right">
      <button class="btn btn-success" (click)="generateStatementClick()" [disabled]="disableGenerateButton">{{'Generate Statement'|lang}}</button>
      <button mat-raised-button [mat-dialog-close]="false">{{'CancelButton'|lang}}</button>
    </div>
  </div>
</div>
<p-confirmDialog acceptLabel="{{acceptLabel}}" header="{{confirmationHeader}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>