<div #masterDataView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row" >
      <div class="col" align="right">
        <input [(ngModel)]="page.filterParams['MASTER_SEARCH']" pInputText type="text" style="width: 200px" (keydown)="buttonPress($event, 'MASTER_SEARCH', $event.target.value);">
        <button type="button" class="btn btn-primary" (click)="masterSearch()" style="height: 35px">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_ADD, permissions.BELOW_MINIMUM_REPORT]">
          <button  class="btn btn-success" (click)="getItems()"><i class="fa"></i> {{'Refresh'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_ADD]">
          <button  class="btn btn-success" *ngIf="!belowMinimumReportPage" (click)="onAddNew()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_EDIT]" >
          <button type="button" class="btn btn-primary" *ngIf="!belowMinimumReportPage"  [disabled]="!selected" (click)="editRecord()"><i class="fa fa-pencil"></i> {{'#Edit#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_ADD]">
          <button class="btn btn-primary" *ngIf="!belowMinimumReportPage" [disabled]="!selected" (click)="onClone()"><i class="fa fa-clone"></i> {{'#Copy#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_DELETE]">
          <button class="btn btn-danger" *ngIf="!belowMinimumReportPage" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_READ]">
          <button class="btn btn-primary" *ngIf="!belowMinimumReportPage"  [disabled]="!selected" (click)="onCollectBarcode()"><i class="fa fa-plus-square"></i> {{'Collect Barcode'|lang}}</button>
        </ng-template>
        <button class="btn btn-primary" [matMenuTriggerFor]="menuPDF" *ngIf="!belowMinimumReportPage">
          <i class="fa fa-file-pdf-o"></i>
          <span class="ml-2 hide-label">{{'PDF'|lang}}</span>
          <i class="fa fa-angle-down" style="padding-left: 5px"></i>
        </button>
        <mat-menu #menuPDF="matMenu">
          <button mat-menu-item (click)="printPdf()" [disabled]="!selected || !selected.length">
            <i class="fa fa-file-pdf-o"></i>
            <span>{{'printPDFButton'|lang}}</span>
          </button>
          <button mat-menu-item (click)="printQtySheet()">
            <i class="fa fa-file-pdf-o"></i>
            <span>{{'Print Qty Sheet'|lang}}</span>
          </button>
          <button mat-menu-item (click)="printRack()">
            <i class="fa fa-file-pdf-o"></i>
            <span>{{'Print Rack'|lang}}</span>
          </button>
          <button mat-menu-item (click)="printCheckoutSheet()">
            <i class="fa fa-file-pdf-o"></i>
            <span>{{'Print Checkout Sheet'|lang}}</span>
          </button>
        </mat-menu>
        <ng-template [ngxPermissionsOnly]="[permissions.BELOW_MINIMUM_REPORT]">
          <button *ngIf="belowMinimumReportPage" class="btn btn-primary" (click)="onPrintBelowMinimunPDF()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_IMPORT]">
          <button class="btn btn-primary" *ngIf="!belowMinimumReportPage"  (click)="onImport()"><i class="fa fa-file-import"></i> {{'Import'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_LINK_CATALOG]">
          <button class="btn btn-primary" *ngIf="!belowMinimumReportPage"  (click)="linkCatalog()">{{'Link Catalog'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_ADD]">
          <button class="btn btn-success" *ngIf="!belowMinimumReportPage" (click)="onAddCatalog()"><i class="fa fa-plus-square"></i> {{'Vendor Catalog'|lang}}</button>
        </ng-template>
      </div>
      <div align="right" style="padding-right: 15px;">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_READ]" >
          <button type="button" class="btn btn-light"  *ngIf="!belowMinimumReportPage" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row">
    <div align="left" [ngClass]="showCollectedBarcodes ? '' : 'col'" [style.width]="showCollectedBarcodes ? 'calc(100% - 225px)' : ''" style="padding-left: 15px">
      <div #content class="card" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none', 'padding': 0, 'margin': 0}">
        <p-table id="masterVendorsTable" [columns]="cols" [value]="items"
                 [responsive]="true" [loading]="loading" [rowHover]="true"
                 selectionMode="multiple" [metaKeySelection]="true" [scrollable]="true"
                 [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[100,200,300, totalRecords]"
                 [lazy]="true"
                 (onPage)="onPage($event)"
                 [(selection)]="selected" [scrollHeight]="scrollHeight"
                 [resizableColumns]="true" sortMode="single"
                 (selectionChange)="selectionChange()" >

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns; trackBy: col?.field" >
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr #tableHeader >
              <th *ngFor="let col of columns; trackBy: col?.field"
                  [hidden]="!col.visible"
                  [ngStyle]="{'width': col.width +'px'}" pResizableColumn
                  [pSortableColumnDisabled]="!col.sortable" [pSortableColumn]="col.field"
                  (click)="onSort(col)">
                {{col.header}}
                <ng-container *ngIf="col.sortable">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </tr>
            <tr #tableFilter>
              <th *ngFor="let col of columns; trackBy: col?.field" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
                <mat-form-field *ngSwitchCase="'VD1_NAME'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD1_NAME">
                    <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                    <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD1_ID">
                      {{vendor.VD1_NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'MD2_ACTIVE'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams['MD2_ACTIVE']" (selectionChange)="filterChanged(col.field, $event.value)">
                    <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                      {{flag.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input *ngSwitchCase="'MD1_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD1_VENDOR_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD1_OEM_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD1_DESC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD1_UNIT_PRICE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <mat-form-field *ngSwitchCase="'MD2_STOCK_LEVEL'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                    <mat-option *ngFor="let slevel of stockLevelsDP" [value]="slevel.value">
                      <div align="center" >
                    <span *ngIf="slevel['value'] === '0'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(165,161,165);" />
                      </svg>
                    </span>
                        <span *ngIf="slevel['value'] === '1'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(41,172,28);" />
                      </svg>
                    </span>
                        <span *ngIf="slevel['value'] === '2'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(252,198,20);" />
                      </svg>
                    </span>
                        <span *ngIf="slevel['value'] === '3'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(177,19,10);" />
                      </svg>
                    </span>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input *ngSwitchCase="'MD2_ON_HAND_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD2_AVAILABLE_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD2_MIN_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD2_RACK'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <mat-form-field *ngSwitchCase="'MD1_UM1_PRICE_NAME'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="unitCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.MD1_UM1_PRICE_NAME">
                    <ngx-mat-select-search [formControl]="unitFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                    <mat-option *ngFor="let unit of filteredUnits" [value]="unit.UM1_ID">
                      {{unit.UM1_NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'C00_NAME'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="masterCategoriesCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.C00_NAME">
                    <ngx-mat-select-search [formControl]="masterCategoriesFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                    <mat-option *ngFor="let masterCategory of filteredMasterCategories" [value]="masterCategory.C00_ID">
                      {{masterCategory.C00_NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'CA1_NAME'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="categoriesCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.CA1_NAME">
                    <ngx-mat-select-search [formControl]="categoriesFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                    <mat-option *ngFor="let category of filteredCategories" [value]="category.CA1_ID">
                      {{category.CA1_NAME}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input *ngSwitchCase="'GL1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <input *ngSwitchCase="'MD1_UPC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                <mat-form-field *ngSwitchCase="'MD1_BODY'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                    <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                      {{flag.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'MD1_DETAIL'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                    <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                      {{flag.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'MD1_PAINT'" [style]="{'width':'100%'}">
                  <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                    <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                      {{flag.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (dblclick)="onEdit(rowData)">
              <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" class="ui-resizable-column" >
                <div *ngIf="col.field == 'MD2_STOCK_LEVEL'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <div align="center" >
                <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '0'" style="vertical-align: bottom;">
                  <svg width="25" height="25">
                    <rect width="25" height="25" style="fill:rgb(165,161,165);" />
                  </svg>
                </span>
                    <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '1'" style="vertical-align: bottom;">
                  <svg width="25" height="25">
                    <rect width="25" height="25" style="fill:rgb(41,172,28);" />
                  </svg>
                </span>
                    <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '2'" style="vertical-align: bottom;">
                  <svg width="25" height="25">
                    <rect width="25" height="25" style="fill:rgb(252,198,20);" />
                  </svg>
                </span>
                    <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '3'" style="vertical-align: bottom;">
                  <svg width="25" height="25">
                    <rect width="25" height="25" style="fill:rgb(177,19,10);" />
                  </svg>
                </span>
                  </div>
                </ng-template>
                <ng-template #elseBlock>
                  <div *ngIf="col.field == 'MD1_BODY' || col.field == 'MD1_DETAIL' || col.field == 'MD1_PAINT' || col.field == 'MD2_ACTIVE'; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i><span *ngIf="rowData[col.field] != 1">-</span>
                  </ng-template>
                  <ng-template #elseBlock>
                    <div *ngIf="col.field == 'MD2_RACK'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                      {{ rowData['MD2_RACK'] }} - {{ rowData['MD2_DRAWER'] }} - {{ rowData['MD2_BIN'] }}
                    </ng-template>
                    <ng-template #elseBlock>
                      <div *ngIf="col.field == 'MD1_UNIT_PRICE'; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <currency [value]="rowData[col.field]" [precision]="5"></currency>
                      </ng-template>
                      <ng-template #elseBlock>
                        {{rowData[col.field]}}
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="cols.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Customer Data'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="showCollectedBarcodes" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}" style="padding-left: 10px; width: 210px">
      <div id="barcodes-body" class="card-body card" style="padding: 0;" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
        <div #barcodesTableHeader class="row row-aligned" style="height: 37px; border: 1px solid rgba(0,0,0,.12); margin-bottom: -1px; margin-left: 0px; margin-right: 0px;">
          <div class="col" align="left" style="padding-left: 0px; padding-right: 0px">
            <button class="btn btn-primary" (click)="clearAllCollectedBarcodes()" [disabled]="!collectedBarcodesCols || !collectedBarcodesCols.length">
              <i class="fa fa-trash"></i>
              <span>{{'Clear All'|lang}}</span>
            </button>
            <button class="btn btn-primary" (click)="printCollectedBarcodes()" [disabled]="!collectedBarcodesCols || !collectedBarcodesCols.length">
              <i class="fa fa-file-pdf-o"></i>
              <span>{{'Print'|lang}}</span>
            </button>
          </div>
          <div align="right" style="padding-right: 5px; padding-top: 5px;">
            <i class="fa fa-window-close" mat-dialog-close (click)="closeCollectedBarcodesPanel()"></i>
          </div>
        </div>
        <div id="table-card" class="card" [ngStyle]="{'height': tableHeight, 'max-height':'none', 'overflow':'none'}" style="border: 1px solid rgba(0,0,0,.12); padding: 0">
          <p-table #ordersTable id="ordersTable" [columns]="collectedBarcodesCols" [value]="collectedBarcodes"
                   [responsive]="true" [rowHover]="true"
                   selectionMode="multiple" [metaKeySelection]="true" [scrollable]="true"
                   [(selection)]="selectedBarcode" [scrollHeight]="barcodeTableHeight">
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
                  <span *ngIf="col.field == 'BTN_DELETE'"><i class="fa fa-trash" (click)="removeBarcodeClick(rowData)" style="float:left; font-size: 24px;"></i></span>
                  <span *ngIf="col.field == 'MD1_PART_NUMBER'">
                        {{rowData['MD1_PART_NUMBER']}}
                    </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="collectedBarcodesCols.length" >
                  {{'No records found'|lang}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog acceptLabel="{{acceptLabel}}" header="{{confirmationHeader}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
