@import "../../../scss/_ngtable";

/deep/ body .ui-table .ui-table-caption {
  padding-bottom: 0;
}

/deep/ body .ui-table .ui-dropdown-panel .ui-dropdown-items p-dropdownitem:last-child .ui-dropdown-item {
  span::before {
    content: "All";
    visibility: visible;
  }
  span::after {
    content: "";
  }
  span {
    visibility: hidden;
  }
}