<div #setupWizardModal id="setupWizardModal" style="height: 100%;">
  <div #header style="height: 40px">
    <div style="float: right">
      <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
        <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="margin-right: 15px"><i class="fa fa-language"></i></button>
      </ng-template>
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{title}}</h2>
  </div>
  <mat-horizontal-stepper #stepper [linear]="true" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}" (selectionChange)="stepperSelectionChange($event)">
    <mat-step [editable]="isEditable">
      <form>
        <ng-template matStepLabel>{{'Welcome'|lang}}</ng-template>
          <p>{{'Welcome to Nuventory Setup wizard.'|lang}}</p>
          <p>{{'This wizard will help you setup new customer in each of the steps mentioned in the head bar above.'|lang}}</p>
          <p>{{"Click 'Next' when you are ready to begin."|lang}}</p>
      </form>
    </mat-step>
    <mat-step [editable]="isEditable">
      <form>
        <ng-template matStepLabel>{{'Company'|lang}}</ng-template>
        <div #actionbarCompany class="row align-items-end" style="height: 74px">
          <div class="col" style="padding-right: 0px">
            <p>{{'Create new company or companies first by entering below'|lang}}:</p>
            <p>{{'Select F.M. checkbox if uses Finish Master, Mitchell if uses Mitchell system.'|lang}}</p>
          </div>
          <div class="col-auto" style="padding-right: 15px;">
            <button  class="btn btn-success" (click)="addCompany()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
            <button class="btn btn-danger" [disabled]="!selectedCompany" (click)="deleteCompany()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
          </div>
        </div>
        <p-table [columns]="colsCompany" [value]="newCompaniesDP"
                 [responsive]="true" [loading]="loading" [rowHover]="true"
                 selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
                 [paginator]="false" [(selection)]="selectedCompany" [scrollHeight]="scrollHeightCompany">
          <ng-template pTemplate="header" let-columns>
            <tr #tableHeader style="margin-right: 15px">
              <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width, 'min-width': col.minWidth}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <mat-expansion-panel disabled="true" [expanded]="rowData.errors && rowData.errors.length" style="background-color: rgba(0, 0, 0, 0);">
                <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px" style="padding-left: 0px; padding-right: 0px">
                  <td *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'min-width': col.minWidth, 'text-align': col.align}" [hidden]="!col.visible" class="noneoverflow" [pEditableColumn]="rowData" [pEditableColumnField]="col" style="color: #333333;font-size: 13px;">
                    <span *ngIf="col.field == 'CO1_MITCHELL_FLAG'">
                      <mat-checkbox [labelPosition]="after" [(ngModel)]="rowData['CO1_MITCHELL_FLAG']" name="CO1_MITCHELL_FLAG_{{rowIndex}}_{{rowData['CO1_SHORT_CODE']}}" (change)="rowData[col.field] = $event.checked ? 1 : 0">
                      </mat-checkbox>
                    </span>
                    <span *ngIf="col.field == 'CO1_CCC_FLAG'">
                      <mat-checkbox [labelPosition]="after" [(ngModel)]="rowData['CO1_CCC_FLAG']" name="CO1_CCC_FLAG_{{rowIndex}}_{{rowData['CO1_SHORT_CODE']}}" (change)="rowData[col.field] = $event.checked ? 1 : 0">
                      </mat-checkbox>
                    </span>
                    <span *ngIf="col.field != 'CO1_MITCHELL_FLAG' && col.field != 'CO1_CCC_FLAG'" class="editable-cells">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData[col.field]" name="{{rowData[col.field]}}_{{rowIndex}}_{{rowData['CO1_SHORT_CODE']}}" style="height: 27px">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                        </ng-template>
                      </p-cellEditor>
                    </span>
                  </td>
                </mat-expansion-panel-header>
                <div class="col" *ngIf="rowData.errors && rowData.errors.length">
                  <p *ngFor="let error of rowData.errors" style="color: #FF4136">{{error}}</p>
                </div>
              </mat-expansion-panel>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="colsCompany.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </mat-step>
    <mat-step [editable]="isEditable">
      <form>
        <ng-template matStepLabel>{{'Shops'|lang}}</ng-template>
        <div #actionbarShop class="row align-items-end" style="height: 74px">
          <div class="col" style="padding-right: 0px">
            <p>{{"Create new shops by entering shop information below (Select 'Ctr' if the shop is a central warehouse)"|lang}}:</p>
          </div>
          <div class="col-auto" style="padding-right: 15px;">
            <button  class="btn btn-success" (click)="addShop()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
            <button class="btn btn-danger" [disabled]="!selectedShop" (click)="deleteShop()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
          </div>
        </div>
        <p-table [columns]="colsShop" [value]="newShopsDP"
                 [responsive]="true" [loading]="loading" [rowHover]="true"
                 selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
                 [paginator]="false" [(selection)]="selectedShop" [scrollHeight]="scrollHeightShop">
          <ng-template pTemplate="header" let-columns>
            <tr #tableHeader style="margin-right: 15px">
              <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width, 'min-width': col.minWidth}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <mat-expansion-panel disabled="true" [expanded]="rowData.errors && rowData.errors.length" style="background-color: rgba(0, 0, 0, 0);">
                <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px" style="padding-left: 0px; padding-right: 0px">
                  <td *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'min-width': col.minWidth, 'text-align': col.align}" [hidden]="!col.visible" class="noneoverflow" [pEditableColumn]="rowData" [pEditableColumnField]="col" style="color: #333333;font-size: 13px;">
                    <span *ngIf="col.field == 'CO1_ID'">
                      <app-company-dropdown [(field)]="rowData.CO1_ID" [(dataProvider)]="companiesDP"></app-company-dropdown>
                    </span>
                    <span *ngIf="col.field == 'LO1_CENTER_FLAG'">
                       <mat-checkbox [labelPosition]="after" [(ngModel)]="rowData[col.field]" name="LO1_CENTER_FLAG_{{rowIndex}}" (change)="rowData[col.field] = $event.checked ? 1 : 0">
                      </mat-checkbox>
                    </span>
                    <span *ngIf="col.field != 'CO1_ID' && col.field != 'LO1_CENTER_FLAG'" class="editable-cells">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData[col.field]" name="{{rowData[col.field]}}_{{rowIndex}}" style="height: 27px">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                        </ng-template>
                      </p-cellEditor>
                    </span>
                  </td>
                </mat-expansion-panel-header>
                <div class="col" *ngIf="rowData.errors && rowData.errors.length">
                  <p *ngFor="let error of rowData.errors" style="color: #FF4136">{{error}}</p>
                </div>
              </mat-expansion-panel>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="colsShop.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </mat-step>
    <mat-step [editable]="isEditable">
      <form>
        <ng-template matStepLabel>{{'Users'|lang}}</ng-template>
        <div #actionbarUser class="row align-items-end" style="height: 74px">
          <div class="col" style="padding-right: 0px">
            <p>{{"Create new users, select their affiliations and access level (ALL users will have default password 'default', change this as soon as possible)"|lang}}:</p>
          </div>
          <div class="col-auto" style="padding-right: 15px;">
            <button  class="btn btn-success" (click)="addUser()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
            <button class="btn btn-danger" [disabled]="!selectedUser" (click)="deleteUser()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
          </div>
        </div>
        <p-table [columns]="colsUser" [value]="newUsersDP"
                 [responsive]="true" [loading]="loading" [rowHover]="true"
                 selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
                 [paginator]="false" [(selection)]="selectedUser" [scrollHeight]="scrollHeightUser">
          <ng-template pTemplate="header" let-columns>
            <tr #tableHeader style="margin-right: 15px">
              <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width, 'min-width': col.minWidth}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <mat-expansion-panel disabled="true" [expanded]="rowData.errors && rowData.errors.length" style="background-color: rgba(0, 0, 0, 0);">
                <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px" style="padding-left: 0px; padding-right: 0px">
                  <td *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'min-width': col.minWidth, 'text-align': col.align}" [hidden]="!col.visible" class="noneoverflow" [pEditableColumn]="rowData" [pEditableColumnField]="col" style="color: #333333;font-size: 13px;">
                    <span *ngIf="col.field == 'ID'">
                      <app-company-location-dropdown [(field)]="rowData.ID" [(dataProvider)]="companyLocationDP" (dataChange)="affiliationChanged(rowData, $event)"></app-company-location-dropdown>
                    </span>
                    <span *ngIf="col.field == 'GR1_ID'">
                      <select [(value)]="rowData['GR1_ID']" style="width: 100%" (change)="rowData[col.field] = $event.target.value">
                        <option [value]="null" disabled selected>-{{'Select'|lang}}-</option>
                        <option *ngFor="let group of groupDP" [value]="group.GR1_ID">
                          {{group.GR1_NAME}}
                        </option>
                      </select>
                    </span>
                    <span *ngIf="col.field != 'ID' && col.field != 'GR1_ID'" class="editable-cells">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData[col.field]" name="{{rowData[col.field]}}_{{rowIndex}}" style="height: 27px">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                        </ng-template>
                      </p-cellEditor>
                    </span>
                  </td>
              </mat-expansion-panel-header>
              <div class="col" *ngIf="rowData.errors && rowData.errors.length">
                <p *ngFor="let error of rowData.errors" style="color: #FF4136">{{error}}</p>
              </div>
              </mat-expansion-panel>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="colsUser.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </mat-step>
    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>{{'Import Data'|lang}}</ng-template>
      <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': scrollHeightUploadList, 'max-height':'none'}">
        <app-import-master-data [(companiesProvider)]="companiesDP" [(shopsProvider)]="shopsDP" [ngStyle]="{'height': scrollHeightUploadList, 'max-height':'none'}"></app-import-master-data>
      </mat-dialog-content>
    </mat-step>
    <mat-step [editable]="isEditable">
      <form>
        <ng-template matStepLabel>{{'Finish'|lang}}</ng-template>
        <p>{{'This concludes the setup wizard. Please remember to enter additional information/setup if necessary. Please check and verify all changes are correct before using the system.'|lang}}</p>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-dialog-actions align="end" #footer style="height: 40px">
    <div class="col" style="padding-right: 24px">
      <button *ngIf="stepper.selectedIndex !== 0" class="btn btn-light" (click)="onBackClick()" [disabled]="loading">{{'Back'|lang}}</button>
      <button *ngIf="stepper.selectedIndex !== 0 && stepper.selectedIndex !== 4 && stepper.selectedIndex !== 5" class="btn btn-light" (click)="onSkipClick()"  [disabled]="loading">{{'Skip'|lang}}</button>
      <button *ngIf="stepper.selectedIndex !== 5" class="btn btn-light" (click)="onNextClick()"  [disabled]="loading">{{'Next'|lang}}</button>
      <button *ngIf="stepper.selectedIndex === 5" class="btn btn-light" (click)="onFinishClick()"  [disabled]="loading">{{'Finish'|lang}}</button>
    </div>
  </mat-dialog-actions>
</div>
<p-confirmDialog acceptLabel="{{'OKButton'|lang}}" header="{{'ERROR'|lang}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>