@import "../../../scss/_ngtable";

::ng-deep .mat-dialog-title {
  margin: 0;
}
.action-labels {
  font-weight: bold;
  font-size: large;
}

.noneoverflow {
  overflow: hidden;
  white-space: nowrap;
}

::ng-deep mat-checkbox {
  .mat-checkbox-layout {
    margin: 0;
  }
}

::ng-deep .editable-cells {
  .mat-form-field-underline {
    top: 22px;
  }

  .mat-form-field-infix {
    border: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
  }
}

::ng-deep div.ui-table-scrollable-header-box {
  margin-right: 15px;
}

::ng-deep .mat-horizontal-stepper-header {
  height: 40px;
}

::ng-deep #uploadTable .ui-table .ui-table-tbody > tr > td {
  border-left: 1px solid #c8c8c8 !important;
  border-right: 1px solid #c8c8c8 !important;
}

::ng-deep #setupWizardModal {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  div.mat-form-field-infix{
    border: 0;
    top: -2px;
  }
  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    top: 22px;
  }

  .mat-expansion-panel-body {
    padding: 0;
    p {
      margin: 0;
    }
  }
}

/deep/ body .ui-table .ui-table-thead > tr > mat-expansion-panel > mat-expansion-panel-header > th {
  padding: 0.2em 0.4em  !important;
}

/deep/ body .ui-table .ui-table-thead > tr > mat-expansion-panel > mat-expansion-panel-header > th > mat-form-field > div.mat-form-field-wrapper {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/deep/ body .ui-table .ui-table-thead > tr > mat-expansion-panel > mat-expansion-panel-header > th > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
  border-top: 0px !important;
}

/deep/ body .ui-table .ui-table-thead > tr > mat-expansion-panel > mat-expansion-panel-header > th > mat-form-field > div.mat-form-field-wrapper >  div.mat-form-field-underline {
  top: 1.85em !important;
  bottom: 0em !important;
}

/deep/ body .ui-table .ui-table-thead > tr > mat-expansion-panel > mat-expansion-panel-header > span.mat-content {
  height: 24px;
}

.mat-expansion-panel {
  box-shadow: none;
}