<div class="card-body" style="padding-left: 0; padding-top: 0;">
    <button class="btn btn-primary" routerLink="/rights"><i class="fa fa-paperclip"></i> {{'Assignments'|lang}}</button>
    <button class="btn btn-primary" routerLink="/rights/roles"><i class="fa fa-users"></i> {{'Roles'|lang}}</button>
    <ng-template [ngxPermissionsOnly]="[permissions.PERMISSION_READ]">
        <button class="btn btn-primary" routerLink="/rights/permissions"><i class="fa fa-lock"></i> {{'Permissions'|lang}}</button>
    </ng-template>
</div>