<div #techniciansView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_ADD]">
          <button  class="btn btn-success" (click)="onAddNewTechnician()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected || selected.length != 1" (click)="editRecord()"><i class="fa fa-pencil"></i> {{'#Edit#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_ADD]">
          <button class="btn btn-primary" [disabled]="!selected || selected.length != 1" (click)="onCloneTechnician()"><i class="fa fa-clone"></i> {{'#Copy#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length != 1" (click)="onDeleteTechnician()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
          {{col.header}}
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
          <mat-form-field *ngSwitchCase="'CO1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="companyCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged('CO1_ID', $event.value)" [ngModel]="filter.CO1_NAME">
              <ngx-mat-select-search [formControl]="companyFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let company of filteredCompanies" [value]="company.CO1_ID">
                {{company.CO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'LO1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged('LO1_ID', $event.value)" [ngModel]="filter.LO1_NAME">
              <ngx-mat-select-search [formControl]="locationByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShopsBy" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'TE1_ACTIVE'" [style]="{'width':'100%'}">
            <mat-select [(ngModel)]="page.filterParams['TE1_ACTIVE']" (selectionChange)="filterChanged(col.field, $event.value)">
              <mat-option *ngFor="let flag of flagsActive" [value]="flag.value">
                {{flag.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input *ngSwitchCase="'TE1_SHORT_CODE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'TE1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'US1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (dblclick)="onEditTechnician(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
          <span [ngSwitch]="col.field">
            <span *ngSwitchCase="'TE1_BARCODE'">
              TECH-{{rowData['TE1_SHORT_CODE']}}
            </span>
            <span *ngSwitchCase="'TE1_ACTIVE'">
              <div align="center" ><i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i><span *ngIf="rowData[col.field] != 1">-</span></div>
            </span>
            <span *ngSwitchDefault>
              <span>{{rowData[col.field]}}</span>
            </span>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Technician'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>