<div style="height: 100%;" #averageChartModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Overall Pie Charts'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <div class="row" [ngStyle]="{'height': scrollHeight, 'max-height':'none'}">
      <div class="col-12" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
        <div [ngStyle]="{'height': listHeight, 'max-height': listHeight}">
          <div id="grid-card" class="card" [ngStyle]="{'height': listHeight, 'max-height':'none'}" style="border: 1px solid rgba(0,0,0,.12); margin: 0">
            <mat-grid-list #gridlist cols="3" rowWidth="120px" gutterSize="8px" rowHeight="36px" [ngStyle]="{'height': listHeight, 'max-height':'none'}">
              <mat-grid-tile *ngFor="let item of items" role="listitem" >
                <div class="col" style="height: 100%; margin: 5px; padding-top: 5px; padding-bottom: 5px;">
                  <div class="row" align="left" style="display: list-item;">
                    <span>{{item['shopName']}}</span> - {{item['value']}}%
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
  </mat-dialog-actions>
</div>