<ng-container *ngIf="materialDP">
  <mat-form-field class="mat-form-field-width-auto" >
    <mat-select [disabled]="disabled" [(ngModel)]="field" name="{{field}}_{{index}}" (selectionChange)="onChange($event)">
      <mat-option *ngFor="let vendor of vendors" [value]="vendor.VD1_ID" >
        {{vendor.VD1_NAME}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!materialDP">
  <form>
    <select class="form-control" [disabled]="disabled" [(ngModel)]="field" name="{{field}}_{{index}}" (ngModelChange)="onChange($event)">
      <option *ngFor="let vendor of vendors" [value]="vendor.VD1_ID">
        {{vendor.VD1_NAME}}
      </option>
    </select>
  </form>
</ng-container>
