<div #salesView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-md-auto" align="left">
        <div>
          <app-companies-checkbox-dropdown [selectedCompanies]="selectedCompanies" (selectedCompaniesChange)="selectedCompaniesChange($event)"></app-companies-checkbox-dropdown>
        </div>
      </div>
      <div class="col-md-auto" align="left">
        <div>
          <app-shops-checkbox-dropdown [selectedCompanies]="selectedCompanies" [selectedShops]="selectedShops" (selectedShopsChange)="selectedShopsChange($event)"></app-shops-checkbox-dropdown>
        </div>
      </div>
      <div class="col-md-auto" align="left">
        <div>
          <app-reporting-filter [range]="1"></app-reporting-filter>
        </div>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-primary" (click)="getChartData()" [disabled]="disableRunButton">{{'Run'|lang}}</button>
      </div>
      <div class="col" align="right">
        <a class="btn btn-secondary" href="/files/CCC%20Export%20Instructions.pdf" target="_blank">
          <i class="fa fa-download"></i>&nbsp;{{'CCC Export Instructions'|lang}}
        </a>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
    <div *ngIf="showNoData" style="padding-top: 20px; padding-bottom: 20px;">{{'There is no data'|lang}}</div>
    <div #sales class="card"></div>
  </div>
</div>