<div class="animated fadeIn">
    <ng-template [ngxPermissionsOnly]="[]">
        <button type="button" class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg"></i> {{'#Export#'|lang}}</button>
        <button type="button" class="btn btn-orange"><i class="fa fa-filter fa-lg"></i> {{'Advanced Search'|lang}}</button>
    </ng-template>
    <form #f="ngForm" novalidate class="ui form" (ngSubmit)="onSubmit()">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <ngx-datatable
                class="material"
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="80"
                [footerHeight]="50"
                [rowHeight]="30"
                [externalPaging]="true"
                [externalSorting]="true"
                (sort)="onSort($event)"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                [limit]="page.size"
                [sortType]="multi"
                (page)='setPage($event)'>

            <ngx-datatable-column [sortable]="true" prop="ED1_LOGIN">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label" (click)="sort()">{{'Login'|lang}}</span>
                    <input class="filter-input" type="date" name="logout" [(ngModel)]="loginFilter" (change)="onSubmit()">
                    </span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                    {{row.ED1_LOGIN}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" prop="ED1_LOGOUT">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label" (click)="sort()">{{'Logout'|lang}}</span>
                        <input class="filter-input" type="date" name="logout" [(ngModel)]="logoutFilter" (change)="onSubmit()">
                    </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ED1_LOGOUT}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" prop="ED1_USER">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label" (click)="sort()">{{'User'|lang}}</span><input class="filter-input" type="text" name="user" [(ngModel)]="userFilter"></span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ED1_USER}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" prop="ED1_IP">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label" (click)="sort()">{{'IP'|lang}}</span><input class="filter-input" type="text" name="ip" [(ngModel)]="ipFilter"></span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ED1_IP}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true" prop="ED1_USER_INFO">
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label" (click)="sort()">{{'User Info'|lang}}</span>
                        <input class="filter-input" type="text" name="userInfo" [(ngModel)]="userInfoFilter">
                    </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ED1_USER_INFO}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <input type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"
               tabindex="-1" />
    </form>
</div>