<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.USERS_EDIT]">
            <button class="btn btn-primary {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()"><i class="fa fa-user fa-lg"></i> {{'#Save#'|lang}}</button>
        </ng-template>
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngIf]="action != 'add'">
          <ng-template [ngxPermissionsOnly]="[permissions.PROFILE_READ, permissions.CHANGE_PASSWORD, permissions.ADMIN_CHANGE_PASSWORD]">
              <button class="btn btn-primary" (click)="changePassword()"><i class="fa fa-key fa-lg"></i> {{'Change password'|lang}}</button>
          </ng-template>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
      <div class="card-header">
          <div class="panel-heading">
              <i class="fa fa-user fa-lg"></i>
              {{ record.CA1_NAME }}
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="row">
            <div class="col">
              <ng-template [ngIf]="errors.length" >
                <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
              </ng-template>
              <div class="row" >
                <div class="col" >
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'US1_LOGIN'|lang}}"  [(ngModel)]="record.US1_LOGIN" name="US1_LOGIN" [disabled]="!hasEditRole">
                  </mat-form-field>
                </div>
                <div class="col" >
                  <mat-form-field style="padding-right: 10px" class="mat-form-field-width-auto" >
                    <mat-select [disabled]="!canEditUserGroup" placeholder="{{'Group Name'|lang}}"  [(ngModel)]="record.GR1_ID" name="GR1_ID" (selectionChange)="clearMasterVendor()">
                      <mat-option *ngFor="let group of groups" [value]="group.GR1_ID">
                        {{group.GR1_NAME}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="action == 'add'">
                <div class="row" >
                  <div class="col">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'US1_PASS'|lang}}"  [(ngModel)]="record.password" name="US1_PASS" >
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'US1_CONFIRM_PASS'|lang}}"  [(ngModel)]="record.repeat_password" name="US1_CONFIRM_PASS" >
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col" >
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'US1_NAME'|lang}}"  [(ngModel)]="record.US1_NAME" name="US1_NAME" [disabled]="!hasEditRole">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'US1_EMAIL'|lang}}" [(ngModel)]="record.US1_EMAIL" name="US1_EMAIL" [disabled]="!hasEditRole">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'US1_PHONE'|lang}}" [(ngModel)]="record.US1_PHONE" name="US1_PHONE" [disabled]="!hasEditRole">
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >
                <div class="col" >
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled  [(ngModel)]="record.CO1_NAME" name="CO1_NAME" >
                        <button mat-button *ngIf="record.CO1_ID" matSuffix mat-icon-button aria-label="Clear Company" (click)="clearCompany()" [disabled]="!hasEditRole">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button mat-button color="primary" (click)="selectCompany()" [disabled]="!hasEditRole">{{'CompanyButton'|lang}}</button>
                    </div>
                  </div>
                </div>
                <div class="col" >
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'LO1_NAME'|lang}}" disabled  [(ngModel)]="record.LO1_NAME" name="LO1_NAME" >
                        <button mat-button *ngIf="record.LO1_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearShop()" [disabled]="!hasEditRole">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button mat-button color="primary" [disabled]="!record.CO1_ID || !hasEditRole" (click)="selectShop()">{{'ShopButton'|lang}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="record.GR1_ID === '6'" class="row align-items-center">
                <div class="col" style="padding-right: 0px;">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'VD0_NAME'|lang}}" disabled  [(ngModel)]="record.VD0_NAME" name="VD0_NAME" >
                    <button mat-button *ngIf="record.VD0_ID" matSuffix mat-icon-button aria-label="Clear Master Vendor" (click)="clearMasterVendor()" >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-md-auto" style="padding-left: 0px;">
                  <button mat-button color="primary" (click)="selectMasterVendor()">{{'VD0_NAME'|lang}}</button>
                </div>
              </div>

              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_CORPORATE_REPORT" name="US1_CORPORATE_REPORT" (change)="record.US1_CORPORATE_REPORT = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                   {{'US1_CORPORATE_REPORT'|lang}}
                </mat-checkbox>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_ALLOW_MOBILE_JOB_CREATE" name="US1_ALLOW_MOBILE_JOB_CREATE" (change)="record.US1_ALLOW_MOBILE_JOB_CREATE = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                   {{'US1_ALLOW_MOBILE_JOB_CREATE'|lang}}
                </mat-checkbox>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_INVENTORY_REPORT" name="US1_INVENTORY_REPORT" (change)="record.US1_INVENTORY_REPORT = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                   {{'US1_INVENTORY_REPORT'|lang}}
                </mat-checkbox>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_GATEKEEPER" name="US1_GATEKEEPER" (change)="record.US1_GATEKEEPER = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                   {{'US1_GATEKEEPER'|lang}}
                </mat-checkbox>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_PO_NOTIFY" name="US1_PO_NOTIFY" (change)="record.US1_PO_NOTIFY = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                  {{'Emailing Purchase Order'|lang}}
                </mat-checkbox>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_ACTIVE" name="US1_ACTIVE" (change)="record.US1_ACTIVE = $event.checked ? 1 : 0" [disabled]="!hasEditRole">
                  {{'Active'|lang}}
                </mat-checkbox>
              </div>
            </div>
            <div class="col" *ngIf="action != 'add'">
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
                <div class="col" >{{record.US1_CREATED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
                <div class="col" >{{record.US1_CREATED_BY_NAME}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
                <div class="col" >{{record.US1_MODIFIED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
                <div class="col" >{{record.US1_MODIFIED_BY_NAME}}</div>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
