<ng-container *ngIf="materialDP">
  <mat-form-field class="mat-form-field-width-auto" >
    <mat-select [disabled]="disabled" [(ngModel)]="binID" name="MD2_BIN_{{index}}" (selectionChange)="selectionChanged($event.value)">
      <mat-option *ngFor="let bin of binDP; trackBy: bin?.data" [value]="bin.data" >
        {{bin.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!materialDP">
  <form>
    <select class="form-control" [disabled]="disabled" [(ngModel)]="binID" name="MD2_BIN_{{index}}" (ngModelChange)="selectionChanged($event)">
      <option *ngFor="let bin of binDP; trackBy: bin?.data" [value]="bin.data">
        {{bin.label}}
      </option>
    </select>
  </form>
</ng-container>
