<mat-form-field class="mat-form-field-width-auto">
  <input matInput #inputPartNumber placeholder="{{'MD0_ID'|lang}}" [matAutocomplete]="auto" [(ngModel)]="partNumber"
           [name]="partNumber" (input)="search($event.target.value)" >
  <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onSelected($event)" >
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let item of filteredArray" [value]="item.MD0_ID">{{'[' + item.VD0_NAME + '] ' + item.MD0_PART_NUMBER + ' - ' + item.MD0_DESC1}}</mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>