<div class="container">
    <div class="middle">
        <div class="card">
            <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)' }"></ngx-loading>
            <form (ngSubmit)="onSignUp(f)" #f="ngForm" class="form-horizontal">
                <div class="card-header" style="background-color: #fff!important;">
                    <img src="assets/img/small-CMYK.jpg" height="24">
                    <span style="float: right">+1 (833) 688-3689</span>
                </div>
                <div class="card-body">
                    <div>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="{{'#Username#'|lang}}" [(ngModel)]="username" id="username" name="username" >
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field style="width: 100%" >
                            <input matInput placeholder="{{'#Password#'|lang}}" [(ngModel)]="password" id="password" name="password" type="password" >
                        </mat-form-field>
                    </div>
                    <div style="width: 50%;">
                      <mat-form-field class="mat-form-field-width-auto" >
                        <mat-select [(ngModel)]="locale" placeholder="{{'#Languages#'|lang}}"  name="LA1_ID" (selectionChange)="langChange($event)" >
                          <mat-option *ngFor="let lang of languages" [value]="lang.LA1_LOCALE" >
                            {{lang.LA1_NAME}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <mat-error *ngIf="error" style="padding-top: 5px;">{{error}}</mat-error>
                </div>
                <div class="card-footer" align="right">
                    <button mat-raised-button color="primary" type="submit">{{'#Login#'|lang}}</button>
                </div>
            </form>
         </div>
    </div>
</div>
