.container {
  display: table;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}