<div style="height: 100%;" #masterDataModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{data.title}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <p-table id="masterDataTable" [columns]="cols" [value]="items"
       [responsive]="true" [loading]="loading" [rowHover]="true"
       selectionMode="multiple" [scrollable]="true"
       [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
       (onPage)="onPage($event)" [lazy]="true"
       [(selection)]="selected" [scrollHeight]="scrollHeight"
       [resizableColumns]="true"
       [metaKeySelection]="true" >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" >
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader >
          <th *ngFor="let col of columns"
              [hidden]="!col.visible"
              [ngStyle]="{'width': col.width +'px'}" pResizableColumn >
            {{col.header}}
          </th>
        </tr>
        <tr #tableFilter>
          <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
            <mat-form-field *ngSwitchCase="'VD1_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD1_NAME">
                <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD1_ID">
                  {{vendor.VD1_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MD2_ACTIVE'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams['MD2_ACTIVE']" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input *ngSwitchCase="'MD1_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD1_VENDOR_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD1_OEM_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD1_DESC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD1_UNIT_PRICE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'MD2_STOCK_LEVEL'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let slevel of stockLevelsDP" [value]="slevel.value">
                  <div align="center" >
                    <span *ngIf="slevel['value'] === '0'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(165,161,165);" />
                      </svg>
                    </span>
                    <span *ngIf="slevel['value'] === '1'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(41,172,28);" />
                      </svg>
                    </span>
                    <span *ngIf="slevel['value'] === '2'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(252,198,20);" />
                      </svg>
                    </span>
                    <span *ngIf="slevel['value'] === '3'" style="vertical-align: middle;">
                      <svg width="12" height="12">
                        <rect width="12" height="12" style="fill:rgb(177,19,10);" />
                      </svg>
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input *ngSwitchCase="'MD2_ON_HAND_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD2_AVAILABLE_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD2_MIN_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD2_RACK'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'UM1_PRICE_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="unitCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.UM1_PRICE_NAME">
                <ngx-mat-select-search [formControl]="unitFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let unit of filteredUnits" [value]="unit.UM1_ID">
                  {{unit.UM1_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'C00_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="masterCategoriesCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.C00_NAME">
                <ngx-mat-select-search [formControl]="masterCategoriesFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let masterCategory of filteredMasterCategories" [value]="masterCategory.C00_ID">
                  {{masterCategory.C00_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'CA1_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="categoriesCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.CA1_NAME">
                <ngx-mat-select-search [formControl]="categoriesFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let category of filteredCategories" [value]="category.CA1_ID">
                  {{category.CA1_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input *ngSwitchCase="'GL1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD1_UPC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'MD1_BODY'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MD1_DETAIL'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MD1_PAINT'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" class="ui-resizable-column" >
            <div *ngIf="col.field == 'MD2_STOCK_LEVEL'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '0'" style="vertical-align: bottom;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(165,161,165);" />
                </svg>
              </span>
              <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '1'" style="vertical-align: bottom;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(41,172,28);" />
                </svg>
              </span>
              <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '2'" style="vertical-align: bottom;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(252,198,20);" />
                </svg>
              </span>
              <span *ngIf="col.field == 'MD2_STOCK_LEVEL' && rowData['MD2_STOCK_LEVEL'] === '3'" style="vertical-align: bottom;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(177,19,10);" />
                </svg>
              </span>
            </ng-template>
            <ng-template #elseBlock>
              <div *ngIf="col.field == 'MD1_BODY' || col.field == 'MD1_DETAIL' || col.field == 'MD1_PAINT' || col.field == 'MD2_ACTIVE'; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i><span *ngIf="rowData[col.field] != 1">-</span>
              </ng-template>
              <ng-template #elseBlock>
                <div *ngIf="col.field == 'MD2_RACK'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  {{ rowData['MD2_RACK'] }} - {{ rowData['MD2_DRAWER'] }} - {{ rowData['MD2_BIN'] }}
                </ng-template>
                <ng-template #elseBlock>
                  {{rowData[col.field]}}
                </ng-template>
              </ng-template>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Customer Data'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button [mat-dialog-close]="selected" cdkFocusInitial color="primary" [disabled]="!selected" >{{'#Select#'|lang}}</button>
  </mat-dialog-actions>
</div>