<div #masterCatalogsView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_ADD]">
          <button  class="btn btn-success" (click)="onAddNew()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected || selected.length > 1" (click)="editRecord()"><i class="fa fa-pencil"></i> {{'#Edit#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_ADD]">
          <button class="btn btn-primary" [disabled]="!selected || selected.length > 1" (click)="onClone()"><i class="fa fa-clone"></i> {{'#Copy#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
        <!--<ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_EDIT]">-->
          <!--<button class="btn btn-success" (click)="linkMCatalog()"><i class="fa fa-trash"></i> {{'Link Manufacturer Catalog'|lang}}</button>-->
        <!--</ng-template>-->
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_EDIT]">
          <button class="btn btn-success" (click)="updateLinkedParts()"><i class="fa fa-trash"></i> {{'Update Linked Dist. Parts'|lang}}</button>
        </ng-template>
      </div>
      <div align="right" style="padding-right: 15px">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table [styleClass]="'shadow'"  [columns]="cols" [value]="items"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
             [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
             [lazy]="true" (onPage)="onPage($event)"
             [(selection)]="selected" [scrollHeight]="scrollHeight">
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
        <tr #tableFilter>
          <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
            <mat-form-field *ngSwitchCase="'FI1_FILE_PATH'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input *ngSwitchCase="'MD0_URL'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'MD0_SAFETY_URL'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'VD0_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD0_NAME">
                <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD0_ID">
                  {{vendor.VD0_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input *ngSwitchCase="'MD0_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD0_DESC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'MD0_UNIT_PRICE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'UM1_PRICE_NAME'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="unitCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.UM1_PRICE_NAME">
                <ngx-mat-select-search [formControl]="unitFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                <mat-option *ngFor="let unit of filteredUnits" [value]="unit.UM1_ID">
                  {{unit.UM1_NAME}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-c00category-live-search *ngSwitchCase="'C00_NAME'" [(category)]="page.filterParams[col.field]" (inputChange)="page.filterParams[col.field] = $event" (categoryChange)="filterChanged(col.field, $event)"></app-c00category-live-search>
            <app-master-category-live-search *ngSwitchCase="'CA0_NAME'" [(category)]="page.filterParams[col.field]" (inputChange)="page.filterParams[col.field] = $event" (categoryChange)="filterChanged(col.field, $event)"></app-master-category-live-search>
            <input *ngSwitchCase="'MD0_UPC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <mat-form-field *ngSwitchCase="'MD0_BODY'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MD0_DETAIL'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MD0_PAINT'" [style]="{'width':'100%'}">
              <mat-select [(ngModel)]="page.filterParams[col.field]" (selectionChange)="filterChanged(col.field, $event.value)">
                <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                  {{flag.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="onEdit(rowData)" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
            <span *ngIf="col.field == 'MD0_URL'">
              <a *ngIf="rowData[col.field] && rowData[col.field].length > 0" href="{{rowData[col.field]}}" target="_blank">
                {{rowData[col.field]}}
              </a>
            </span>
            <currency *ngIf="col.field == 'MD0_UNIT_PRICE'" [value]="rowData[col.field]"></currency>
            <span *ngIf="col.field == 'MD0_BODY' || col.field == 'MD0_DETAIL' || col.field == 'MD0_PAINT'">{{rowData[col.field] == 1 ? 'Y' : '-'}}</span>
            <span *ngIf="col.field == 'FI1_FILE_PATH'"><i *ngIf="rowData[col.field] && rowData[col.field].length > 0" class="fa fa-file-pdf-o"></i></span>
            <span *ngIf="col.field == 'MD0_SAFETY_URL'"><i *ngIf="rowData[col.field] && rowData[col.field].length > 0" class="fa fa-file-o"></i></span>
            <span *ngIf="col.field != 'MD0_URL' && col.field != 'MD0_BODY' && col.field != 'MD0_DETAIL' && col.field != 'MD0_PAINT' && col.field != 'FI1_FILE_PATH' && col.field != 'MD0_SAFETY_URL' && col.field != 'MD0_UNIT_PRICE'">{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Customer Data'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
</div>
<p-confirmDialog header="deleteConfirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>