<mat-form-field id="masterCategoryLiveSearch" class="mat-form-field-width-auto">
  <div class="example-full-width" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input matInput #mcategory [formControl]="myControl" [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" [(ngModel)]="category"
           [name]="category" (input)="search($event.target.value)"
           (keydown)="keyDown($event.keyCode)">
  </div>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="keyDown(13)">
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let item of filteredArray" [value]="item.CA0_NAME">{{item.CA0_NAME}}</mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>