<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i>
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.LO1_CREATED_BY_NAME}}{{record.LO1_CREATED_ON ? (record.LO1_CREATED_BY_NAME ? ', ': '') + (record.LO1_CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.LO1_MODIFIED_BY_NAME}}{{record.LO1_MODIFIED_ON ? (record.LO1_MODIFIED_BY_NAME ? ', ': '') + (record.LO1_MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col-8">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row align-items-center">
              <div class="col" style="padding-right: 0px;">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled  [(ngModel)]="record.CO1_NAME" name="CO1_NAME" >
                  <button mat-button *ngIf="record.CO1_ID" matSuffix mat-icon-button aria-label="Clear Company" (click)="clearCompany()" >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <button mat-button color="primary" (click)="selectCompany()">{{'CompanyButton'|lang}}</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_SHORT_CODE'|lang}}"  [(ngModel)]="record.LO1_SHORT_CODE" name="LO1_SHORT_CODE" >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_NAME'|lang}}" [(ngModel)]="record.LO1_NAME" name="LO1_NAME">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_CCCONE_NAME'|lang}}" [(ngModel)]="record.LO1_CCCONE_NAME" name="LO1_CCCONE_NAME">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_MITCHELL_SHOP_ID'|lang}}"  [(ngModel)]="record.LO1_MITCHELL_SHOP_ID" name="LO1_MITCHELL_SHOP_ID" >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row align-items-center">
                  <div class="col">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'LO1_CCC_SHOP_ID'|lang}}" [(ngModel)]="record.LO1_CCC_SHOP_ID" name="LO1_CCC_SHOP_ID">
                    </mat-form-field>
                  </div>
                  <ng-template [ngxPermissionsOnly]="[permissions.CCC_LINK_SETUP_DOWNLOAD]" >
                    <a href="/files/NuventoryCCCLinkSetup.exe" target="_blank">{{'#DownloadClient#'|lang}}</a>
                  </ng-template>
                </div>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_CCC_RFID'|lang}}" [(ngModel)]="record.LO1_CCC_RFID" name="LO1_CCC_RFID">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet1#'|lang}}" [(ngModel)]="record.LO1_ADDRESS1" name="LO1_ADDRESS1">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet2#'|lang}}" [(ngModel)]="record.LO1_ADDRESS2" name="LO1_ADDRESS2">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressCity#'|lang}}" [(ngModel)]="record.LO1_CITY" name="LO1_CITY">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressState#'|lang}}"  [(ngModel)]="record.LO1_STATE" name="LO1_STATE" >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressPostalCode#'|lang}}" [(ngModel)]="record.LO1_ZIP" name="LO1_ZIP">
                </mat-form-field>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'CY1_NAME'|lang}}" disabled  [(ngModel)]="record.CY1_NAME" name="CY1_NAME" >
                      <button mat-button *ngIf="record.CY1_ID" matSuffix mat-icon-button aria-label="Clear Country" (click)="clearCountry()" >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectCountry()" >{{'CountryButton'|lang}}</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Phone#'|lang}}"  [(ngModel)]="record.LO1_PHONE" name="LO1_PHONE" >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Fax#'|lang}}" [(ngModel)]="record.LO1_FAX" name="LO1_FAX">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'Emails'|lang}}" [(ngModel)]="record.LO1_EMAILS" name="LO1_EMAILS">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto" >
                  <mat-select placeholder="{{'Region'|lang}}" (selectionChange)="onRegionChange()" [(ngModel)]="selectedRegion" name="region">
                    <mat-option *ngFor="let region of regiones" [value]="region">
                      {{region.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto" >
                  <mat-select placeholder="{{'Timezone'|lang}}" [(ngModel)]="record.lO1_TIMEZONE" name="lO1_TIMEZONE">
                    <mat-option *ngFor="let timezone of timezones" [value]="timezone.Time_zone_id">
                      {{timezone.TzName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col" >
            <div class="row" >
              <div class="col" style="padding-top: 12px">
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.LO1_CENTER_FLAG" name="LO1_CENTER_FLAG">
                  {{'LO1_CENTER_FLAG'|lang}}
                </mat-checkbox>
              </div>
            </div>
            <div class="row" >
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput type="number" min="0" max="99" placeholder="{{'LO1_RACKS'|lang}}" [(ngModel)]="record.LO1_RACKS" name="LO1_RACKS">
                </mat-form-field>
              </div>
            </div>
            <div class="row" >
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput type="number" min="0" max="99" placeholder="{{'LO1_ORDER_DAYS_PER_MONTH'|lang}}" [(ngModel)]="record.LO1_ORDER_DAYS_PER_MONTH" name="LO1_ORDER_DAYS_PER_MONTH">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--<div class="col" *ngIf="action != 'add'">-->
            <!---->
          <!--</div>-->
        </div>
      </form>
    </div>
  </div>
</div>