<div #salesView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-md-auto" align="left">
        <mat-form-field>
          <input matInput [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="dpStart" placeholder="{{'Date Start'|lang}}" [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
          <mat-datepicker #dpStart
                          startView="multi-year"
                          (yearSelected)="chosenStartYearHandler($event)"
                          (monthSelected)="chosenStartMonthHandler($event, dpStart)"
                          panelClass="example-month-picker"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-auto" align="left">
        <mat-form-field>
          <input matInput [min]="minEndDate" [max]="maxEndDate" [matDatepicker]="dpEnd" placeholder="{{'Date End'|lang}}" [formControl]="endDate">
          <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
          <mat-datepicker #dpEnd
                          startView="multi-year"
                          (yearSelected)="chosenEndYearHandler($event)"
                          (monthSelected)="chosenEndMonthHandler($event, dpEnd)"
                          panelClass="example-month-picker"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-primary" (click)="getChartData()" >{{'Run'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
    <div #materialBudget class="card"></div>
  </div>
</div>