<ng-template [ngxPermissionsOnly]="[permissions.ROLES_ADD]">
    <button class="btn btn-success" (click)="addRole(0)"><i class="fa fa-plus-square fa-lg"></i> {{'Create'|lang}}</button>
</ng-template>
<app-rights-roles-list></app-rights-roles-list>