<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-link"></i>
        <h3 class="panel-title" style="display: inline;">{{'Assignment Form'|lang}}</h3>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3" style="horiz-align: right"><strong>{{'Authorization Item'|lang}}</strong></label>
          <div class="col-md-9">
            <select class="form-control" placeholder="{{'Authorization Item'|lang}}" name="AssignmentForm[itemname]" id="AssignmentForm_itemname">
              <optgroup label="Roles">
                <option [ngValue]="Authenticated">{{'Authenticated Role (Logged In)'|lang}}</option>
                <option [ngValue]="Customer">{{'Customer Role'|lang}}</option>
                <option [ngValue]="Guest">{{'Guest Role (Logged Out)'|lang}}</option>
                <option [ngValue]="Inactive">{{'Inactive Role'|lang}}</option>
                <option [ngValue]="Supplier">{{'Supplier Role'|lang}}</option>
              </optgroup>
            </select>
          </div>
        </div>
      </form>

      <button class="btn btn-primary" id="yw2" type="submit" name="yt0"><i class="fa fa-save"></i> {{'Assign'|lang}}</button>
      <br><br>
      <h5>{{'Assigned Authorization Items'|lang}}</h5>
      <br>
      <ngx-datatable
              class="material"
              [rows]="rows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="30"
              [externalPaging]="true"
              [externalSorting]="true"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              [limit]="page.size"
              [sortType]=""
              (page)='setPage($event)'>

        <ngx-datatable-column [sortable]="false" prop="NAME">
          <ng-template ngx-datatable-header-template let-sort="sortFn">
            <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'#Name#'|lang}}</span></span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
            <a href="" (click)= "editRight(value)">{{row.NAME}}</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" prop="TYPE">
          <ng-template ngx-datatable-header-template let-sort="sortFn">
            <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'#Type#'|lang}}</span></span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.TYPE}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="ACTIONS">
          <ng-template ngx-datatable-header-template let-sort="sortFn">
            <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'Actions'|lang}}</span></span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.ACTIONS}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>



  </div>
</div>