<div style="height: 100%;" #importMasterDataModal  >
    <div #header style="padding-bottom: 20px;">
        <div style="float: right">
            <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
        </div>
        <h2 mat-dialog-title >{{'Import Customer Data from Excel files'|lang}}</h2>
    </div>
    <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
        <app-import-master-data [(companiesProvider)]="companiesDP" [(shopsProvider)]="shopsDP" [isModal]="true" (importChange)="importChange()" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"></app-import-master-data>
    </mat-dialog-content>
    <mat-dialog-actions align="end" #footer  >
        <button mat-raised-button (click)="closeDialog()">{{'#Close#'|lang}}</button>
    </mat-dialog-actions>
</div>