<div  style="position: fixed; z-index: 200000; height: 100%;  width: 100%; margin-left: -15px; margin-top: -21px;" [hidden]="!loading">
  <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)', backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<div #purchaseOrdersAddView class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-8" align="left" >
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
          <button  class="btn btn-success" (click)="onAddOrder()"><i class="fa fa-plus-square"></i> {{'AddButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
          <button  class="btn btn-success" (click)="onAddCatalog()"><i class="fa fa-plus-square"></i> {{'CatalogButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
          <button  class="btn btn-success" (click)="onAutoOrder()"><i class="fa fa-plus-square"></i> {{'AutoButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length == 0" (click)="onDelete()"><i class="fa fa-trash"></i> {{'DeleteButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_ADD]">
          <button  class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="onSave()"><i class="fa fa-plus-square"></i> {{'SaveButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal" >
        <ng-template [ngIf]="errors && errors.length" >
          <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
        </ng-template>
        <div class="row align-items-center">
          <div class="col" >
            <div class="row align-items-center">
              <div class="col">
                <div>
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'PO1_NUMBER'|lang}}" [(ngModel)]="record.PO1_NUMBER" name="PO1_NUMBER" (keyup)="clearSaveBarCodeKeyUp($event, 'PO1_NUMBER')" >
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <mat-select placeholder="{{'PO1_SHIPPING_METHOD'|lang}}" [(ngModel)]="record.PO1_SHIPPING_METHOD" name="PO1_SHIPPING_METHOD">
                    <mat-option *ngFor="let shipping of shippingDP" [value]="shipping">
                      {{shipping}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" >
                <mat-label>{{'PO1_COMMENT'|lang}}</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          [(ngModel)]="record.PO1_COMMENT"
                          name="PO1_COMMENT"
                          (keyup)="clearSaveBarCodeKeyUp($event, 'PO1_COMMENT')"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col" >
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled  [(ngModel)]="record.CO1_NAME" name="CO1_NAME" >
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col" style="padding-right: 0; margin-right: 0;" >
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'LO1_ID'|lang}}" disabled  [(ngModel)]="record.LO1_NAME" name="LO1_NAME" >
                  <button mat-button *ngIf="record.LO1_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearShop()" >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-md-auto" >
                <button mat-button color="primary" (click)="selectShop()" >{{'LO1_ID'|lang}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row align-items-center">
        <div class="col" align="left">
          <mat-form-field class="mat-form-field-width-auto" >
            <div  matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <input matInput #inputPartNumber placeholder="{{'#QuickAdd#'|lang}}" [formControl]="partsControl" [matAutocomplete]="autoParts" [matAutocompleteConnectedTo]="origin" [(ngModel)]="partNumber"
                     [name]="partNumber" (input)="filterParts($event.target.value)" (keyup)="partNumberKeyUp($event)"  (keydown)="partNumberKeyDown($event)">
            </div>
            <mat-autocomplete #autoParts="matAutocomplete" (optionSelected)="onSelectPart($event.option.value)">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let part of filteredParts" [value]="part.MD1_PART_NUMBER">{{part.MD1_PART_NUMBER}} - {{part.MD1_DESC1}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col" align="right">
          <label style="font-weight: bold">{{'OR1_TOTAL_VALUE'|lang}}:</label>
          <label style="font-weight: bold" style="padding-left: 10px">{{totalValue|currency}}</label>
        </div>
      </div>
    </div>

    <div #contentGrid >
      <p-table id="purchaseOrdersTable" [columns]="cols" [value]="addedParts"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
               [(selection)]="selected" (onEditInit)="onEditInit($event)" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td id="{{col.field === 'MD1_ORDER_QTY' ? 'td'+rowIndex: (col.field === 'MD1_EXTENDED_VALUE' ? 'td_ex_value'+rowIndex : '') }}"
                *ngFor="let col of columns; index as columnIndex;"
                [ngClass]="{'not-editable': col.field !== 'MD1_ORDER_QTY'}"
                [ngStyle]="{'width': col.width +'px'}"
                [hidden]="!col.visible"
                [pEditableColumn]="rowData"
                [pEditableColumnField]="col">
              <div *ngIf="col.field === 'MD1_ORDER_QTY'; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" step="1" (keypress)="qtyKeyPress($event)" min="0" id="input_{{rowData['MD1_ID']}}" [(ngModel)]="rowData[col.field]" (keydown)="qtyKeyDown($event, rowData, col.field);" (keyup)="qtyKeyUp($event);" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field]}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-template>
              <ng-template #elseBlock>
                <span [ngSwitch]="col.field">
                  <span *ngSwitchCase="'MD1_UNIT_PRICE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchCase="'MD1_EXTENDED_VALUE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchDefault>
                    <span>{{rowData[col.field]}}</span>
                  </span>
                </span>
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>