<div class="animated fadeIn">
  <form action="" method="post" #form="ngForm" (ngSubmit)="savePermissions(form)">
    <div class="card-body" style="padding: 0;" >
      <button class="btn btn-success" type="submit"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> {{'Back'|lang}}</button>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="panel-heading">
          <i class="fa fa-link"></i>
          <h3 class="panel-title" style="display: inline;">{{'Permissions Assignment Form'|lang}}</h3>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="card-body">
        <ngx-datatable
              class="material no-shadow"
              [rows]="rows"
              [columnMode]="'flex'"
              [loadingIndicator]="loading"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="30"
              (page)='setPage($event)' >

          <ngx-datatable-column [flexGrow]="0.8">
              <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="datatable-header-cell-wrapper">
                      <span class="datatable-header-cell-label draggable header-label">{{'System Key'|lang}}</span>
                  </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                  <a (click)= "onClick(value)"><span style="color: gray" >{{row.name}}</span></a>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [flexGrow]="2">
              <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="datatable-header-cell-wrapper">
                      <span class="datatable-header-cell-label draggable header-label">{{'Description'|lang}}</span>
                  </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                  <a (click)= "onClick(value)">{{row.description}}</a>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name" sortable="false"  [flexGrow]="0.5" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
             <div style="text-align: center" >
              <span class="datatable-header-cell-label draggable header-label">{{'Inherited of'|lang}}</span>
             </div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div style="text-align: center" >
                <div *ngIf="row.inheritsFromRole">
                    <span style="font-weight: bold;" >Role</span>
                </div>
                <div *ngIf="!row.inheritsFromRole && row.hasPermission">
                    {{'Individual'|lang}}
                </div>
                <div *ngIf="!row.inheritsFromRole && !row.hasPermission">
                    {{'Not assigned'|lang}}
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name" sortable="false"  [flexGrow]="0.5" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <div style="text-align: center" >
                <span class="datatable-header-cell-label draggable header-label">{{'Has Permission'|lang}}</span>
              </div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
              <div style="text-align: center" >
                <label class="switch switch-text switch-pill switch-success"  >
                  <input type="checkbox" class="switch-input" name="{{row.name}}" [checked]="row.hasPermission" [disabled]="row.inheritsFromRole" (click)="changeIndividualBehavior($event)"  >
                  <span class="switch-label" data-on="on" data-off="off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </form>
</div>
