<div class="animated fadeIn">
  <form action="" method="post" #form="ngForm" (ngSubmit)="savePermissions(form)">
    <div class="card">
      <div class="card-body" style="padding-left: 0;" >
        <button class="btn btn-success" type="submit"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
        <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-ban fa-lg"></i> {{'#Cancel#'|lang}}</button>
      </div>

      <div class="card-header">
        <div class="panel-heading">
          <i class="fa fa-link"></i>
          <h3 class="panel-title" style="display: inline;">{{'Permissions Assignment Form'|lang}}</h3>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="card-body">

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <ngx-datatable
              class="material"
              [rows]="rows"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="30"
              (page)='setPage($event)' >

          <ngx-datatable-column [flexGrow]="3">
              <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="datatable-header-cell-wrapper">
                      <span class="datatable-header-cell-label draggable header-label">{{'Description'|lang}}</span>
                  </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                  <a (click)= "onClick(value)">{{row.description}}</a>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name" sortable="false"  [flexGrow]="1" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
             <div style="text-align: center" >
              <span class="datatable-header-cell-label draggable header-label">{{'Behavior'|lang}}</span>
             </div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div style="text-align: center;"  >
                <label class="switch switch-text-90 switch-pill switch-success"  >
                  <input type="checkbox" class="switch-input" name="{{value}}" [checked]="row.inheritsFromRole" (click)="changeInheritanceBehavior($event)"  >
                  <span class="switch-label" data-on="As in role" data-off="Individual"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name" sortable="false"  [flexGrow]="1" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <div style="text-align: center" >
                <span class="datatable-header-cell-label draggable header-label">{{'Individual permission'|lang}}</span>
              </div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
              <div style="text-align: center" *ngIf="!row.inheritsFromRole" >
                <label class="switch switch-text switch-pill switch-success"  >
                  <input type="checkbox" class="switch-input" name="{{value}}" [checked]="row.hasPermission" (click)="changeIndividualBehavior($event)"  >
                  <span class="switch-label" data-on="on" data-off="off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="hasPermission" sortable="false"  [flexGrow]="1" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <div style="text-align: center" >
                <span class="datatable-header-cell-label draggable header-label">{{'Has Permission'|lang}}</span>
              </div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div style="text-align: center" >
                <div *ngIf="value">
                    <i class="fa fa-circle" style="color:green;" title="{{'Yes'|lang}}"></i>
                </div>
                <div *ngIf="!value">
                    <i class="fa fa-circle" style="color:red;" title="{{'No'|lang}}"></i>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </form>
</div>
