<mat-form-field style="width: 100%;">
  <mat-select [formControl]="companyLocationCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="selectionChanged($event.value)" [(ngModel)]="field" name="CO1_ID_{{index}}">
    <ngx-mat-select-search [formControl]="companyLocationFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="'Select Affiliation'|lang"></ngx-mat-select-search>
    <mat-option *ngFor="let companyLocation of filteredCompanyLocations" [value]="companyLocation.ID">
      {{companyLocation.label}}
    </mat-option>
  </mat-select>
</mat-form-field>