<mat-form-field class="mat-form-field-width-auto" >
  <mat-select [(ngModel)]="vendorId" [disabled]="disabled" name="VD1_ID_{{index}}" [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="selectionChanged($event.value)">
    <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
    <mat-option *ngFor="let vendor of filteredVendors; trackBy: vendor?.VD1_ID" [value]="vendor.VD1_ID">
      {{vendor.VD1_NAME}}
    </mat-option>
  </mat-select>
</mat-form-field>