<div style="height: 100%;" #exportModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Export'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}" >
    <form #formContainer [formGroup]="form">
      <div *ngFor="let cb of checkboxes.controls; let i=index">
        <input type="checkbox" [formControl]="cb"/> {{cols[i].header['label']?cols[i].header['label']:cols[i].header|lang}}
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button cdkFocusInitial color="primary" (click)="submit(form.value)">{{'#Export#'|lang}}</button>
  </mat-dialog-actions>
</div>