<div style="height: 100%;" #partsModal >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Update Parts'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <button class="btn btn-primary" (click)="onSave()" [disabled]="!items">{{'SaveButton'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <mat-dialog-actions #searchbar style="padding-top: 0; margin-bottom: 0;" >
      <div class="row" style="width: 100%">
        <div class="col" align="left" style="padding-top: 7px">
          <label style="color: #000000; font-weight: bold; padding-right: 10px">{{'Key'|lang}}:</label>
          <label style="color: #aaaaaa; font-weight: bold; padding-right: 10px">{{'Grey = No difference'|lang}}</label>
          <label style="color: #333333; font-weight: bold; padding-right: 10px">{{'Black = No Update'|lang}}</label>
          <label style="color: #00dd00; font-weight: bold; padding-right: 10px">{{'Green = Update to larger value'|lang}}</label>
          <label style="color: #dd0000; font-weight: bold; padding-right: 10px">{{'Red = Update to smaller value'|lang}}</label>
          <label style="color: #0066dd; font-weight: bold">{{'Blue = Update to different value'|lang}}</label>
        </div>
        <div align="right" style="width: 350px">
          <div  style="display: flex">
            <input #searchInput type="input" [(ngModel)]="search" name="part_num" id="part_num" class="form-control" (input)="onInput($event.target.value)" (change)="search = $event.target.value">
            <button class="btn btn-success" (click)="onSearch()" style="height: 35px">{{'Next'|lang}}</button>
          </div>
        </div>
      </div>
    </mat-dialog-actions>
    <p-table #table [columns]="cols" [value]="items" selectionMode="single"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [(selection)]="selected" [scrollable]="true"
             [scrollHeight]="scrollHeight" [first]="currentPageIndex"
             [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
             (onPage)="onPage($event)">
      <ng-template pTemplate="header" let-cols>
        <tr #tableHeaderCb>
          <th *ngFor="let col of cols" style="font-weight: normal" [ngStyle]="{'width': col.width +'px'}">
            <mat-checkbox *ngIf="col.cb_visible" [labelPosition]="after" [(ngModel)]="col.cb_selected" [value]="col">
              {{'UPDATE'|lang}}
            </mat-checkbox>
          </th>
        </tr>
        <tr #tableHeader>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="cols" let-rowIndex="rowIndex">
        <tr id="row{{rowIndex}}" [pSelectableRow]="rowData" (dblclick)="selectRecord(rowData)">
          <td *ngFor="let col of cols" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}">
            <span *ngSwitchCase="'CO1_NAME'">{{rowData[col.field]}}</span>
            <span *ngSwitchCase="'MD0_PART_NUMBER'" [ngStyle]="{'color': rowData.MD0_PART_NUMBER == rowData.MD1_PART_NUMBER ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                                'fontWeight': rowData.MD0_PART_NUMBER == rowData.MD1_PART_NUMBER ? 'normal' : 'bold'}">
              {{rowData.MD0_PART_NUMBER}}
              <span *ngIf="rowData.MD0_PART_NUMBER != rowData.MD1_PART_NUMBER" style="color: #aaaaaa">{{rowData.MD1_PART_NUMBER}}</span>
            </span>
            <span *ngSwitchCase="'MD0_DESC1'" [ngStyle]="{'color': rowData.MD0_DESC1 == rowData.MD1_DESC1 ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                          'fontWeight': rowData.MD0_DESC1 == rowData.MD1_DESC1 ? 'normal' : 'bold'}">
              {{rowData.MD0_DESC1}}
              <span *ngIf="rowData.MD0_DESC1 != rowData.MD1_DESC1" style="color: #aaaaaa">{{rowData.MD1_DESC1}}</span>
            </span>
            <span *ngSwitchCase="'MD0_BODY'" [ngStyle]="{'color': rowData.MD0_BODY == rowData.MD1_BODY ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                         'fontWeight': rowData.MD0_BODY == rowData.MD1_BODY ? 'normal' : 'bold'}">
              {{rowData.MD0_BODY == 1 ? 'Y' : 'N'}}
              <span *ngIf="rowData.MD0_BODY != rowData.MD1_BODY" style="color: #aaaaaa">{{rowData.MD1_BODY == 1 ? '(Y)' : '(N)'}}</span>
            </span>
            <span *ngSwitchCase="'MD0_DETAIL'" [ngStyle]="{'color': rowData.MD0_DETAIL == rowData.MD1_DETAIL ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                           'fontWeight': rowData.MD0_DETAIL == rowData.MD1_DETAIL ? 'normal' : 'bold'}">
              {{rowData.MD0_DETAIL == 1 ? 'Y' : 'N'}}
              <span *ngIf="rowData.MD0_DETAIL != rowData.MD1_DETAIL" style="color: #aaaaaa">{{rowData.MD1_DETAIL == 1 ? '(Y)' : '(N)'}}</span>
            </span>
            <span *ngSwitchCase="'MD0_PAINT'" [ngStyle]="{'color': rowData.MD0_PAINT == rowData.MD1_PAINT ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                          'fontWeight': rowData.MD0_PAINT == rowData.MD1_PAINT ? 'normal' : 'bold'}">
              {{rowData.MD0_PAINT == 1 ? 'Y' : 'N'}}
              <span *ngIf="rowData.MD0_PAINT != rowData.MD1_PAINT" style="color: #aaaaaa">{{rowData.MD1_PAINT == 1 ? '(Y)' : '(N)'}}</span>
            </span>
            <span *ngSwitchCase="'MD0_UNIT_PRICE'" [ngStyle]="{'color': rowData.MD0_UNIT_PRICE == rowData.MD1_UNIT_PRICE ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                              'fontWeight': rowData.MD0_UNIT_PRICE == rowData.MD1_UNIT_PRICE ? 'normal' : 'bold'}">
              {{rowData.MD0_UNIT_PRICE|currency}}
              <span *ngIf="rowData.MD0_UNIT_PRICE != rowData.MD1_UNIT_PRICE" style="color: #aaaaaa">{{rowData.MD1_UNIT_PRICE|currency}}</span>
            </span>
            <span *ngSwitchCase="'UM1_DEFAULT_PRICING_NAME'" [ngStyle]="{'color': rowData.UM1_DEFAULT_PRICING == rowData.UM1_PRICING_ID ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                                        'fontWeight': rowData.UM1_DEFAULT_PRICING == rowData.UM1_PRICING_ID ? 'normal' : 'bold'}">
              {{rowData.UM1_DEFAULT_PRICING_NAME}}
              <span *ngIf="rowData.UM1_DEFAULT_PRICING != rowData.UM1_PRICING_ID" style="color: #aaaaaa">{{rowData.UM1_PRICING_ID_NAME}}</span>
            </span>
            <span *ngSwitchCase="'MD0_MARKUP'" [ngStyle]="{'color': rowData.MD0_MARKUP == rowData.MD1_MARKUP ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                           'fontWeight': rowData.MD0_MARKUP == rowData.MD1_MARKUP ? 'normal' : 'bold'}">
              {{rowData.MD0_MARKUP}}%
              <span *ngIf="rowData.MD0_MARKUP != rowData.MD1_MARKUP" style="color: #aaaaaa">{{rowData.MD1_MARKUP}}%</span>
            </span>
            <span *ngSwitchCase="'FI0_ID'" [ngStyle]="{'color': rowData.FI0_ID == rowData.FI1_ID ? '#aaaaaa':(col.cb_selected ? '#0066dd' : '#333333'),
                                                       'fontWeight': rowData.FI0_ID == rowData.FI1_ID ? 'normal' : 'bold'}">
              {{rowData.FI0_ID}}
              <span *ngIf="rowData.FI0_ID != rowData.FI1_ID" style="color: #aaaaaa">{{rowData.FI1_ID}}</span>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Parts'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
  </mat-dialog-content>
</div>