<div #languageEditor class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <mat-dialog-actions style="margin-left: -10px;">
          <mat-checkbox *ngFor="let col of selectedColumns" [(ngModel)]="col.visible" [value]="col" (change)="columnsChanged(col, $event);">{{'Show'|lang}} {{col.header['label']|lang}}  </mat-checkbox>
        </mat-dialog-actions>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="langEditTable" [columns]="cols" [value]="items" [styleClass]="'shadow'"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="sizeLabel" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           (onEditInit)="onEditInit($event)" [lazy]="true"
           (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible">
          {{col.header.label}}
        </th>
      </tr>
      <tr #tableFilter id="tableFilter">
        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
          <input *ngIf="col.field !== 'LA2_KEY'" [(ngModel)]="pageLabel.filterParams[col.header.value]" pInputText type="text" [style]="{'width':'100%', 'padding' : 'unset'}" (keydown)="buttonPress($event, col, $event.target.value);">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns" [pEditableColumn]="rowData" [pEditableColumnField]="col" style="overflow-x:hidden;" [hidden]="!col.visible" [ngClass]="{'not-editable': col.field === 'LA2_KEY'}">
          <div *ngIf="col.field !== 'LA2_KEY'; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData[col.field]" (keydown)="onPressEnter($event, rowData, rowData[col.field], rowData['LA2_KEY'], col.header)" (focusout)="onEditCell(rowData, rowData[col.field], rowData['LA2_KEY'], col.header)">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData[col.field]}}
              </ng-template>
            </p-cellEditor>
          </ng-template>
          <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Label'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>