@import "../../../scss/_ngtable";

.mat-checkbox {
  padding-left: 10px;
}

#langEditTable {
  tr.ng-star-inserted.ui-state-highlight {
    background-color: rgba(0,122,217, 0);
    color: inherit;
  }
  td.ui-editable-column.ng-star-inserted {
    padding: 0.571em 0.857em;
  }
  td.ui-editable-column.ng-star-inserted.ui-editing-cell {
    padding: 0;
  }
  td.not-editable.ui-editable-column.ng-star-inserted.ui-editing-cell {
    padding: 0.571em 0.857em;
  }
  p-cellEditor.ng-star-inserted {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  input.ng-pristine.ng-valid.ng-star-inserted.ng-touched {
    padding: 0.571em 0.857em;
    outline: none;
  }
  input.ng-pristine.ng-valid.ng-star-inserted {
    padding: 0.571em 0.857em;
    outline: none;
  }
  input:focus {
    padding: 0.571em 0.857em;
    outline: none;
  }
  #tableFilter {
    input {
      padding: unset;
    }
  }
}