<mat-form-field style="width: 100%;">
  <mat-select [formControl]="companyCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="selectionChanged($event.value)" [(ngModel)]="field" name="CO1_ID_{{index}}">
    <ngx-mat-select-search [formControl]="companyFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="'Select Company'|lang"></ngx-mat-select-search>
    <mat-option *ngFor="let company of filteredCompanies" [value]="company.CO1_ID">
      {{company.CO1_NAME}}
    </mat-option>
  </mat-select>
</mat-form-field>