<select class="form-control" (change)="onChange($event.target.value)" >
  <option></option>
  <option *ngFor="let role of roles" value="{{role.name}}" [selected]="role.name == activeRole" >{{role.name}}</option>
</select>