<div style="height: 100%;" #jobLineModal>
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog(false)"></i>
    </div>
    <h2 mat-dialog-title >{{'Job Line'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngIf]="errors.length" >
          <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
        </ng-template>
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <!--
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_EDIT]" >
          <button type="button" class="btn btn-primary" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        -->
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <mat-card-content [style.overflow]="'auto'" style="padding-right: 20px">
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'#Line#'|lang}}" [(ngModel)]="record.JT2_LINE" name="JT2_LINE" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'OR2_ORDER_QTY'|lang}}" [(ngModel)]="record.JT2_ORDER_QTY" name="JT2_ORDER_QTY" disabled>
            </mat-form-field>
          </div>
          <div class="row align-items-center">
            <div class="col" style="padding-right: 0px;">
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'TE1_NAME'|lang}}" disabled [(ngModel)]="record.TE1_NAME" name="TE1_NAME" >
                <button mat-button *ngIf="record.TE1_ID" matSuffix mat-icon-button aria-label="Clear Customer" (click)="clearTechnician()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-auto" style="padding-left: 0px;">
              <button mat-button color="primary" (click)="selectTechnician()" >{{'TechnicianButton'|lang}}</button>
            </div>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'IJ2_PART_NUMBER'|lang}}" [(ngModel)]="record.JT2_PART_NUMBER" name="JT2_PART_NUMBER" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'IJ2_DESC1'|lang}}" [(ngModel)]="record.JT2_DESC1" name="JT2_DESC1" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UM'|lang}}" [(ngModel)]="record.UM1_NAME" name="UM1_NAME" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'IN2_UNIT_PRICE'|lang}}" [(ngModel)]="record.JT2_UNIT_PRICE" name="JT2_UNIT_PRICE" disabled>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>

  </div>
</div>