<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_EDIT]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i>
            {{record.JT1_NUMBER}}
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col" style="font-weight: bold">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'CO1_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.CO1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'LO1_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.LO1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'JT1_ORDERED_ON'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.ORDERED_ON|datelocal:'MM.dd.y HH:mm'}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'JT1_INV_NUMBER'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.JT1_NUMBER}}</label>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'JT1_TOTAL_VALUE'|lang}}" [(ngModel)]="record.JT1_TOTAL_VALUE" name="JT1_TOTAL_VALUE" disabled>
                </mat-form-field>
              </div>
              <!--<div class="col">-->
                <!--<mat-form-field class="mat-form-field-width-auto">-->
                  <!--<mat-select placeholder="{{'#Status#'|lang}}" [(value)]="status" disabled>-->
                    <!--<mat-option *ngFor="let status of statusData" [value]="status.JT1_STATUS">-->
                      <!--{{status.label}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</div>-->
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" rows="3" >
                <textarea matInput placeholder="{{'JT1_COMMENT'|lang}}" [(ngModel)]="record.JT1_COMMENT" name="JT1_COMMENT" disabled></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div>
              <mat-radio-group [(ngModel)]="newCustomer" name="newCustomer" (change)="customerChangeRB($event.value)">
                <mat-radio-button value="0">{{'#NewCustomer#'|lang}}</mat-radio-button>
                <mat-radio-button value="1">{{'#ExistingCustomer#'|lang}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row align-items-center">
              <div class="col" >
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'CU1_NAME'|lang}}" [disabled]="newCustomer == '1'" [(ngModel)]="record.CU1_NAME" name="CU1_NAME" >
                      <button mat-button *ngIf="record.CU1_ID" matSuffix mat-icon-button aria-label="Clear Customer" (click)="clearCustomer()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectCustomer()" >{{'CU1_NAME'|lang}}</button>
                  </div>
                </div>
              </div>
              <div class="col" >
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'CY1_NAME'|lang}}" disabled [(ngModel)]="record.CY1_NAME" name="CY1_NAME" (input)="customerNameChanged()">
                      <button mat-button *ngIf="record.CY1_ID" matSuffix mat-icon-button aria-label="Clear Country" (click)="clearCountry()" [disabled]="newCustomer == '1'">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectCountry()" [disabled]="newCustomer == '1'">{{'CountryButton'|lang}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet1#'|lang}}" [(ngModel)]="record.CU1_ADDRESS1" name="CU1_ADDRESS1" [disabled]="newCustomer == '1'">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet2#'|lang}}" [(ngModel)]="record.CU1_ADDRESS2" name="CU1_ADDRESS2" [disabled]="newCustomer == '1'">
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressCity#'|lang}}" [(ngModel)]="record.CU1_CITY" name="CU1_CITY" [disabled]="newCustomer == '1'">
                </mat-form-field>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" >
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressState#'|lang}}" [(ngModel)]="record.CU1_STATE" name="CU1_STATE" [disabled]="newCustomer == '1'">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressPostalCode#'|lang}}" [(ngModel)]="record.CU1_ZIP" name="CU1_ZIP" [disabled]="newCustomer == '1'">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Phone#'|lang}}" [(ngModel)]="record.CU1_PHONE" name="CU1_PHONE" [disabled]="newCustomer == '1'">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Fax#'|lang}}" [(ngModel)]="record.CU1_FAX" name="CU1_FAX" [disabled]="newCustomer == '1'">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div #actionbar >
      <div class="row">
        <div class="col" align="left">
          <!--
          <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_READ]">
            <button  class="btn btn-primary" [disabled]="!selected" (click)="openRecord()"><i class="fa fa-plus-square"></i> {{'#Edit#'|lang}}</button>
          </ng-template>
          -->
          <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_DELETE]">
            <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
          </ng-template>
        </div>
      </div>
    </div>

    <div #contentGrid >
      <p-table id="storeOrdersTable" [columns]="cols" [value]="items"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="single" [scrollable]="true"
               [paginator]="false" [(selection)]="selected" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" (dblclick)="onOpen(rowData)">
            <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'JT2_UNIT_PRICE'">
                <span>{{rowData[col.field] | currency}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'JT2_TOTAL_VALUE'">
                <span>{{rowData[col.field] | currency}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'JT1_NUMBER'">
                <span style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'JT2_LINE'">
                <span style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'CREATED_ON'">
                <span style="color: #0b58a2; font-weight: bold" >{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span>{{rowData[col.field]}}</span>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>