<div [ngStyle]="{'width': loaderWidth}" style="position: fixed; z-index: 200000; height: 100%; margin-left: -15px; margin-top: -21px;" [hidden]="!loading"><ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)', backdropBorderRadius: '0px' }"></ngx-loading></div>
<div #materialBudgetForm class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.MATERIAL_BUDGET_SETUP_EDIT]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row" style="align-items: center;">
              <mat-form-field class="mat-form-field" style="width: 150px">
                <input matInput currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: false, precision: 0 }"
                       placeholder="{{'Monthly Gross Sales'|lang}}"
                       [(ngModel)]="record.MOUNTHLY_GROSS_SALE"
                       (input)="calculateFinal()"
                       (keyup)="calculateFinal()"
                       name="MOUNTHLY_GROSS_SALE">
              </mat-form-field>
              <label style="padding-left: 5px; padding-right: 5px;">x</label>
              <mat-form-field class="mat-form-field" style="width: 150px">
                <input matInput min="0" max="100"
                       type='tel' currencyMask [options]="{ prefix: '', suffix: ' %', decimal: '.', align: 'left', allowNegative: false, precision: 0 }"
                       placeholder="{{'Target Percentage'|lang}}"
                       [(ngModel)]="record.TARGET_PERCENTAGE"
                       (input)="calculateFinal()"
                       (keyup)="calculateFinal()"
                       name="TARGET_PERCENTAGE">
              </mat-form-field>
              <label style="padding-left: 5px; padding-right: 5px;">=</label>
              <mat-form-field class="mat-form-field" style="width: 150px">
                <input matInput disabled
                       type='tel' currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'left', precision: 0 }"
                       placeholder="{{'Final Result'|lang}}"
                       [(ngModel)]="record.FINAL_RESULT"
                       name="FINAL_RESULT">
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>