<nav class="sidebar-nav">
  <ul class="nav" >
    <ng-template ngFor let-navitem [ngForOf]="navigation">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]">
          <li class="nav-item" >
            <a [routerLinkActive]="'active'" mat-button  class="nav-link mat-left-menu-button" routerLink="/dashboard" (click)="dashboardClick()">
              <i class="fa fa-home sidebar-nav-icon"></i>
              {{'Dashboard'|lang}}
            </a>
          </li>
        </ng-template>

        <li class="nav-item">
          <mat-accordion displayMode="flat"  >
            <ng-template [ngxPermissionsOnly]="[
              permissions.MASTER_DATA_READ,
              permissions.MASTER_DATA_EDIT,
              permissions.STORE_ORDERS_READ,
              permissions.TECH_SCANS_READ,
              permissions.JOB_TICKETS_READ,
              permissions.PURCHASE_ORDERS_READ,
              permissions.EDIT_INVENTORY ]">
              <mat-expansion-panel class="mat-left-expansion-panel inventory" #inventory >
                <mat-expansion-panel-header class="mat-left-expansion-panel-header" collapsedHeight="45px" expandedHeight="45px">
                  <mat-panel-title>
                    <a mat-button class="nav-link mat-left-menu-button" >
                      <i class="fa fa-exchange sidebar-nav-icon"></i>
                      {{'Workspace_InventoryMenu'|lang}}
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template [ngxPermissionsOnly]="[permissions.MASTER_DATA_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-data/') === 0}" mat-button class="nav-link mat-left-menu-button master-data" routerLink="/master-data"  (click)="customerClick()">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Customer Data'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.EDIT_INVENTORY]">
                  <a [routerLinkActive]="'active'" mat-button class="nav-link mat-left-menu-button"  (click)="editInventory()">
                    <i class="fa fa-line-chart sidebar-nav-icon"></i>
                    {{'Workspace_InventoryButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_READ]">
                  <div class="row align-items-center">
                    <div class="col" align="left" style="padding-right: 0px" >
                      <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/store-orders/') === 0}" mat-button class="nav-link mat-left-menu-button store-orders" routerLink="/store-orders" >
                        <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                        {{'Workspace_OrderHeaderButton'|lang}}
                      </a>
                    </div>
                    <div class="col-3" style="padding-left: 10px;" >
                        <i class="fa fa-plus-square sidebar-nav-icon sidebar-add-item-icon" [ngClass]="{'sidebar-add-item-icon-disable': !storeOrderCanBeAdded}"  (click)="storeOrderAdd()" ></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_READ]">
                  <div class="row align-items-center">
                    <div class="col" align="left" style="padding-right: 0px" >
                      <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/tech-scans/') === 0}" mat-button class="nav-link mat-left-menu-button tech-scans" routerLink="/tech-scans">
                        <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                        {{'Workspace_InternalOrderHeaderButton'|lang}}
                      </a>
                    </div>
                    <div class="col-3" style="padding-left: 10px;" >
                      <i class="fa fa-plus-square sidebar-add-item-icon" [ngClass]="{'sidebar-add-item-icon-disable': !techScanCanBeAdded}"  (click)="techScanAdd()" ></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_READ]">
                  <div class="row align-items-center">
                    <div class="col" align="left" style="padding-right: 0px" >
                      <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/job-tickets/') === 0}" mat-button class="nav-link mat-left-menu-button job-tickets" routerLink="/job-tickets">
                        <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                          {{'Workspace_JobHeaderButton'|lang}}
                      </a>
                    </div>
                    <div class="col-3" style="padding-left: 10px;" >
                        <i class="fa fa-plus-square sidebar-nav-icon sidebar-add-item-icon" [ngClass]="{'sidebar-add-item-icon-disable': !jobTicketCanBeAdded}"  (click)="jobTicketAdd()" ></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_READ]">
                  <div class="row align-items-center">
                    <div class="col" align="left" style="padding-right: 0px" >
                      <a [routerLinkActive]="'active'" [ngClass]="{'active': router.url.toString().indexOf('/purchase-orders') === 0 && router.url.toString().indexOf('/purchase-orders/') < 0 && router.url.toString().indexOf('materials-budget-report') < 0, 'active-child': router.url.toString().indexOf('/purchase-orders/') === 0 && router.url.toString().indexOf('materials-budget-report') < 0}" mat-button class="nav-link mat-left-menu-button purchase-orders" routerLink="/purchase-orders">
                        <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                        {{'Workspace_POHeaderButton'|lang}}
                      </a>
                    </div>
                    <div class="col-3" style="padding-left: 10px;" >
                      <i class="fa fa-plus-square sidebar-nav-icon sidebar-add-item-icon" [ngClass]="{'sidebar-add-item-icon-disable': !purchaseOrderCanBeAdded}"  (click)="purchaseOrderAdd()" ></i>
                    </div>
                  </div>
                </ng-template>
              </mat-expansion-panel>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="[
              permissions.INVOICES_READ,
              permissions.JOB_INVOICES_READ,
              permissions.STATEMENTS_READ,
              permissions.STATEMENTS_GENERATE]">
              <mat-expansion-panel class="mat-left-expansion-panel invoicing" #invoicing >
                <mat-expansion-panel-header class="mat-left-expansion-panel-header" collapsedHeight="45px" expandedHeight="45px">
                  <mat-panel-title>
                    <a [routerLinkActive]="'active'" mat-button class="nav-link mat-left-menu-button">
                      <i class="fa fa-exchange sidebar-nav-icon"></i>
                      {{'Workspace_InvoicingMenu'|lang}}
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template [ngxPermissionsOnly]="[permissions.INVOICES_READ]">
                    <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/invoices/') === 0}" mat-button class="nav-link mat-left-menu-button invoices" routerLink="/invoices">
                        <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                        {{'Workspace_OpenInvoiceButton'|lang}}
                    </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.CREDIT_MEMOS_READ]">
                  <div class="row align-items-center">
                    <div class="col" align="left" style="padding-right: 0px" >
                      <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/invoice/credit-memos/') === 0}" mat-button class="nav-link mat-left-menu-button credit-memos" routerLink="/invoice/credit-memos">
                        <i class="fa fa-adjust sidebar-nav-icon"></i>
                        {{'Workspace_CreditMemoButton'|lang}}
                      </a>
                    </div>
                    <div class="col-3" style="padding-left: 10px;" >
                      <i class="fa fa-plus-square sidebar-nav-icon sidebar-add-item-icon" [ngClass]="{'sidebar-add-item-icon-disable': !creditMemoCanBeAdded}"  (click)="creditMemoAdd()" ></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_READ]">
                    <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/statements/') === 0}" mat-button class="nav-link mat-left-menu-button statements"  routerLink="/statements">
                        <i class="fa fa-pie-chart sidebar-nav-icon"></i>
                        {{'Workspace_SummaryInvoiceButton'|lang}}
                    </a>
                </ng-template>
              </mat-expansion-panel>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="[
              permissions.TECH_USAGE_READ,
              permissions.TECH_USAGE_MTD_READ,
              permissions.MANUAL_INVENTORY_EDITS_READ,
              permissions.SALES_READ,
              permissions.GROSS_PROFIT_READ,
              permissions.SUMMARY_READ,
              permissions.MATERIALS_BUDGET_READ,
              permissions.IMPORT_REPORT_DATA_READ,
              permissions.BELOW_MINIMUM_REPORT,
              permissions.PM_GROSS_PROFIT_BY_SHOP,
              permissions.PAINT_MATERIALS_USAGE_TOTAL,
              permissions.PAINT_LABOR_VS_SALES_READ,
              permissions.PROJECTED_PO_USAGE_READ]">
              <mat-expansion-panel class="mat-left-expansion-panel reporting" #reporting >
                <mat-expansion-panel-header class="mat-left-expansion-panel-header" collapsedHeight="45px" expandedHeight="45px">
                  <mat-panel-title>
                    <a [routerLinkActive]="'active'" mat-button class="nav-link mat-left-menu-button">
                      <i class="fa fa-exchange sidebar-nav-icon"></i>
                      {{'Reports'|lang}}
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-data/inventory-optimization/') === 0}" mat-button class="nav-link mat-left-menu-button inventory-optimization" routerLink="/master-data/inventory-optimization">
                  <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                  {{'Workspace_InventoryOptimizationButton'|lang}}
                </a>
                <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-data/physical-inventory/') === 0}" mat-button class="nav-link mat-left-menu-button physical-inventory" routerLink="/master-data/physical-inventory">
                  <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                  {{'Workspace_CurrentOptimizationButton'|lang}}
                </a>
                <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/inventory/inventory-activity-log/') === 0}" mat-button class="nav-link mat-left-menu-button inventory-activity-log" routerLink="/inventory/inventory-activity-log">
                  <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                  {{'Workspace_InventoryLogButton'|lang}}
                </a>
                <ng-template [ngxPermissionsOnly]="[permissions.TECH_USAGE_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/tech-usage-report/') === 0}" mat-button class="nav-link mat-left-menu-button tech-usage-report" routerLink="/master-data/tech-usage-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Tech Usage'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.TECH_USAGE_MTD_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/tech-usage-mtd-report/') === 0}" mat-button class="nav-link mat-left-menu-button tech-usage-mtd-report" routerLink="/master-data/tech-usage-mtd-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Tech Usage MTD'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.SALES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/sales-report/') === 0}" mat-button class="nav-link mat-left-menu-button sales-report" routerLink="/report/sales-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Sales'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.GROSS_PROFIT_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/gross-profit-report/') === 0}" mat-button class="nav-link mat-left-menu-button gross-profit-report" routerLink="/report/gross-profit-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Gross Profit'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.SUMMARY_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/summary-report/') === 0}" mat-button class="nav-link mat-left-menu-button summary-report" routerLink="/report/summary-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Summary'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.MATERIALS_BUDGET_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/purchase-orders/materials-budget-report/') === 0}" mat-button class="nav-link mat-left-menu-button materials-budget-report" routerLink="/purchase-orders/materials-budget-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Materials Budget'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.IMPORT_REPORT_DATA_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/raw-sales-data-store-month') === 0}" mat-button class="nav-link mat-left-menu-button raw-sales-data-store-month" routerLink="/raw-sales-data-store-month">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Imported Sales Data'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.BELOW_MINIMUM_REPORT]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/below-minimum-report') === 0}" mat-button class="nav-link mat-left-menu-button below-minimum-report" routerLink="/below-minimum-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Below Minimum Report'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.VOC_USAGE_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/voc-usage-report') === 0}" mat-button class="nav-link mat-left-menu-button voc-usage-report" routerLink="/voc-usage-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'VOC Usage Report'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PM_GROSS_PROFIT_BY_SHOP]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/pm-gross-profit-by-shop-report') === 0}" mat-button class="nav-link mat-left-menu-button pm-gross-profit-by-shop-report" routerLink="/report/pm-gross-profit-by-shop-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'P&M Gross Profit Report'|lang}}</label>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PAINT_MATERIALS_USAGE_TOTAL]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/paint-materials-usage-total-report/') === 0}" mat-button class="nav-link mat-left-menu-button paint-materials-usage-total-report" routerLink="/report/paint-materials-usage-total-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'Paint Materials Usage Total Report'|lang}}</label>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PAINT_LABOR_VS_SALES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/paint-labor-vs-sales-report/') === 0}" mat-button class="nav-link mat-left-menu-button paint-labor-vs-sales-report" routerLink="/report/paint-labor-vs-sales-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'Paint Labor vs Sales Report'|lang}}</label>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PAINT_MATERIALS_GP_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/paint-materials-gp-report/') === 0}" mat-button class="nav-link mat-left-menu-button paint-materials-gp-report" routerLink="/report/paint-materials-gp-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'Paint & Materials GP Report'|lang}}</label>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PROJECTED_PO_USAGE_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/report/projected-po-usage-report/') === 0}" mat-button class="nav-link mat-left-menu-button projected-po-usage-report" routerLink="/report/projected-po-usage-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'Projected PO Usage Report'|lang}}</label>
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.MANUAL_INVENTORY_EDITS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/manual-inventory-edits-report/') === 0}" mat-button class="nav-link mat-left-menu-button manual-inventory-edits-report" routerLink="/report/manual-inventory-edits-report">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    <label style="width: 150px; margin: 0; white-space: pre-wrap;">{{'Manual Inventory Edits Report'|lang}}</label>
                  </a>
                </ng-template>
              </mat-expansion-panel>
            </ng-template>
            <ng-template [ngxPermissionsOnly]="[
                permissions.NUVENTORY_CATEGORIES_READ,
                permissions.MASTER_CATEGORIES_READ,
                permissions.MASTER_CATALOG_READ,
                permissions.MASTER_VENDORS_READ,
                permissions.CATEGORIES_READ,
                permissions.GL_CODES_READ,
                permissions.UNITS_MEASURE_READ,
                permissions.COMPANIES_READ,
                permissions.COMPANY_GROUPS_READ,
                permissions.CUSTOMERS_READ,
                permissions.SHOPS_READ,
                permissions.USERS_READ,
                permissions.ROLES_READ,
                permissions.VENDORS_READ,
                permissions.TECHNICIANS_READ,
                permissions.HOURS_READ,
                permissions.PROFILE_READ,
                permissions.WIZARD_READ,
                permissions.MATERIAL_BUDGET_SETUP_READ,
                permissions.LANGUAGE_EDITOR_READ,
                permissions.LANGUAGES_READ,
                permissions.SPAM_ACCESS,
                permissions.IMPORT_REPORT_DATA_READ]">
              <mat-expansion-panel class="mat-left-expansion-panel setup" #setup >
                <mat-expansion-panel-header class="mat-left-expansion-panel-header" collapsedHeight="45px" expandedHeight="45px">
                  <mat-panel-title>
                    <a mat-button class="nav-link mat-left-menu-button">
                      <i class="fa fa-exchange sidebar-nav-icon"></i>
                        {{'Workspace_SetupMenu'|lang}}
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template [ngxPermissionsOnly]="[permissions.NUVENTORY_CATEGORIES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/c00category/') === 0}" mat-button class="nav-link mat-left-menu-button c00category"  routerLink="/c00category">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_MasterCategoryButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATEGORIES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-categories/') === 0}" mat-button class="nav-link mat-left-menu-button master-categories"  routerLink="/master-categories">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Vendor Category'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.MASTER_CATALOG_READ]">
                    <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-catalogs/') === 0}" mat-button class="nav-link mat-left-menu-button master-catalogs"  routerLink="/master-catalogs">
                        <i class="fa fa-user-plus sidebar-nav-icon"></i>
                        {{'Vendor Catalog'|lang}}
                    </a>
                </ng-template>

                <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/master-vendors/') === 0}" mat-button class="nav-link mat-left-menu-button master-vendors" routerLink="/master-vendors">
                      <i class="fa fa-user-plus sidebar-nav-icon"></i>
                      {{'Workspace_VendorCatalogButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.CATEGORIES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/categories/') === 0}" mat-button class="nav-link mat-left-menu-button categories"  routerLink="/categories">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Company Categories'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.GL_CODES_READ]">
                    <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/gl-codes/') === 0}" mat-button class="nav-link mat-left-menu-button gl-codes"  routerLink="/gl-codes">
                      <i class="fa fa-user-plus sidebar-nav-icon"></i>
                      {{'Workspace_GLCodeButton'|lang}}
                    </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/measurement-unit/') === 0}" mat-button class="nav-link mat-left-menu-button measurement-unit"  routerLink="/measurement-unit">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_UMButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.COMPANIES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/companies/') === 0}" mat-button class="nav-link mat-left-menu-button companies"  routerLink="/companies">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_CompanyButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.COMPANY_GROUPS_READ]">
                  <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" mat-button class="nav-link mat-left-menu-button user"  routerLink="/company/group">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_CompanyGroupButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/countries/') === 0}" mat-button class="nav-link mat-left-menu-button countries"  routerLink="/countries">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_CountryButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/customers/') === 0}" mat-button class="nav-link mat-left-menu-button customers"  routerLink="/customers">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_CustomerButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.SHOPS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/shops/') === 0}" mat-button class="nav-link mat-left-menu-button shops"  routerLink="/shops">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_ShopButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.USERS_READ]">
                  <a  [ngClass]="{'active-child': router.url.toString().indexOf('/user/') === 0 && router.url !=='/user/profile'}" [class.active]="router.url === '/user' || router.url.toString().indexOf('/user') === 0 && router.url !=='/user/profile'" mat-button class="nav-link mat-left-menu-button user"  routerLink="/user">
                    <i class="fa fa-user sidebar-nav-icon"></i>
                    {{'Workspace_UserButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.ROLES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/groups/') === 0}" mat-button class="nav-link mat-left-menu-button groups"  routerLink="/groups">
                    <i class="fa fa-wrench sidebar-nav-icon"></i> Groups
                  </a>
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/rights/') === 0}" mat-button class="nav-link mat-left-menu-button rights"  routerLink="/rights/roles">
                    <i class="fa fa-wrench sidebar-nav-icon"></i> Roles
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.VENDORS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/vendors/') === 0}" mat-button class="nav-link mat-left-menu-button vendors"  routerLink="/vendors">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_VendorsButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/technicians/') === 0}" mat-button class="nav-link mat-left-menu-button technicians"  routerLink="/technicians">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_TechsButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.HOURS_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/hours/') === 0}" mat-button class="nav-link mat-left-menu-button hours"  routerLink="/hours">
                    <i class="fa fa-wrench sidebar-nav-icon"></i>
                    {{'Hours'|lang}}
                  </a>
                </ng-template>
                <!--
                <ng-template [ngxPermissionsOnly]="[permissions.MATERIAL_BUDGET_SETUP_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/material-budget-setup/') === 0}" mat-button class="nav-link mat-left-menu-button material-budget-setup" (click)="onMmaterialBudgetSetupClick()">
                    <i class="fa fa-wrench sidebar-nav-icon"></i>
                    {{'Material Budget Setup'|lang}}
                  </a>
                </ng-template>
                -->
                <ng-template [ngxPermissionsOnly]="[permissions.BUDGETS_READ]">
                  <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" mat-button class="nav-link mat-left-menu-button budgets"  routerLink="/budgets">
                    <i class="fa fa-wrench sidebar-nav-icon"></i>
                    {{'Budgets'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.PROFILE_READ]">
                  <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" mat-button class="nav-link mat-left-menu-button user"  routerLink="/user/profile">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_MySettingButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.WIZARD_READ]">
                  <a mat-button class="nav-link mat-left-menu-button" (click)="openSetupWizard()">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_SetupWizardButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGE_EDITOR_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/languages/') === 0}" mat-button class="nav-link mat-left-menu-button languages"  routerLink="/languages">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Workspace_LanguagesButton'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/language-editor/') === 0}" mat-button class="nav-link mat-left-menu-button language-editor"  routerLink="/language-editor">
                    <i class="fa fa-user-plus sidebar-nav-icon"></i>
                    {{'Language Editor'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.SPAM_ACCESS]">
                  <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" mat-button class="nav-link mat-left-menu-button spam"  routerLink="/spam">
                    <i class="fa fa-envelope sidebar-nav-icon"></i>
                    {{'Spam'|lang}}
                  </a>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.IMPORT_REPORT_DATA_READ]">
                  <a [routerLinkActive]="'active'" [ngClass]="{'active-child': router.url.toString().indexOf('/import-report-data') === 0}" mat-button class="nav-link mat-left-menu-button import-report-data" routerLink="/import-report-data">
                    <i class="fa fa-bar-chart sidebar-nav-icon"></i>
                    {{'Import Sales Data'|lang}}
                  </a>
                </ng-template>
              </mat-expansion-panel>
            </ng-template>
          </mat-accordion>
        </li>
    </ng-template>
  </ul>
</nav>
<p-confirmDialog acceptLabel="{{acceptLabel}}" header="{{confirmationHeader}}" icon="pi pi-info" width="425"></p-confirmDialog>
