/deep/ .sidebar {
  div.mat-select-value {
    color: white;
  }
  .mat-select-arrow {
    color: white;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  div.mat-form-field-infix{
    border: 0;
    top: -2px;
  }
  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    background-color: white;
    top: 22px;
  }

  .mat-checkbox-frame {
    border-color: white;
  }

  hr {
    border-top: 1px solid rgba(255, 255, 255, 1);
  }
}