<div #summaryView id="summaryView" class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-md-auto" align="left">
        <div>
          <app-companies-checkbox-dropdown [selectedCompanies]="selectedCompanies" (selectedCompaniesChange)="selectedCompaniesChange($event)"></app-companies-checkbox-dropdown>
        </div>
      </div>
      <div class="col-md-auto" align="left">
        <div>
          <app-shops-checkbox-dropdown [selectedCompanies]="selectedCompanies" [selectedShops]="selectedShops" (selectedShopsChange)="selectedShopsChange($event)"></app-shops-checkbox-dropdown>
        </div>
      </div>
      <div class="col-md-auto" align="left">
        <div>
          <app-reporting-filter [range]="1"></app-reporting-filter>
        </div>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-primary" (click)="getChartData()" [disabled]="disableRunButton">{{'Run'|lang}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto" align="left">
        <div>
          <mat-button-toggle-group name="range" (change)="rangeChange($event.value)">
            <mat-button-toggle value="3" checked>{{'Total'|lang}}</mat-button-toggle>
            <mat-button-toggle value="1">{{'By Month'|lang}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="col-md-auto" align="left" style="padding-top: 4px">
        <div>
          <mat-slide-toggle (change)="aboveTargetsChange($event.checked)">{{'Only Above Targets'|lang}}</mat-slide-toggle>
        </div>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="!cols.length" style="padding-top: 20px">{{'There is no data'|lang}}</div>
  <p-table *ngIf="cols.length" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [rowHover]="false"
           selectionMode="single" [scrollable]="true"
           [paginator]="false" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [ngStyle]="{'text-align' : col.header === 'Attribute' ? 'left' : 'right', 'width' : col.header === 'Attribute' ? '250px' : '100px'}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (click)="showChart(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'text-align' : col.header === 'Attribute' ? 'left' : 'right', 'width' : col.header === 'Attribute' ? '250px' : '100px'}"
            [ngClass]="getRowClass(col, rowData, col.value)">

          <span *ngIf="col.header === 'Attribute'">
            <i class="fa fa-bar-chart sidebar-nav-icon"></i> {{rowData['attribute']}}
          </span>
          <span *ngIf="(col.header !== 'Attribute' && col.header !== 'Total/Target')">
            {{rowData[col.value]['formatedValue']}}
          </span>
          <span *ngIf="col.header === 'Total/Target'">
            {{rowData['total/target']}}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>