@import "../../../scss/_ngtable";

.mat-button-toggle {
  color: unset;
}

.light-grey-cell {
  background-color: #F6F7F8 !important;
}

.dark-grey-cell {
  background-color: #d9dee2 !important;
}

.white-cell {
  background-color: white !important;
}

.green-cell {
  background-color: #27AE60 !important;
  color: white !important;
}

.red-cell {
  background-color: #E74C3C !important;
  color: white !important;
}

.yellow-cell{
  background-color: rgba(253,253,150,.75);
  color: darkslategray !important;
}