<div style="height: 100%;" #printSettingsModal  >
  <div #header >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Print Label Settings'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <button class="btn btn-primary" (click)="onPrint()">{{'printPDFButton'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content style="padding-top: 10px">
    <div class="row" hidden>
      <div class="col">
        <label>{{'Start Printing From'|lang}}:</label>
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <label>{{'Row'|lang}}:</label>
      </div>
      <div class="col">
        <select [(ngModel)]="selectedRow">
          <option *ngFor="let row of rowDP" [value]="row.data">
            {{row.label}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>{{'Column'|lang}}:</label>
      </div>
      <div class="col">
        <select [(ngModel)]="selectedColumn">
          <option *ngFor="let column of columnDP" [value]="column.data">
            {{column.label}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>{{'Code'|lang}}:</label>
      </div>
      <div class="col">
        <select [(ngModel)]="selectedBarcodeType">
          <option *ngFor="let code of barcodeTypesDP" [value]="code.data">
            {{code.label}}
          </option>
        </select>
      </div>
    </div>
  </mat-dialog-content>
</div>