/deep/ .cdk-overlay-pane-select-search {
  /* correct offsetY so that the selected option is at the position of the select box when opening */
  margin-top: 30px !important;
}

/deep/ .app-header.navbar .navbar-nav {
  flex-direction: column;
  align-items: stretch;
  padding-left: 10px !important;
  width: 37% !important; 
  max-width: 220px !important;
}
