<header #hr class="app-header navbar" style="height: auto">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerlinkactive="active" class="nav-link" routerLink="/dashboard" >
    <img src="assets/img/small-CMYK.jpg" height="35">
  </a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <mat-form-field align="left">
      <mat-select [formControl]="companyCtrl" #companySelect panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="companyChanged($event)" [ngModel]="selectedCompany">
        <ngx-mat-select-search [formControl]="companyFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
        <mat-option *ngFor="let company of filteredCompanies" [value]="company">
          <span *ngIf="company.CO1_ID != '' && company.CO1_ID != 0 && company.CO1_ID != null">{{company.CO1_SHORT_CODE}} : {{company.CO1_NAME}}</span>
          <span *ngIf="company.CO1_ID == '' || company.CO1_ID == 0 || company.CO1_ID == null">{{company.CO1_NAME}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ul>
  <ul class="navbar-nav mr-auto">
    <mat-form-field align="left">
      <mat-select [formControl]="shopCtrl" #shopSelect panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="shopChanged($event)" [ngModel]="selectedShop">
        <ngx-mat-select-search [formControl]="shopFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
        <mat-option *ngFor="let shop of filteredShops" [value]="shop">
          <span *ngIf="shop.LO1_ID != '' && shop.LO1_ID != 0 && shop.LO1_ID != null">{{shop.LO1_SHORT_CODE}} : {{shop.LO1_NAME}}</span>
          <span *ngIf="shop.LO1_ID == '' || shop.LO1_ID == 0 || shop.LO1_ID == null">{{shop.LO1_NAME}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ul>
  <ul class="nav" style="align-items: center;">
    <a class="nav-link" href="https://www.youtube.com/playlist?list=PLpp_DcdWxdXjyayg1ijZZ_6eBLX_P4kHR" target="_blank" style="color:#000;">
      <img src="assets/img/youtube.png" height="20" style="padding-right: 5px">
      Training Videos
    </a>
    <span>+1 (833) 688-3689</span>
    <app-settings-menu style="padding-left: 10px; margin-right: 20px;"></app-settings-menu>
  </ul>
</header>
