@import "~bootstrap/scss/bootstrap";

.demo-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .title {
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }
}

.h-block {
  color: white;

  h1 {
    color: white;
  }
}

.no-padding {
  padding: 0 !important;
}

.go-back {
  margin-top: 10px;

  a {
    color: white;
  }
}

/deep/ input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}