<ng-container *ngIf="auth.isAuthenticated && !printRack; else authLayout;">
  <ng-container *ngIf="!slideShow; else slideShowLayout;">
    <app-header #header (window:resize)="getHeaderHeight()" (onload)="getHeaderHeight()" (onshow)="getHeaderHeight()"></app-header>
    <div class="app-body" [ngStyle]="{'margin-top': headerHeight + 'px'}">
      <ngx-smart-modal #auth identifier="auth" [closable]="false" [dismissable]="false" customClass="nsm-dialog-animation-ttb" >
        <div class="modal-header">
          <h5 class="modal-title">{{'Your Session Is About to Expire'|lang}}</h5>
        </div>
        <div class="modal-body">
          <h6>
            {{'Your account access session is about to expire.'|lang}}<br/>
            {{'For security reasons, your session will time out at time'|lang}}
            {{ auth.getData()?.time }}
            {{'unless you continue.'|lang}}<br/>
          </h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="auth.close()">{{'Continue Session'|lang}}</button>
        </div>
      </ngx-smart-modal>

      <app-sidebar></app-sidebar>
      <!-- Main content -->
      <main class="main">
        <!-- Breadcrumb -->
        <!--<ol class="breadcrumb">-->
        <!--<app-breadcrumbs></app-breadcrumbs>-->
        <!--</ol>-->
        <br>

        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div><!-- /.conainer-fluid -->
      </main>
      <app-aside></app-aside>
    </div>
    <app-footer></app-footer>
  </ng-container>
  <ng-template #slideShowLayout>
    <div *ngIf="slideShow" class="row" align="right" style="height: 35px; width: 100%">
      <div class="col" align="right">
        <button *ngIf="slideShowInterval" class="btn btn-light" (click)="pauseSlideShow()" style="height: 35px"><i class="fa fa-pause"></i></button>
        <button *ngIf="!slideShowInterval" class="btn btn-light" (click)="startSlideShow()" style="height: 35px"><i class="fa fa-play"></i></button>
        <button class="btn btn-light" (click)="closeSlideShow()" style="height: 35px"><i class="fa fa-close"></i></button>
      </div>
    </div>
    <main style="margin: 20px">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </ng-template>
</ng-container>
<ng-template #authLayout>
  <router-outlet></router-outlet>
</ng-template>