<p-dialog [(visible)]="display" [modal]="true" [baseZIndex]="1000000" [closable]="false">
  <p-header>
    {{header|lang}}
  </p-header>
  {{message|lang}}
  <p-footer>
    <button id="#Yes#" class="btn btn-success" (click)="onConfirm()">{{'#Yes#'|lang}}</button>
    <button id="#No#" class="btn btn-success" (click)="onClose()">{{'#No#'|lang}}</button>
  </p-footer>
</p-dialog>