<div style="height: 100%;" #techUsageDetailModal  >
  <div #header  >
    <div style="float: right">
      <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
      <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
        <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px; margin-right: 10px;"><i class="fa fa-language"></i></button>
      </ng-template>
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{title}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <p-treeTable [columns]="cols" [value]="items"
                 [loading]="loading" [rowHover]="true"
                 selectionMode="single"  [scrollable]="true"
                 [scrollHeight]="scrollHeight" >
      <ng-template pTemplate="header" let-columns>
        <tr [ttRow]="rowNode" #tableHeader>
          <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
            <p-treeTableToggler *ngIf="col.field == 'CA1_NAME'" [rowNode]="rowNode"></p-treeTableToggler>
            <currency *ngIf="col.field == 'TOTAL_PRICE'" [value]="rowData[col.field]"></currency>
            <span *ngIf="col.field == 'OR_CREATED_ON'">{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
            <span *ngIf="col.field != 'TOTAL_PRICE' && col.field != 'OR_CREATED_ON'">{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Close#'|lang}}</button>
  </mat-dialog-actions>
</div>