<form action="" method="post" (ngSubmit)="save(form)">
  <div class="animated fadeIn">
    <div class="card-body" style="padding: 0;">
      <button type="submit" class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> {{'Back'|lang}}</button>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="panel-heading">
          <i class="fa fa-link"></i>
          <h3 class="panel-title" style="display: inline;">{{'Access Form'|lang}}</h3>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-8 col-form-label control-label" required="true">
              {{'Enable incognito mode'|lang}}
          </label>
          <div class="col-md-2">
            <div class="input-group">
              <label class="switch switch-text switch-pill switch-success">
                <input type="checkbox" class="switch-input" [(ngModel)]="profile.UP1_INCOGNITO_MODE"
                       name="UP1_INCOGNITO_MODE" [checked]="profile.UP1_INCOGNITO_MODE">
                <span class="switch-label" data-on="Yes" data-off="No"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-8 col-form-label control-label" required="true">
              {{'Enable access restriction to companies data'|lang}}
          </label>
          <div class="col-md-2">
            <div class="input-group">
              <label class="switch switch-text switch-pill switch-success">
                <input type="checkbox" class="switch-input"
                       [(ngModel)]="profile.UP1_RESTRICT_COMPANIES" name="UP1_RESTRICT_COMPANIES"
                       [checked]="profile.UP1_RESTRICT_COMPANIES">
                <span class="switch-label" data-on="Yes" data-off="No"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
        </div>

        <ng-template [ngIf]="profile.UP1_RESTRICT_COMPANIES" >
          <ngx-datatable
            #accessTable
            class="material no-shadow expandable"
            [rows]="rows"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [loadingIndicator]="loading"
            [rowHeight]="'auto'"
            (page)='setPage($event)'>

            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h4>
                        <div class="container">
                          <div class="row" >
                             <div class="col-2">
                                 {{'ID'|lang}}
                             </div>
                              <div class="col">
                                  {{'CU1_NAME'|lang}}
                             </div>
                          </div>
                        </div>
                      </h4>
                      <mat-selection-list >
                        <mat-list-option *ngFor="let customer of row.customers"
                                         [value]="customer.CU1_ID"
                                         [disabled]="customer.disabled"
                                         [selected]="customer.selected"
                                         (selectionChange)="onCustomerChanged($event, customer)" >
                          <div class="container">
                            <div class="row" >
                               <div class="col-2">
                                {{customer.CU1_ID}}
                               </div>
                                <div class="col">
                                  <a routerLink="/customers/access/{{customer.CU1_ID}}/{{row.CO1_ID}}">{{customer.CU1_NAME}}</a>
                               </div>
                            </div>
                          </div>

                        </mat-list-option>
                      </mat-selection-list>
                    </div>
                    <div class="col">
                      <h4>
                        <div class="container">
                          <div class="row" >
                             <div class="col-2">
                                 {{'ID'|lang}}
                             </div>
                              <div class="col">
                                  {{'VD1_NAME'|lang}}
                             </div>
                          </div>
                        </div>
                      </h4>
                      <mat-selection-list >
                        <mat-list-option *ngFor="let vendor of row.vendors"
                                          [value]="vendor.VD1_ID"
                                          [disabled]="vendor.disabled"
                                          [selected]="vendor.selected"
                                          (selectionChange)="onVendorChanged($event, vendor)">
                          <div class="container">
                            <div class="row" >
                               <div class="col-2">
                                {{vendor.VD1_ID}}
                               </div>
                                <div class="col">
                                {{vendor.VD1_NAME}}
                               </div>
                            </div>
                          </div>
                        </mat-list-option>
                      </mat-selection-list>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column [flexGrow]="0.01" >
                  <ng-template ngx-datatable-header-template let-sort="sortFn">

                  </ng-template>
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                      <a href="javascript:void(0)"
                         [class.datatable-icon-right]="!expanded"
                         [class.datatable-icon-down]="expanded"
                         title="Expand/Collapse Row"
                         (click)="toggleExpandRow(row)">
                      </a>
                  </ng-template>
              </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="2">
              <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper">
                        <span class="datatable-header-cell-label draggable header-label">{{'#Company#'|lang}}</span>
                    </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="align-items-center" ><a routerLink="/companies/access/{{row.CO1_ID}}" >{{row.CO1_NAME}}</a></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column sortable="false" [flexGrow]="0.5" [cellClass]="getCellClass">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <div style="text-align: center">
                  <span class="datatable-header-cell-label draggable header-label">{{'Has Access'|lang}}</span>
                </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-form-field>
                  <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="row.access"
                              (change)="changeAccess(row)">
                    <mat-option *ngFor="let accessType of accessTypes" [value]="accessType.value">
                      {{accessType.text}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ng-template>


      </div>
    </div>
  </div>
</form>

