<div #BudgetsView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.BUDGETS_ADD]">
          <button type="button" class="btn btn-success" [disabled]="loading" (click)="addClick()" >
            <i class="fa fa-plus-square"></i> {{'#New#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.BUDGETS_EDIT]">
          <button type="button" class="btn btn-primary" [disabled]="!selected || selected.length > 1 || loading" (click)="editRecord()" >
            <i class="fa fa-pencil"></i> {{'#Edit#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.BUDGETS_DELETE]">
          <button type="button" class="btn btn-danger" [disabled]="!selected || selected.length < 1 || loading" (click)="deleteRecords()" >
            <i class="fa fa-trash"></i> {{'#Delete#'|lang}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)"
           [(selection)]="selected">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
          <span class="ui-column-title">{{col.header}}</span>
          <div *ngIf="(col.field == 'BU1_MONTHLY_GROSS_SALE' || col.field == 'BU1_TARGET_PERCENTAGE' || col.field == 'BU1_FINAL_RESULT'); then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <span>{{getFixedPrice(rowData[col.field])}}</span>
          </ng-template>
          <ng-template #elseBlock>
            <span>{{(col.field == 'BU1_MODIFIED_ON' || col.field == 'BU1_CREATED_ON')?(rowData[col.field]|datelocal:'MM.dd.y HH:mm'):rowData[col.field]}}</span>
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Budgets'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
