<div style="height: 100%;" #defaultImageModal style="display: grid;">
    <div #header>
        <div style="float: right">
            <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
        </div>
        <h2 mat-dialog-title>{{'Found Customer Data with images, replace?'|lang}}</h2>
    </div>

    <div #actionbar class="card-body" style="padding: 0;margin-bottom: 10px">
        <div class="row">
            <div class="col" align="left">
                <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
                <button mat-raised-button class="btn btn-success" (click)="setDefaultImages()"> {{'Replace Selected'|lang}}</button>
            </div>
        </div>
    </div>

    <mat-dialog-content class="mat-typography" #content>
        <p-table [value]="items">
            <ng-template pTemplate="caption">
                {{'Customer Data'|lang}}
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>{{'Part #'|lang}}</th>
                    <th>{{'Description'|lang}}</th>
                    <th>{{'Image'|lang}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <input type="checkbox" checked
                               (click)="changeSelected($event, user.MD1_ID)"
                        />
                    </td>
                    <td>{{user.MD1_PART_NUMBER}}</td>
                    <td>{{user.MD1_DESC1}}</td>
                    <td>
                        <img src="/images/{{user.FI1_FILE_PATH}}" style="width: 100px;height: 100px"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-dialog-content>

</div>
