<div class="animated fadeIn">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="card-body" style="padding: 0;" >
      <button class="btn btn-success {{constants.ACCEPT_SAVE_BARCODE}}" (click)="savePassword()"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> {{'#Cancel#'|lang}}</button>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        {{ user.username }}
        <div class="clearfix">

        </div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" #form="ngForm" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label control-label" for="old_password" required="true"><strong>{{'Old Password'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-lg"></i></span>
              </div>
              <input type="password" [(ngModel)]="model.old_password" name="old_password" id="old_password" class="form-control" placeholder="{{'Old Password'|lang}}">
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="errors.old_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.old_password[0]}}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label control-label" for="new_password" required="true"><strong>{{'New Password'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
              </div>
              <input type="password" [(ngModel)]="model.new_password" name="new_password" id="new_password" class="form-control" placeholder="{{'New Password'|lang}}">
            </div>
            <span class="help-block"><span class="label label-info">Hint</span> {{'Minimal password length 4 symbols.'|lang}}</span>
          </div>
        </div>
        <div class="form-group row" *ngIf="errors.new_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.new_password[0]}}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label control-label" for="repeat_password" required="true"><strong>{{'Retype Password'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-lg"></i></span>
              </div>
              <input type="password" [(ngModel)]="model.repeat_password" id="repeat_password" name="repeat_password" class="form-control" placeholder="{{'Retype Password'|lang}}">
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="errors.repeat_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.repeat_password[0]}}</div>
        </div>
      </form>
    </div>
  </div>
</div>
