<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_ADD]">
          <button  class="btn btn-success" (click)="addNewCountry()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selectedCountry" (click)="editRecord()"><i class="fa fa-pencil"></i> {{'#Edit#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_ADD]">
          <button class="btn btn-primary" [disabled]="!selectedCountry" (click)="cloneCountry()"><i class="fa fa-clone"></i> {{'#Copy#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.COUNTRIES_DELETE]">
          <button class="btn btn-danger" [disabled]="!selectedCountry" (click)="onDeleteCountry()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <p-table [columns]="cols" [value]="items"
             [loading]="loading" [rowHover]="true"
             selectionMode="single" [(selection)]="selectedCountry">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" (dblclick)="editCountry(rowData)">
          <td *ngFor="let col of columns">
            {{(col.field == 'CREATED_ON' || col.field == 'MODIFIED_ON')?(rowData[col.field]|datelocal:'MM.dd.y HH:mm'):rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>