<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
      <div class="card-header">
          <div class="panel-heading">
              <i class="fa fa-user fa-lg"></i>
              {{ record.GR1_NAME }}
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <ng-template [ngIf]="errors.length" >
            <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
          </ng-template>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'GR1_NAME'|lang}}" [(ngModel)]="record.GR1_NAME" name="GR1_NAME">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'GR1_DESC'|lang}}"  [(ngModel)]="record.GR1_DESC" name="GR1_DESC" >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="padding-right: 10px">
              <mat-select placeholder="{{'Access level'|lang}}" (selectionChange)="onRegionChange()" [(ngModel)]="record.GR1_ACCESS_LEVEL" name="GR1_ACCESS_LEVEL">
                <mat-option *ngFor="let accessLevel of accessLevelList" [value]="accessLevel.GR1_ACCESS_LEVEL">
                  {{accessLevel.GR1_ACCESS_LEVEL_DESC}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="padding-right: 10px">
              <mat-select placeholder="{{'Role'|lang}}" (selectionChange)="onRoleChange()" [(ngModel)]="record.ROLE_NAME" name="ROLE_NAME">
                <mat-option *ngFor="let role of roles" [value]="role.name">
                  {{role.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
  </div>
</div>