<div #vocUsageReportView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.VOC_USAGE_READ]">
          <button class="btn btn-primary" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.VOC_USAGE_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>

  <p-treeTable [value]="items" [columns]="cols"
               selectionMode="single" [loading]="loading"
               [scrollable]="true" [metaKeySelection]="true" [paginator]="false"
               (onNodeExpand)="onNodeExpand($event)" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="caption">
      <div #tableCaption style="text-align: left">
        <div class="row" style="height: 35px">
          <div class="col-auto">
            <app-reporting-filter></app-reporting-filter>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" (click)="getVocData()" style="margin-top: -4px;" [disabled]="disableRunButton">{{'Run'|lang}}</button>
          </div>
          <div class="col" align="right">
            <input [(ngModel)]="page.filterParams['SEARCH']" pInputText type="text" style="width: 200px; margin-top: -4px;" (keydown)="buttonPress($event, 'SEARCH', $event.target.value);">
            <button type="button" class="btn btn-primary" (click)="searchButtonPressed()" style="height: 35px; margin-top: -4px;">
              <i class="fa fa-search"></i>
            </button>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr [ttSelectableRow]="rowNode">
        <td *ngFor="let col of columns; let i = index" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <div #footer class="col-sm-12" style="padding-top: 8px; height: 34px" ><span style="width: 100%; font-weight: normal; font-size: 14px">{{'VOC Usage'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</span></div>
    </ng-template>
  </p-treeTable>
</div>