<div style="height: 100%;" #purchaseOrderLineModal>
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog(false)"></i>
    </div>
    <h2 mat-dialog-title >{{'PO Line'|lang}} #{{record.PO2_LINE}}</h2>
  </div>
  <div #actionbar >
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="ui" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}" >
    <mat-card-content [style.overflow]="'auto'" style="padding-right: 20px;">
      <div style="padding-left: 10px;" >
        <div class="row">
          <div class="col">
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO2_ORDER_QTY'|lang}}" [(ngModel)]="record.PO2_ORDER_QTY" name="PO2_ORDER_QTY" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO2_RECEIVED_QTY'|lang}}" [(ngModel)]="record.PO2_RECEIVED_QTY" name="PO2_RECEIVED_QTY" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO2_RECEIVING_QTY'|lang}}" [(ngModel)]="record.PO2_RECEIVING_QTY" name="PO2_RECEIVING_QTY" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO1_NUMBER'|lang}}" [(ngModel)]="record.PO2_PART_NUMBER" name="PO2_PART_NUMBER" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO2_DESC1'|lang}}" [(ngModel)]="record.PO2_DESC1" name="PO2_DESC1" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'IJ2_DESC1'|lang}}" [(ngModel)]="record.JT2_DESC1" name="JT2_DESC1" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'MD1_UM'|lang}}" [(ngModel)]="record.UM1_RECEIVE_NAME" name="UM1_RECEIVE_NAME" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO2_UNIT_PRICE'|lang}}" [(ngModel)]="record.PO2_UNIT_PRICE" name="PO2_UNIT_PRICE" disabled>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

  </div>
</div>