<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i>
            {{record.IN1_NUMBER}}
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'IN1_INVOICEED_ON'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.CREATED_ON ? (record.CREATED_BY ? ', ': '') + record.CREATED_ON : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + record.MODIFIED_ON : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row" style="font-weight: bold">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'CO1_NAME'|lang}}:</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.CO1_NAME}}</label>
              </div>
            </div>
            <div class="row" style="font-weight: bold">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'ORDER_FROM_LOCATION_NAME'|lang}}:</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.LO1_FROM_NAME}}</label>
              </div>
            </div>
            <div class="row" style="font-weight: bold">
              <div class="col-md-3" style="padding-right: 0px;">
                <label >{{'ORDER_BY_LOCATION_NAME'|lang}}:</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.LO1_TO_NAME}}</label>
              </div>
            </div>
            <div class="row" style="font-weight: bold">
              <div class="col-md-3" style="padding-right: 0px;">
                <label *ngIf="record.IN1_TOTAL_VALUE >= 0">{{'IN1_NUMBER'|lang}}:</label>
                <label *ngIf="record.IN1_TOTAL_VALUE < 0">{{'#CreditMemoNum#'|lang}}:</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.IN1_NUMBER}}</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field>
                  <mat-select placeholder="{{'#Status#'|lang}}" [(value)]="record.IN1_STATUS" disabled>
                    <mat-option *ngFor="let status of statusData" [value]="status.IN1_STATUS">
                      {{status.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto" *ngIf="record.IN1_TOTAL_VALUE < 0 && !loading">
                  <input matInput placeholder="{{'#CreditMemoTotal#'|lang}}" [(ngModel)]="record.IN1_TOTAL_VALUE" name="IN1_TOTAL_VALUE" disabled>
                </mat-form-field>
                <mat-form-field class="mat-form-field-width-auto" *ngIf="record.IN1_TOTAL_VALUE >= 0 && !loading">
                  <input matInput placeholder="{{'IN1_TOTAL_VALUE'|lang}}" [(ngModel)]="record.IN1_TOTAL_VALUE" name="IN1_TOTAL_VALUE" disabled>
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" rows="3" >
                <textarea matInput placeholder="{{'IN1_COMMENT'|lang}}" [(ngModel)]="record.IN1_COMMENT" name="IN1_COMMENT" disabled></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div #contentGrid >
      <p-table id="ordersTable" [columns]="cols" [value]="items"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="single" [scrollable]="true"
               [paginator]="false" [(selection)]="selected" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
              <span *ngIf="col.field == 'IN2_UNIT_PRICE'">{{rowData[col.field] | currency}}</span>
              <span *ngIf="col.field == 'IN2_EXTENDED_VALUE'">{{rowData[col.field] | currency}}</span>
              <span *ngIf="col.field == 'IN2_LINE'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
              <span *ngIf="col.field != 'IN2_LINE' && col.field != 'IN2_UNIT_PRICE' && col.field != 'IN2_EXTENDED_VALUE'">{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>