<div id="editInventoryModal" style="height: 100%;" #editInventoryModal >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Edit Inventory'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <button class="btn btn-success" (click)="onAddOrder()"><i class="fa fa-plus-square"></i> {{'AddButton'|lang}}</button>
        <button class="btn btn-danger" [disabled]="!selected || selected.length == 0" (click)="onDelete()"><i class="fa fa-trash"></i> {{'Remove Items'|lang}}</button>
        <button class="btn btn-primary {{constants.ACCEPT_SAVE_BARCODE}}" (click)="onSave()" [disabled]="!items">{{'SaveButton'|lang}}</button>
      </div>
      <div align="right" style="padding-right: 15px;">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template [ngIf]="errors && errors.length" >
    <div #errorsContainer>
      <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
    </div>
  </ng-template>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <mat-dialog-actions #searchbar style="padding-top: 0; margin-bottom: 0;" >
      <div class="row" style="width: 100%; padding-top: 10px;">
        <div class="col">
          <div class="row align-items-center">
            <div class="col" style="padding-right: 0px;">
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled [(ngModel)]="CO1_NAME" name="CO1_NAME" >
                <button mat-button *ngIf="CO1_ID" matSuffix mat-icon-button aria-label="Clear Company" (click)="clearCompany()" disabled>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-auto" style="padding-left: 0px;">
              <button mat-button color="primary" (click)="selectCompany()" disabled>{{'CompanyButton'|lang}}</button>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right: 0px">
          <div class="row align-items-center">
            <div class="col" style="padding-right: 0px;">
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'LO1_NAME'|lang}}" disabled  [(ngModel)]="LO1_NAME" name="LO1_NAME" >
                <button mat-button *ngIf="LO1_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearShop()" disabled>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-auto" style="padding-left: 0px; padding-right: 0px">
              <button mat-button color="primary" (click)="selectShop()" style="padding-right: 0px" disabled>{{'ShopButton'|lang}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="width: 100%">
        <div class="col" align="left">
          <mat-form-field>
            <div class="example-full-width" matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <input matInput #inputPartNumber placeholder="{{'#QuickAdd#'|lang}}" [formControl]="partsControl" [matAutocomplete]="autoParts" [matAutocompleteConnectedTo]="origin" [(ngModel)]="partNumber"
                     [name]="partNumber" (input)="filterParts($event.target.value)" (keyup)="partNumberKeyUp($event)">
            </div>
            <mat-autocomplete #autoParts="matAutocomplete" (optionSelected)="onSelectPart($event.option.value)">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let part of filteredParts; trackBy: part?.MD1_PART_NUMBER" [value]="part.MD1_PART_NUMBER">{{part.MD1_PART_NUMBER}} - {{part.MD1_DESC1}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>

          <label style="padding-left: 10px">{{'Find'|lang}}:</label>
          <mat-form-field>
            <input #searchInput matInput [(ngModel)]="search" (input)="onInput($event.target.value)" (change)="search = $event.target.value" style="width: 200px">
          </mat-form-field>
          <button class="btn btn-success" (click)="onNext()" style="height: 35px">{{'Next'|lang}}</button>

          <button  class="btn btn-success" (click)="activateSelected()" [disabled]="!selected || selected.length == 0" style="margin-left: 10px">{{'ActiveSelected'|lang}}</button>
          <button  class="btn btn-success" (click)="deactivateSelected()" [disabled]="!selected || selected.length == 0">{{'DeactiveSelected'|lang}}</button>

          <!--<mat-checkbox [labelPosition]="after" [(ngModel)]="scannerMode" name="scannerMode" (change)="scannerMode = $event.checked ? true : false" style="vertical-align: middle; margin-left: 10px">-->
            <!--{{'Scanner Mode'|lang}}-->
          <!--</mat-checkbox>-->
        </div>
        <div class="col-md-auto" align="right" hidden>
          <label style="font-weight: bold">{{'OR1_TOTAL_VALUE'|lang}}:</label>
          <label style="font-weight: bold" style="padding-left: 10px">{{totalValue|currency}}</label>
        </div>
      </div>
    </mat-dialog-actions>
    <p-table #table [columns]="cols" [value]="items" selectionMode="multiple"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [(selection)]="selected" [scrollable]="true" [metaKeySelection]="true"
             [scrollHeight]="scrollHeight" [first]="currentPageIndex" >
      <ng-template pTemplate="header" let-cols>
        <tr #tableHeader>
          <th *ngFor="let col of cols; trackBy: col?.field" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="cols" let-rowIndex="rowIndex">
        <tr id="row{{rowIndex}}" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of cols; trackBy: col?.field" [ngSwitch]="col.field" [hidden]="!col.visible"
              [ngStyle]="{'width': col.width +'px'}" [ngClass]="{'noneoverflow': col.field == 'MD2_ACTIVE'}"
              [pEditableColumn]="rowData" [pEditableColumnField]="col"
              id="{{col.field === 'MD2_ON_HAND_QTY' ? 'qtyOnHandRow'+rowIndex: (col.field === 'MD2_MIN_QTY' ? 'minQtyRow'+rowIndex : (col.field === 'MD1_UNIT_PRICE' ? 'unitPriceRow'+rowIndex : '')) }}">
            <span *ngSwitchCase="'VD1_ID'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <app-vendor-search [disabled]="standardUser" [(vendorId)]="rowData[col.field]" [(vendorName)]="rowData['VD1_NAME']" [(vendors)]="vendorData"></app-vendor-search>
                </ng-template>
                <ng-template pTemplate="output">
                  <mat-form-field class="mat-form-field-width-auto">
                    <b style="color: #FF4136">
                      <input matInput placeholder="" [(ngModel)]="rowData.VD1_NAME">
                    </b>
                  </mat-form-field>
                </ng-template>
              </p-cellEditor>
            </span>
            <span *ngSwitchCase="'C00_NAME'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <app-combobox-search [(itemId)]="rowData['C00_ID']" [(itemName)]="rowData['C00_NAME']" [FIELD_ID]="'C00_ID'" [FIELD_NAME]="'C00_NAME'" [(data)]="c00categoriesData"></app-combobox-search>
                </ng-template>
                <ng-template pTemplate="output">
                  <mat-form-field class="mat-form-field-width-auto">
                    <b style="color: #FF4136">
                      <input matInput placeholder="" [(ngModel)]="rowData.C00_NAME">
                    </b>
                  </mat-form-field>
                </ng-template>
              </p-cellEditor>
            </span>
            <span *ngSwitchCase="'CA1_NAME'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <app-combobox-search [(itemId)]="rowData['CA1_ID']" [(itemName)]="rowData['CA1_NAME']" [FIELD_ID]="'CA1_ID'" [FIELD_NAME]="'CA1_NAME'" [(data)]="categoriesData"></app-combobox-search>
                </ng-template>
                <ng-template pTemplate="output">
                  <mat-form-field class="mat-form-field-width-auto">
                    <b style="color: #FF4136">
                      <input matInput placeholder="" [(ngModel)]="rowData.CA1_NAME">
                    </b>
                  </mat-form-field>
                </ng-template>
              </p-cellEditor>
            </span>
            <span *ngSwitchCase="'MD2_ACTIVE'">
              <div align="center" >
                <mat-checkbox [disabled]="standardUser" [checked]="rowData.MD2_ACTIVE == '1'" name="MD2_ACTIVE_{{index}}" (change)="onChange(rowData.MD2_ACTIVE = $event.checked ? '1' : '0')"  [disabled]="!isAdmin"></mat-checkbox>
              </div>
            </span>
            <span *ngSwitchCase="'MD2_ON_HAND_QTY'">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="number"  min="0" step="1" [(ngModel)]="rowData['MD2_ON_HAND_QTY']" (keydown)="buttonPress($event, rowIndex, 'qtyOnHandRow');" (keypress)="qtyKeyPress($event)" style="width: 100%" (focus)="$event.target.select()">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <mat-form-field class="mat-form-field-width-auto">
                      <b style="color: #FF4136">
                        <input matInput placeholder="" [(ngModel)]="rowData[col.field]">
                      </b>
                    </mat-form-field>
                  </ng-template>
                </p-cellEditor>
            </span>
            <span *ngSwitchCase="'MD2_MIN_QTY'">
              <span *ngIf="standardUser">{{rowData[col.field]}}</span>
              <ng-container *ngIf="!standardUser">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="number"  min="0" step="1" [(ngModel)]="rowData['MD2_MIN_QTY']" (keydown)="buttonPress($event, rowIndex, 'minQtyRow');" (keypress)="qtyKeyPress($event)" style="width: 100%" [disabled]="!isAdmin" (focus)="$event.target.select()">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <mat-form-field class="mat-form-field-width-auto">
                      <b style="color: #FF4136">
                        <input matInput placeholder="" [(ngModel)]="rowData[col.field]">
                      </b>
                    </mat-form-field>
                  </ng-template>
                </p-cellEditor>
              </ng-container>
            </span>
            <span *ngSwitchCase="'MD2_RACK'">
              <span *ngIf="standardUser">{{rowData[col.field]}}</span>
              <ng-container *ngIf="!standardUser">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <app-rack-dropdown [(rackID)]="rowData['MD2_RACK']" [(LO1_RACKS)]="rowData['LO1_RACKS']" id="rackRow{{rowIndex}}"></app-rack-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field] > 0 ? rowData[col.field] : 'N/A'}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-container>
            </span>
            <span *ngSwitchCase="'MD2_DRAWER'">
              <span *ngIf="standardUser">{{rowData[col.field]}}</span>
              <ng-container *ngIf="!standardUser">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <app-drawer-dropdown [(drawerID)]="rowData['MD2_DRAWER']" id="drawerRow{{rowIndex}}"></app-drawer-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field] > 0 ? rowData[col.field] : 'N/A'}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-container>
            </span>
            <span *ngSwitchCase="'MD2_BIN'">
              <span *ngIf="standardUser">{{rowData[col.field]}}</span>
              <ng-container *ngIf="!standardUser">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <app-bin-dropdown [(binID)]="rowData['MD2_BIN']" id="binRow{{rowIndex}}"></app-bin-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field] > 0 ? rowData[col.field] : 'N/A'}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-container>
            </span>
            <span *ngSwitchCase="'MD1_UNIT_PRICE'">
              <span *ngIf="standardUser">{{rowData[col.field]}}</span>
              <ng-container *ngIf="!standardUser">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input type="number"  min="0" step="0.00001" [(ngModel)]="rowData['MD1_UNIT_PRICE']" (keydown)="buttonPress($event, rowIndex, 'unitPriceRow');" style="width: 100%" (focus)="$event.target.select()">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field]}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-container>
            </span>
            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
