.mat-dialog-title {
  margin: 0 0 10px;
}

.noneoverflow {
  overflow: hidden;
  white-space: nowrap;
}

/deep/ body .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tbody > tr > td {
  .mat-checkbox-layout {
    margin: 0;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-infix {
      border: 0;
    }
    .mat-form-field-underline {
      bottom: 0;
      background-color: #FF4136;
    }
  }
}

/deep/ body #editInventoryModal .ui-table .ui-table-scrollable-body {
  overflow-y:scroll;
}