<div style="height: 100%;" #partsModal >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Link Manufacturer Catalog'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <button class="btn btn-primary" (click)="onSave()" [disabled]="!itemData">{{'SaveButton'|lang}}</button>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <div #buttons class="row" style="padding-top: 10px">
      <div class="col-6">
        <mat-dialog-actions style="padding-top: 0; margin-bottom: 0;" >
          <div class="row" style="width: 100%">
            <div class="col" align="left">
              <button class="btn btn-primary" (click)="onAutoMatch()" [disabled]="!itemData || itemData.length === 0">{{'Auto Match'|lang}}</button>
              <button class="btn btn-primary" (click)="onClearSelected()" [disabled]="!selectedVendorPart">{{'Clear Selected'|lang}}</button>
            </div>
            <div class="col" align="center">
              <label style="font-weight: bold; padding-top: 6px;">{{'Vendor Catalog Parts'|lang}}</label>
            </div>
            <div align="right" style="width: 100px">
              <div  style="display: flex">
                <button class="btn btn-success" (click)="onAssign()" [disabled]="!selectedVendorPart || !selectedCatalogPart" style="height: 35px">&lt;&lt;{{'Assign'|lang}}&lt;&lt;</button>
              </div>
            </div>
          </div>
        </mat-dialog-actions>
      </div>
      <div class="col-6">
        <mat-dialog-actions style="padding-top: 0; margin-bottom: 0;" >
          <div class="row" style="width: 100%">
            <div class="col" align="left" style="padding-top: 0px; height: 35px; margin-top: -8px;">
              <mat-form-field>
                <mat-select placeholder="{{'#Vendors#'|lang}}" [(value)]="selectedVendor" (selectionChange)="getParts()">
                  <mat-option *ngFor="let vendor of vendorData" [value]="vendor.VD0_ID">
                    {{vendor.VD0_NAME}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col" align="center">
              <label style="font-weight: bold; padding-top: 6px;">{{'Manufacturer Catalog Parts'|lang}}</label>
            </div>
            <div align="right" style="width: 250px">
              <div  style="display: flex">
                <input #searchInput type="input" [(ngModel)]="search" name="part_num" id="part_num" class="form-control"
                       (input)="onInput($event.target.value)" (change)="search = $event.target.value"
                       style="width: 200px">
                <button class="btn btn-success" (click)="onSearch()" style="height: 35px">{{'Next'|lang}}</button>
              </div>
            </div>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p-table [columns]="cols1" [value]="itemData" selectionMode="multiple"
                 [responsive]="true" [loading]="loading1" [metaKeySelection]="true" [rowHover]="true"
                 [(selection)]="selectedVendorPart" [scrollable]="true"
                 [scrollHeight]="scrollHeight1"
                 [paginator]="false">
          <ng-template pTemplate="header" let-cols>
            <tr>
              <th *ngFor="let col of cols" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="cols1" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td *ngFor="let col of cols1" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible" >
                <span>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr [ngStyle]="{'height': emptyHeight1}">
              <td [attr.colspan]="cols1.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div class="col-sm-12" style="padding-top: 5px;">{{'Parts'|lang}} ({{itemData.length}} {{'#Records#'|lang}})</div>
          </ng-template>
        </p-table>
      </div>
      <div class="col-6">
        <p-table #table [columns]="cols2" [value]="catalogData" selectionMode="single"
                 [responsive]="true" [loading]="loading" [rowHover]="true"
                 [(selection)]="selectedCatalogPart" [scrollable]="true"
                 [scrollHeight]="scrollHeight2" [first]="currentPageIndex"
                 [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
                 (onPage)="onPage2($event)">
          <ng-template pTemplate="header" let-cols>
            <tr #tableHeader>
              <th *ngFor="let col of cols2" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="cols2" let-rowIndex="rowIndex">
            <tr id="row{{rowIndex}}" [pSelectableRow]="rowData">
              <td *ngFor="let col of cols2" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
                <span>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr [ngStyle]="{'height': emptyHeight2}" [hidden]="catalogData.length">
              <td [attr.colspan]="cols2.length" >
                {{'No records found'|lang}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Parts'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </mat-dialog-content>
</div>