<div #jobTicketsView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_ADD]">
          <button  class="btn btn-success" [disabled]="!selected || selected.length != 1" (click)="onOpen()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true"
           (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
          {{col.header}}
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}">
          <mat-form-field *ngSwitchCase="'JT1_PRINTED'" [style]="{'width':'100%'}">
            <mat-select [(ngModel)]="page.filterParams['JT1_PRINTED']" (selectionChange)="filterChanged(col.field, $event.value)">
              <mat-option *ngFor="let flag of flagsDP" [value]="flag.value">
                {{flag.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'ORDERED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <input *ngSwitchCase="'JT1_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'VD1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD1_NAME">
              <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD1_ID">
                {{vendor.VD1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input *ngSwitchCase="'JT1_TOTAL_VALUE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="number" min="0" step="0.01" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'CO1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="companyCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.CO1_NAME">
              <ngx-mat-select-search [formControl]="companyFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let company of filteredCompanies" [value]="company.CO1_ID">
                {{company.CO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'LO1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.LO1_NAME">
              <ngx-mat-select-search [formControl]="locationFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShops" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="modifiedByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.MODIFIED_BY">
              <ngx-mat-select-search [formControl]="modifiedByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredModifiedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [ngSwitch]="col.field" >
            <ng-container *ngSwitchCase="'JT1_TOTAL_VALUE'">
              <currency [value]="rowData[col.field]"></currency>
            </ng-container>
            <ng-container *ngSwitchCase="'JT1_PRINTED'">
              <div style="text-align: center">
                <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i><span *ngIf="rowData[col.field] != 1">-</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'JT1_NUMBER'">
              <span style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'ORDERED_ON'">
              <span style="color: #0b58a2; font-weight: bold" >{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'MODIFIED_ON'">
              <span style="color: #0b58a2; font-weight: bold" >{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{rowData[col.field]}}</span>
            </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Job Tickets'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
