<ng-container *ngIf="materialDP">
  <mat-form-field class="mat-form-field-width-auto" >
    <mat-select [disabled]="disabled" [(ngModel)]="rackID" name="MD2_RACK_{{index}}" (selectionChange)="selectionChanged($event.value)">
      <mat-option *ngFor="let rack of rackDP; trackBy: rack?.data" [value]="rack.data" >
        {{rack.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!materialDP">
  <form>
    <select class="form-control" [disabled]="disabled" [(ngModel)]="rackID" name="MD2_RACK_{{index}}" (ngModelChange)="selectionChanged($event)">
      <option *ngFor="let rack of rackDP; trackBy: rack?.data" [value]="rack.data">
        {{rack.label}}
      </option>
    </select>
  </form>
</ng-container>