<div #spamView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
    <div class="card ui" style="">
      <div class="card-body" style="padding-bottom: 0; padding-top: 0">
        <ng-container *ngIf="currentState === 'filters'">
          <form action="" method="post" class="form-horizontal">
            <div class="row">
              <div class="col-md-auto" align="left">
                <div>
                  <app-companies-checkbox-dropdown [selectedCompanies]="selectedCompanies" (selectedCompaniesChange)="selectedCompaniesChange($event)"></app-companies-checkbox-dropdown>
                </div>
              </div>
              <div class="col-md-auto" align="left">
                <div>
                  <app-shops-checkbox-dropdown [selectedCompanies]="selectedCompanies" [selectedShops]="selectedShops" (selectedShopsChange)="selectedShopsChange($event)"></app-shops-checkbox-dropdown>
                </div>
              </div>
              <div class="col-md-auto" align="left">
                <div>
                  <app-groups-checkbox-dropdown [selectedGroups]="selectedGroups" (selectedGroupsChange)="selectedGroupsChange($event)"></app-groups-checkbox-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'Subject'|lang}}" [(ngModel)]="record.SUBJECT" name="SUBJECT">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto" >
                  <mat-label>{{'Message'|lang}}</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            [(ngModel)]="record.MESSAGE"
                            name="MESSAGE"
                            cdkAutosizeMinRows="10"
                            cdkAutosizeMaxRows="20"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary" (click)="getUsers()">{{'Next'|lang}}</button>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="currentState !== 'filters'">
          <div class="card-header">
            <div class="panel-heading">
              <label><span>{{'Statistic'|lang}}</span></label>
            </div>
          </div>
          <form action="" method="post" class="form-horizontal" style="margin: 0; padding-top: 10px;">
            <div class="row">
              <div class="col">
                <label>{{'#Users#'|lang}} / {{'Selected'|lang}}: {{users.length}}/{{selectedUsers.length}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <label>{{'Sending status'|lang}}:</label>
              </div>
              <div class="col">
                <mat-progress-bar mode="determinate" [value]="sendingProgress" color="blue" style="height: 20px"></mat-progress-bar>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary" (click)="goBackToFilters()" [disabled]="disableButtons">{{'Back'|lang}}</button>
                <button class="btn btn-primary" (click)="sendEmails()" [disabled]="disableButtons">{{'Send Emails'|lang}}</button>
              </div>
            </div>
          </form>
          <p-table id="usersTable" [styleClass]="'shadow'" [columns]="cols" [value]="users"
                   [responsive]="true" [loading]="usersLoading" [rowHover]="true"
                   selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
                   [paginator]="false" [lazy]="true">
            <ng-template pTemplate="header" let-columns>
              <tr #tableHeader>
                <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
                  <ng-container *ngIf="col.field === 'SELECTED'">
                    <div class="checkbox-header">
                      <mat-checkbox [labelPosition]="after"
                                    [ngModel]="selectedAll"
                                    (change)="selectAllChange($event)"
                                    name="SELECTED">
                      </mat-checkbox>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.field !== 'SELECTED'">
                    {{col.header}}
                  </ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" (dblclick)="onOpen(rowData)" [pSelectableRowIndex]="rowIndex" valign="middle">
                <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
                  <ng-container *ngIf="col.field == 'SELECTED'">
                    <div class="checkbox-column">
                      <mat-checkbox [labelPosition]="after"
                                    [(ngModel)]="rowData.SELECTED"
                                    (change)="selectCBChange($event)"
                                    name="MD2_ACTIVE_{{index}}">
                      </mat-checkbox>
                    </div>
                  </ng-container>
                  <span *ngIf="col.field != 'SELECTED'">{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="cols.length" >
                  {{'No records found'|lang}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
