@import "../../../scss/_ngtable";

/deep/ body .ui-table .ui-table-caption {
  padding-bottom: 0;
}

td {
  overflow: hidden;
  height: 35px;
}

.checkbox-column {
  padding-top: 7px;
  padding-left: 2px;
}

.checkbox-header {
  padding-top: 7px;
}