<form action="" method="post" (ngSubmit)="save(form)">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="animated fadeIn">
    <div class="card-body" style="padding: 0;">
      <button type="submit" class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> {{'#Cancel#'|lang}}</button>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="panel-heading">
          <i class="fa fa-link"></i>
          <h3 class="panel-title" style="display: inline;">{{'Access Control Assignment Form'|lang}}</h3>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="card-body">
        <ngx-datatable
              class="material no-shadow"
              [rows]="items"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="30"
              (page)='setPage($event)' >

          <ngx-datatable-column [flexGrow]="2">
              <ng-template ngx-datatable-header-template let-sort="sortFn">
                  <span class="datatable-header-cell-wrapper">
                      <span class="datatable-header-cell-label draggable header-label">Username</span>
                  </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                <a routerLink="/user/access/{{row.user_id}}">{{row.username}}</a>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column sortable="false"  [flexGrow]="0.5" >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
             <div style="text-align: center" >
              <span class="datatable-header-cell-label draggable header-label">Has Access</span>
             </div>
            </ng-template>
            <ng-template let-row="row"  ngx-datatable-cell-template>
              <div style="text-align: center" >
                <label class="switch switch-text switch-pill switch-success"  >
                  <input type="checkbox" class="switch-input" [(ngModel)]="row.hasAccess" [ngModelOptions]="{standalone: true}" [checked]="row.hasAccess" >
                  <span class="switch-label" data-on="on" data-off="off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</form>

