<div #jobInvoicesView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_INVOICES_READ]">
          <button  class="btn btn-success" [disabled]="!selected || selected.length != 1" (click)="onOpen()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_INVOICES_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_INVOICES_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrintWithCost()"><i class="fa fa-clone"></i> {{'PDF Print with Cost'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_INVOICES_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length != 1" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_INVOICES_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true"
           (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
          {{col.header}}
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}">
          <input *ngSwitchCase="'IJ1_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'JT1_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'IJ1_PRINT_FLAG'" [style]="{'width':'100%'}">
            <mat-select (selectionChange)="filterChanged(col.field, $event.value)">
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{status.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input *ngSwitchCase="'IJ1_TOTAL_VALUE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="number" min="0" step="0.01" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'IJ1_TOTAL_SELL'" [(ngModel)]="page.filterParams[col.field]" pInputText type="number" min="0" step="0.01" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'IJ1_COMMENT'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'MODIFIED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="modifiedByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.MODIFIED_BY">
              <ngx-mat-select-search [formControl]="modifiedByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredModifiedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
          <span *ngIf="col.field == 'IJ1_NUMBER'" style="color: #0b58a2; font-weight: bold; vertical-align: middle;">{{rowData[col.field]}}</span>
          <span *ngIf="col.field == 'IJ1_PRINT_FLAG' && rowData['IJ1_PRINT_FLAG'] === '1'" style="vertical-align: middle;">
            <i class="fa fa-check"></i>
          </span>
          <currency *ngIf="col.field == 'IJ1_TOTAL_VALUE'" [value]="rowData[col.field]"></currency>
          <currency *ngIf="col.field == 'IJ1_TOTAL_SELL'" [value]="rowData[col.field]"></currency>
          <span *ngIf="col.field != 'IJ1_TOTAL_VALUE' && col.field != 'IJ1_NUMBER' && col.field != 'IJ1_PRINT_FLAG' && col.field != 'IJ1_TOTAL_SELL'">{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Job Ticket Invoices'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>