<div #creditMemoAddView class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-8" align="left" >
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_ADD]">
          <button  class="btn btn-success" (click)="onAddMasterData()" [disabled]="!LO1_TO_ID || LO1_TO_ID == 0 || !LO1_FROM_ID || LO1_FROM_ID == 0"><i class="fa fa-plus-square"></i> {{'AddButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_ADD]">
          <button  class="btn btn-success" (click)="onAddCatalog()" [disabled]="!LO1_TO_ID || LO1_TO_ID == 0 || !LO1_FROM_ID || LO1_FROM_ID == 0"><i class="fa fa-plus-square"></i> {{'CatalogButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length == 0" (click)="onDelete()"><i class="fa fa-trash"></i> {{'DeleteButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_ADD]">
          <button  class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="onSave()"><i class="fa fa-plus-square"></i> {{'SaveButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal" style="margin: 0">
        <div class="row">
          <div class="col-4">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput type="number" min="0" placeholder="{{'PoNumberLabel'|lang}}" [(ngModel)]="IN1_NUMBER" name="IN1_NUMBER">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" >
                <mat-label>{{'IN1_COMMENT'|lang}}</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          [(ngModel)]="IN1_COMMENT"
                          name="IN1_COMMENT"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'CO1_SHORT_CODE'|lang}}" [(ngModel)]="CO1_SHORT_CODE" name="CO1_SHORT_CODE" disabled>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'CO1_NAME'|lang}}" [(ngModel)]="CO1_NAME" name="CO1_NAME" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'ShopToButton'|lang}}" disabled  [(ngModel)]="LO1_TO_NAME" name="LO1_TO_NAME" >
                      <button mat-button *ngIf="LO1_TO_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearToShop()" >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectToShop()" >{{'ShopToButton'|lang}}</button>
                  </div>
                </div>
              </div>
              <div class="col-1" >
                <mat-icon style="color: green;">arrow_back</mat-icon>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'ORDER_FROM_LOCATION_NAME'|lang}}" disabled  [(ngModel)]="LO1_FROM_NAME" name="LO1_FROM_NAME" >
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row align-items-center">
        <div class="col" align="left">
          <div class="row align-items-center">
            <div class="col" style="min-width: 120px">
              <mat-form-field class="mat-form-field-width-auto">
                <div class="example-full-width" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                  <input matInput #mi placeholder="{{'#QuickAdd#'|lang}}" [formControl]="partsControl" [matAutocomplete]="autoParts" [matAutocompleteConnectedTo]="origin" [(ngModel)]="partNumber"
                         [name]="partNumber" (input)="filterParts($event.target.value)" [matAutocompleteDisabled]="!LO1_TO_ID || LO1_TO_ID == 0" (keyup)="partNumberKeyUp($event)">
                </div>
                <mat-autocomplete #autoParts="matAutocomplete" (optionSelected)="onSelectPart($event.option.value)">
                  <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let part of filteredParts" [value]="part.MD1_PART_NUMBER">{{part.MD1_PART_NUMBER}} - {{part.MD1_DESC1}}</mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-auto" style="padding-left: 0; padding-right: 10px;">
              <label style="font-weight: bold;">{{'IN1_NUMBER'|lang}}:</label>
            </div>
            <div class="col" style="padding-left: 0; padding-right: 10px;">
              <select [(ngModel)]="selectedHeader" [disabled]="!LO1_TO_ID || LO1_TO_ID == 0" (change)="getInvoiceLines()" style="min-width: 120px; width: 100%">
                <option *ngFor="let headerItem of headerList" [ngValue]="headerItem">
                  {{headerItem.IN1_NUMBER}}
                </option>
              </select>
            </div>
            <div class="col" style="padding-left: 0; padding-right: 0;">
              <select [(ngModel)]="selectedInvoiceLine" [disabled]="!IN1_ID || IN1_ID == 0" style="min-width: 120px; width: 100%">
                <option *ngFor="let line of lineList" [ngValue]="line">
                  {{line.IN2_LINE}} - {{line.IN2_DESC1}}
                </option>
              </select>
            </div>
            <div class="col-md-auto"  style="padding-left: 0; padding-right: 0;">
              <button type="button" class="btn btn-light" (click)="onLinkAdd()" style="margin-left: 10px" [disabled]="!selectedInvoiceLine || selectedInvoiceLine['IN2_ID'] == 0">
                <i class="fa fa-icon-search"></i> {{'AddButton'|lang}}
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-auto" align="right" style="padding-right: 0">
          <label style="font-weight: bold">{{'IN1_TOTAL_VALUE'|lang}}:</label>
          <label style="font-weight: bold" style="padding-left: 10px">{{totalValue|currency}}</label>
        </div>
      </div>
    </div>

    <div #contentGrid class="card" style="padding: 0; margin: 0;">
      <p-table id="ordersTable" [columns]="cols" [value]="addedParts"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="multiple" [metaKeySelection]="true" [scrollable]="true"
               [(selection)]="selected" (onEditInit)="onEditInit($event)" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td id="{{col.field === 'MD1_ORDER_QTY' ? 'td'+rowIndex: ''}}" *ngFor="let col of columns; index as columnIndex;" [ngClass]="{'not-editable': col.field !== 'MD1_ORDER_QTY'}" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible" [pEditableColumn]="rowData" [pEditableColumnField]="col">
              <div *ngIf="col.field === 'MD1_ORDER_QTY'; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" id="input_{{rowData['MD1_ID']}}" [(ngModel)]="rowData[col.field]" (keydown)="qtyKeyDown($event, rowIndex);" (keyup)="qtyKeyUp($event);" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field]}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-template>
              <ng-template #elseBlock>
                <span [ngSwitch]="col.field">
                  <span *ngSwitchCase="'MD1_UNIT_PRICE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchCase="'MD1_EXTENDED_VALUE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchDefault>
                    <span>{{rowData[col.field]}}</span>
                  </span>
                </span>
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>