<select class="form-control" (change)="onChange($event.target.value)" >
  <option></option>
  <option *ngFor="let timezone of timezones" value="{{timezone.Time_zone_id}}" [selected]="timezone.Time_zone_id == activeTimezone" >{{timezone.TimezoneName}}</option>
</select>