<div class="animated fadeIn">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="card-body" style="padding: 0;" >
      <button class="btn btn-success" (click)="savePassword()"><i class="fa fa-save fa-lg"></i> Save</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-chevron-left fa-lg"></i> Cancel</button>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        {{ user.username }}
        <div class="clearfix">

        </div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" #form="ngForm" class="form-horizontal">

        <div class="form-group row" *ngIf="errors.old_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.old_password[0]}}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label control-label" for="new_password" required="true"><strong>New Password<span style="color: red"> *</span></strong></label>
          <div class="col-md-10">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
              </div>
              <input type="password" [(ngModel)]="model.new_password" (keyup)="changePassword()" name="new_password" id="new_password" class="form-control" placeholder="New Password">
            </div>
            <span class="help-block"><span class="label label-info">Hint</span> Minimal password length 4 symbols.</span>
          </div>
        </div>
        <div class="form-group row" *ngIf="errors.new_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.new_password[0]}}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label control-label" for="repeat_password" required="true"><strong>Retype Password<span style="color: red"> *</span></strong></label>
          <div class="col-md-10">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-lg"></i></span>
              </div>
              <input type="password" [(ngModel)]="model.repeat_password" (keyup)="changePassword()" id="repeat_password" name="repeat_password" class="form-control" placeholder="Retype Password">
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="errors.repeat_password">
          <label class="col-md-3 col-form-label" ></label>
          <div class="col-md-9" style="color: red">{{errors.repeat_password[0]}}</div>
        </div>
         <div class="form-group row">
          <label class="col-md-2 col-form-label control-label" for="notify" ><strong>Notify user</strong></label>
          <div class="col-md-10">
            <div class="input-group">
              <input style="margin-top: 12px" type="checkbox" [(ngModel)]="model.notify" [attr.disabled]="model.repeat_password ? null : ''" id="notify" name="notify"/>
            </div>
          </div>
        </div>
        <div class="form-group row" [style.visibility]="model.notify ? 'visible' : 'hidden'">
          <label class="col-md-2 col-form-label control-label"><strong>Email</strong></label>
          <div class="col-md-10">
            <div class="input-group">
              {{ user.US1_EMAIL }}
            </div>
          </div>
        </div>
        <div class="form-group row" [style.visibility]="model.notify ? 'visible' : 'hidden'">
          <label class="col-md-2 col-form-label control-label"><strong>Subject</strong></label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" [(ngModel)]="model.subject" id="subject" name="subject" class="form-control"/>
            </div>
          </div>
        </div>
          <div class="form-group row" [style.visibility]="model.notify ? 'visible' : 'hidden'">
              <label class="col-md-2 col-form-label control-label"><strong>Body</strong></label>

              <div class="col-md-10">
                  <div class="input-group">
                <textarea [(ngModel)]="model.body" id="body" name="body" class="form-control"  rows="10"></textarea>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
