<div #masterVendorsView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_ADD]">
          <button  class="btn btn-success" (click)="onAddNew()"><i class="fa fa-plus-square"></i> {{'#New#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected || selected.length > 1" (click)="editRecord()"><i class="fa fa-pencil"></i> {{'#Edit#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_ADD]">
          <button class="btn btn-primary" [disabled]="!selected || selected.length > 1" (click)="onClone()"><i class="fa fa-clone"></i> {{'#Copy#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_EDIT]">
          <button class="btn btn-success" (click)="linkMCatalog()"><i class="fa fa-trash"></i> {{'Link Manufacturer Catalog'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_EDIT]">
          <button class="btn btn-success" (click)="updateLinkedParts()"><i class="fa fa-trash"></i> {{'Update Linked Dist. Parts'|lang}}</button>
        </ng-template>
      </div>
      <div align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div #content class="card" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <p-table id="masterVendorsTable" [columns]="cols" [value]="items"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
             [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
             [lazy]="true" [metaKeySelection]="true"
             (onPage)="onPage($event)"
             [(selection)]="selected" [scrollHeight]="scrollHeight">
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="onEdit(rowData)" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
            <div *ngIf="col.field !== 'VD0_MANUFACTURER'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              {{(col.field == 'MODIFIED_ON' || col.field == 'CREATED_ON')?(rowData[col.field]|datelocal:'MM.dd.y HH:mm'):rowData[col.field]}}
            </ng-template>
            <ng-template #elseBlock>
              <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i>
              <span *ngIf="rowData[col.field] != 1"></span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Master Vendor'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>