/deep/ body .ui-table .ui-table-thead > tr > th.ng-star-inserted {
  white-space: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}