<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_READ]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.MASTER_VENDORS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.VENDORS_READ]">
          <button type="button" class="btn btn-primary" (click)="showVendors()" *ngIf="record.VD0_ID">
            <i class="fa fa-user"></i> {{'#Vendors#'|lang}}
          </button>
        </ng-template>
        <button *ngIf="superAdmin" class="btn btn-danger" (click)="onDeleteParts()"><i class="fa fa-trash"></i> {{'Delete All Parts'|lang}}</button>
        <button *ngIf="superAdmin" class="btn btn-danger" (click)="onDeleteAllImages()"><i class="fa fa-trash"></i> {{'Delete All Images'|lang}}</button>
        <button *ngIf="superAdmin" class="btn btn-primary" (click)="onUploadImages()"><i class="fa fa-trash"></i> {{'Upload Images'|lang}}</button>
      </div>
      <div align="right" style="padding-right: 15px;">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i>
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'VD0_SHORT_CODE'|lang}}" [(ngModel)]="record.VD0_SHORT_CODE" name="VD0_SHORT_CODE">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'VD0_NAME'|lang}}" [(ngModel)]="record.VD0_NAME" name="VD0_NAME">
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_MANUFACTURER" name="VD0_MANUFACTURER" (change)="record.VD0_MANUFACTURER = $event.checked ? 1 : 0">
                {{'VD0_MANUFACTURER'|lang}}
              </mat-checkbox>
            </div>
            <div>
              <mat-tab-group dynamicHeight="true">
                <mat-tab label="{{'VD0_GENERAL'|lang}}" >
                  <div style="padding-top: 10px">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressStreet1#'|lang}}"  [(ngModel)]="record.VD0_ADDRESS1" name="VD0_ADDRESS1" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressStreet2#'|lang}}"  [(ngModel)]="record.VD0_ADDRESS2" name="VD0_ADDRESS2" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressCity#'|lang}}"  [(ngModel)]="record.VD0_CITY" name="VD0_CITY" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressState#'|lang}}"  [(ngModel)]="record.VD0_STATE" name="VD0_STATE" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#AddressPostalCode#'|lang}}"  [(ngModel)]="record.VD0_ZIP" name="VD0_ZIP" >
                    </mat-form-field>
                  </div>
                  <div class="row align-items-center">
                    <div class="col" style="padding-right: 0px;">
                      <mat-form-field class="mat-form-field-width-auto">
                        <input matInput placeholder="{{'CY1_NAME'|lang}}" disabled  [(ngModel)]="record.CY1_NAME" name="CY1_NAME" >
                        <button mat-button *ngIf="record.CY1_ID" matSuffix mat-icon-button aria-label="Clear Country" (click)="clearCountry()" >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-auto" style="padding-left: 0px;">
                      <button mat-button color="primary" (click)="selectCountry()" >{{'CountryButton'|lang}}</button>
                    </div>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#Phone#'|lang}}"  [(ngModel)]="record.VD0_PHONE" name="VD0_PHONE" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#Fax#'|lang}}"  [(ngModel)]="record.VD0_FAX" name="VD0_FAX" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#Email#'|lang}}"  [(ngModel)]="record.VD0_EMAIL" name="VD0_EMAIL" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'#URL#'|lang}}"  [(ngModel)]="record.VD0_URL" name="VD0_URL" >
                    </mat-form-field>
                  </div>
                  <div class="row align-items-center" [ngClass]="{'padding-top12': !record.VD0_MINIMUM_ORDER_CHECK}">
                    <div class="col-md-auto" style="padding-right: 10px;">
                      <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_MINIMUM_ORDER_CHECK" name="VD0_MINIMUM_ORDER_CHECK" (change)="this.record.VD0_MINIMUM_ORDER = 0; record.VD0_MINIMUM_ORDER_CHECK = $event.checked ? 1 : 0">
                        {{'VD0_MINIMUM_ORDER_CHECK'|lang}}
                      </mat-checkbox>
                    </div>
                    <div class="col" style="padding-left: 0px;">
                      <mat-form-field class="mat-form-field-width-auto" [hidden]="!record.VD0_MINIMUM_ORDER_CHECK">
                        <input matInput type="number" min="0" step="1" [(ngModel)]="record.VD0_MINIMUM_ORDER" name="VD0_MINIMUM_ORDER" >
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_DISCOUNT" name="VD0_DISCOUNT" (change)="record.VD0_DISCOUNT = $event.checked ? 1 : 0">
                      {{'VD0_DISCOUNT'|lang}}
                    </mat-checkbox>
                  </div>
                </mat-tab>
                <mat-tab label="{{'VD0_EDI_GENERAL'|lang}}">
                  <div>
                    <label style="padding-top: 10px;">{{'VD0_FLAG'|lang}}</label>
                  </div>
                  <div>
                    <mat-radio-group [(ngModel)]="record.VD0_FLAG" name="VD0_FLAG">
                      <mat-radio-button value="P">{{'VD0_FLAG_P'|lang}}</mat-radio-button>
                      <mat-radio-button value="T">{{'VD0_FLAG_T'|lang}}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_EDI_VERSION'|lang}}" maxlength="5" [(ngModel)]="record.VD0_EDI_VERSION" name="VD0_EDI_VERSION" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_X12_STANDARD'|lang}}" maxlength="4" [(ngModel)]="record.VD0_X12_STANDARD" name="VD0_X12_STANDARD" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input id="VD0_SUPPLIER_CODE" matInput placeholder="{{'VD0_SUPPLIER_CODE'|lang}}"  [(ngModel)]="record.VD0_SUPPLIER_CODE" name="VD0_SUPPLIER_CODE" (change)="linkedFieldChangeHandler($event)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_DUNS'|lang}}"  [(ngModel)]="record.VD0_DUNS" name="VD0_DUNS" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_FACILITY'|lang}}"  [(ngModel)]="record.VD0_FACILITY" name="VD0_FACILITY" >
                    </mat-form-field>
                  </div>
                  <div>
                    <label>{{'VD0_TRADING_PARTNER'|lang}}</label>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_QUALIFIER'|lang}}" maxlength="2" [(ngModel)]="record.VD0_TRADING_PARTNER_QUALIFIER" name="VD0_TRADING_PARTNER_QUALIFIER" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input id="VD0_TRADING_PARTNER_ID" matInput placeholder="{{'VD0_EDI_ID'|lang}}"  [(ngModel)]="record.VD0_TRADING_PARTNER_ID" name="VD0_TRADING_PARTNER_ID" (change)="linkedFieldChangeHandler($event)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_GS_ID'|lang}}"  [(ngModel)]="record.VD0_TRADING_PARTNER_GS_ID" name="VD0_TRADING_PARTNER_GS_ID" >
                    </mat-form-field>
                  </div>
                  <div>
                    <label>{{'VD0_RECEIVER'|lang}}</label>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_QUALIFIER'|lang}}" maxlength="2" [(ngModel)]="record.VD0_RECEIVER_QUALIFIER" name="VD0_RECEIVER_QUALIFIER" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input id="VD0_RECEIVER_ID" matInput placeholder="{{'VD0_EDI_ID'|lang}}"  [(ngModel)]="record.VD0_RECEIVER_ID" name="VD0_RECEIVER_ID" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_GS_ID'|lang}}"  [(ngModel)]="record.VD0_RECEIVER_GS_ID" name="VD0_RECEIVER_GS_ID" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_AS2_CERTIFICATE_FILENAME'|lang}}"  [(ngModel)]="record.VD0_AS2_CERTIFICATE_FILENAME" name="VD0_AS2_CERTIFICATE_FILENAME" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_AS2_RECEIVER_ID'|lang}}"  [(ngModel)]="record.VD0_AS2_RECEIVER_ID" name="VD0_AS2_RECEIVER_ID" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'VD0_AS2_TRADING_PARTNER_ID'|lang}}"  [(ngModel)]="record.VD0_AS2_TRADING_PARTNER_ID" name="VD0_AS2_TRADING_PARTNER_ID" >
                    </mat-form-field>
                  </div>
                </mat-tab>
                <mat-tab label="{{'VD0_EDI_SEND'|lang}}">
                  <div style="padding-top: 10px;">
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_SEND_EDI_PO" name="VD0_SEND_EDI_PO" (change)="record.VD0_SEND_EDI_PO = $event.checked ? 1 : 0">
                      {{'Send EDI PO'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <label>{{'PO Format'|lang}}:</label>
                  </div>
                  <div>
                    <mat-radio-group [(ngModel)]="record.VD0_PO_FORMAT" name="VD0_PO_FORMAT" [disabled]="!record.VD0_SEND_EDI_PO">
                      <mat-radio-button value="0">{{'EDI X12'|lang}}</mat-radio-button>
                      <mat-radio-button value="1">{{'EZ XML'|lang}}</mat-radio-button>
                      <mat-radio-button value="2">{{'Fixed Field Text'|lang}}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_SEND_FTP" name="VD0_SEND_FTP" [disabled]="!record.VD0_SEND_EDI_PO" (change)="record.VD0_SEND_FTP = $event.checked ? 1 : 0">
                      {{'FTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_SEND_SFTP" name="VD0_SEND_SFTP" [disabled]="!record.VD0_SEND_EDI_PO" (change)="record.VD0_SEND_SFTP = $event.checked ? 1 : 0">
                      {{'SFTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'FTP Server'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_SERVER" name="VD0_REMOTE_FTP_SERVER" [disabled]="record.VD0_SEND_FTP?false:(record.VD0_SEND_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Send Directory'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_DIRECTORY_SEND" name="VD0_REMOTE_FTP_DIRECTORY_SEND" [disabled]="record.VD0_SEND_FTP?false:(record.VD0_SEND_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Pickup Directory'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_DIRECTORY_PICKUP" name="VD0_REMOTE_FTP_DIRECTORY_PICKUP" [disabled]="record.VD0_SEND_FTP?false:(record.VD0_SEND_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Username'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_USERNAME" name="VD0_REMOTE_FTP_USERNAME" [disabled]="record.VD0_SEND_FTP?false:(record.VD0_SEND_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Password'|lang}}" type="password" [(ngModel)]="record.VD0_REMOTE_FTP_PASSWORD" name="VD0_REMOTE_FTP_PASSWORD" [disabled]="record.VD0_SEND_FTP?false:(record.VD0_SEND_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_POST_HTTP" name="VD0_POST_HTTP" [disabled]="!record.VD0_SEND_EDI_PO" (change)="record.VD0_POST_HTTP = $event.checked ? 1 : 0">
                      {{'HTTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_POST_AS2" name="VD0_POST_AS2" [disabled]="!record.VD0_SEND_EDI_PO" (change)="record.VD0_POST_AS2 = $event.checked ? 1 : 0">
                      {{'AS2'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_AS2_REQUEST_RECEIPT" name="VD0_AS2_REQUEST_RECEIPT" [disabled]="!record.VD0_POST_AS2" (change)="record.VD0_AS2_REQUEST_RECEIPT = $event.checked ? 1 : 0">
                      {{'AS2 - Request Receipt'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_AS2_SIGN_MESSAGES" name="VD0_AS2_SIGN_MESSAGES" [disabled]="!record.VD0_POST_AS2" (change)="record.VD0_AS2_SIGN_MESSAGES = $event.checked ? 1 : 0">
                      {{'AS2 - Sign Messages'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'HTTP Server'|lang}}"  [(ngModel)]="record.VD0_REMOTE_HTTP_SERVER" name="VD0_REMOTE_HTTP_SERVER" [disabled]="record.VD0_POST_HTTP?false:(record.VD0_POST_AS2?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'AS2 Key Length'|lang}}"  [(ngModel)]="record.VD0_AS2_KEY_LENGTH" name="VD0_AS2_KEY_LENGTH" [disabled]="!record.VD0_POST_AS2">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_PICKUP_SFTP" name="VD0_PICKUP_SFTP" [disabled]="!record.VD0_SEND_EDI_PO" (change)="record.VD0_PICKUP_SFTP = $event.checked ? 1 : 0">
                      {{'Pickup From Local FTP Server'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'FTP Directory'|lang}}"  [(ngModel)]="record.VD0_FTP_DIRECTORY" name="VD0_FTP_DIRECTORY" [disabled]="!record.VD0_PICKUP_SFTP">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Username'|lang}}"  [(ngModel)]="record.VD0_FTP_USER" name="VD0_FTP_USER" [disabled]="!record.VD0_PICKUP_SFTP">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Password'|lang}}" type="password" [(ngModel)]="record.VD0_FTP_PASSWORD" name="VD0_FTP_PASSWORD" [disabled]="!record.VD0_PICKUP_SFTP">
                    </mat-form-field>
                  </div>
                </mat-tab>
                <mat-tab label="{{'VD0_EDI_RECEIVE'|lang}}">
                  <div style="padding-top: 10px;">
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_RECEIVE_EDI" name="VD0_RECEIVE_EDI" (change)="record.VD0_RECEIVE_EDI = $event.checked ? 1 : 0">
                      {{'Receive EDI'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_SEND_ACKNOWLEDGEMENT" name="VD0_SEND_ACKNOWLEDGEMENT" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_SEND_ACKNOWLEDGEMENT = $event.checked ? 1 : 0">
                      {{'Send Acknowledgement'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_PICKUP_FTP" name="VD0_PICKUP_FTP" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_PICKUP_FTP = $event.checked ? 1 : 0">
                      {{'Pickup FTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_PICKUP_SFTP" name="VD0_PICKUP_SFTP" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_PICKUP_SFTP = $event.checked ? 1 : 0">
                      {{'Pickup SFTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'FTP Server'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_SERVER" name="VD0_REMOTE_FTP_SERVER" [disabled]="record.VD0_PICKUP_FTP?false:(record.VD0_PICKUP_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Send Directory'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_DIRECTORY_SEND" name="VD0_REMOTE_FTP_DIRECTORY_SEND" [disabled]="record.VD0_PICKUP_FTP?false:(record.VD0_PICKUP_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Pickup Directory'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_DIRECTORY_PICKUP" name="VD0_REMOTE_FTP_DIRECTORY_PICKUP" [disabled]="record.VD0_PICKUP_FTP?false:(record.VD0_PICKUP_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Username'|lang}}"  [(ngModel)]="record.VD0_REMOTE_FTP_USERNAME" name="VD0_REMOTE_FTP_USERNAME" [disabled]="record.VD0_PICKUP_FTP?false:(record.VD0_PICKUP_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Password'|lang}}" type="password" [(ngModel)]="record.VD0_REMOTE_FTP_PASSWORD" name="VD0_REMOTE_FTP_PASSWORD" [disabled]="record.VD0_PICKUP_FTP?false:(record.VD0_PICKUP_SFTP?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Transaction Import Folder'|lang}}"  [(ngModel)]="record.VD0_PICKUP_DIRECTORY" name="VD0_PICKUP_DIRECTORY" >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_RECEIVE_HTTP" name="VD0_RECEIVE_HTTP" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_RECEIVE_HTTP = $event.checked ? 1 : 0">
                      {{'HTTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_RECEIVE_AS2" name="VD0_RECEIVE_AS2" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_RECEIVE_AS2 = $event.checked ? 1 : 0">
                      {{'AS2'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_AS2_REQUEST_RECEIPT" name="VD0_AS2_REQUEST_RECEIPT" [disabled]="!record.VD0_RECEIVE_AS2" (change)="record.VD0_AS2_REQUEST_RECEIPT = $event.checked ? 1 : 0">
                      {{'AS2 - Request Receipt'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_AS2_SIGN_MESSAGES" name="VD0_AS2_SIGN_MESSAGES" [disabled]="!record.VD0_RECEIVE_AS2" (change)="record.VD0_AS2_SIGN_MESSAGES = $event.checked ? 1 : 0">
                      {{'AS2 - Sign Messages'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'HTTP Server'|lang}}"  [(ngModel)]="record.VD0_REMOTE_HTTP_SERVER" name="VD0_REMOTE_HTTP_SERVER" [disabled]="record.VD0_RECEIVE_HTTP?false:(record.VD0_RECEIVE_AS2?false:true)">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Shared Secret'|lang}}"  [(ngModel)]="record.VD0_SHARED_SECRET" name="VD0_SHARED_SECRET" [disabled]="!record.VD0_RECEIVE_HTTP">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'AS2 Key Length'|lang}}"  [(ngModel)]="record.VD0_AS2_KEY_LENGTH" name="VD0_AS2_KEY_LENGTH" [disabled]="!record.VD0_RECEIVE_AS2">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-checkbox [labelPosition]="after" [(ngModel)]="record.VD0_RECEIVE_FTP" name="VD0_RECEIVE_FTP" [disabled]="!record.VD0_RECEIVE_EDI" (change)="record.VD0_RECEIVE_FTP = $event.checked ? 1 : 0">
                      {{'Receive FTP'|lang}}
                    </mat-checkbox>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'FTP Directory'|lang}}"  [(ngModel)]="record.VD0_FTP_DIRECTORY" name="VD0_FTP_DIRECTORY" [disabled]="!record.VD0_RECEIVE_FTP">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Username'|lang}}"  [(ngModel)]="record.VD0_FTP_USER" name="VD0_FTP_USER" [disabled]="!record.VD0_RECEIVE_FTP">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'Password'|lang}}" type="password" [(ngModel)]="record.VD0_FTP_PASSWORD" name="VD0_FTP_PASSWORD" [disabled]="!record.VD0_RECEIVE_FTP">
                    </mat-form-field>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <!--<div class="col" *ngIf="action != 'add'">-->
            <!---->
          <!--</div>-->
        </div>
      </form>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>