<div id="reportingFilter" class="row" style="height: 35px">
  <div class="col-auto">
    <label style="margin: 0">{{'From'|lang}}</label>
  </div>
  <div class="col-auto" style="padding-left: 0px;" >
    <mat-form-field style="width:60px;}">
      <mat-select [(value)]="selectedFromYear" (selectionChange)="fromYearChanged($event.value)">
        <mat-option *ngFor="let year of years" [value]="year.data">
          {{year.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-auto" style="padding-left: 0px;" >
    <mat-form-field style="width:50px;}">
      <mat-select [(value)]="selectedFromMonth" (selectionChange)="fromMonthChanged($event.value)">
        <mat-option *ngFor="let month of months" [value]="month.data">
          {{month.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-auto">
    <label style="margin: 0">{{'To'|lang}}</label>
  </div>
  <div class="col-auto" style="padding-left: 0px;" >
    <mat-form-field style="width:60px;}">
      <mat-select [(value)]="selectedToYear" (selectionChange)="toYearChanged($event.value)">
        <mat-option *ngFor="let year of years" [value]="year.data">
          {{year.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-auto" style="padding-left: 0px; " >
    <mat-form-field style="width:50px;}">
      <mat-select [(value)]="selectedToMonth" (selectionChange)="toMonthChanged($event.value)">
        <mat-option *ngFor="let month of months" [value]="month.data">
          {{month.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>