@import "../../../scss/_ngtable";

/deep/ .cdk-overlay-container .mat-menu-panel {
  min-width: 360px;
  overflow: hidden;
  .mat-menu-content {
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
  }
}