<div #statementsView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col col-lg-8" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_READ]">
          <button  class="btn btn-success" [disabled]="!selected || selected.length != 1" (click)="onOpen()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_GENERATE]">
            <button class="btn btn-primary"
                    (click)="generateStatement()"
                    (contextmenu)="onContextMenu($event, item)">
              <i class="fa fa-bar-chart sidebar-nav-icon"></i> {{'Generate Statement'|lang}}
            </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onSendStatement()"><i class="fa fa-mail-forward"></i> {{'Email Statements'|lang}}</button>
        </ng-template>
      </div>
      <div class="col col-lg-4" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.STATEMENTS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
          {{col.header}}
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}">
          <input *ngSwitchCase="'IS1_COMMENT'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'IS1_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'IS1_STATUS_TEXT'" [style]="{'width':'100%'}">
            <mat-select (selectionChange)="filterChanged(col.field, $event.value)">
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{status.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input *ngSwitchCase="'IS1_TOTAL_VALUE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="number" min="0" step="0.01" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'FROM_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationFromCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.ORDER_FROM_LOCATION_NAME">
              <ngx-mat-select-search [formControl]="locationFromFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShopsFrom" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'TO_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.ORDER_BY_LOCATION_NAME">
              <ngx-mat-select-search [formControl]="locationByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShopsBy" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'CREATED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="modifiedByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.MODIFIED_BY">
              <ngx-mat-select-search [formControl]="modifiedByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredModifiedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
          <span *ngIf="col.field == 'IS1_COMMENT'" style="vertical-align: middle;">{{rowData[col.field]}}</span>
          <currency *ngIf="col.field == 'IS1_TOTAL_VALUE'" [value]="rowData[col.field]"></currency>
          <span *ngIf="col.field == 'IS1_STATUS_TEXT' && rowData['IS1_STATUS'] === 1" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(124,120,124);" />
            </svg>
            <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
          </span>
          <span *ngIf="col.field == 'IS1_STATUS_TEXT' && rowData['IS1_STATUS'] !== 1" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(6,177,0);" />
            </svg>
            <span>
              <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
            </span>
          </span>
          <span *ngIf="col.field == 'MODIFIED_ON'">{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
          <span *ngIf="col.field == 'CREATED_ON'">{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
          <span *ngIf="col.field != 'IS1_COMMENT' && col.field != 'IS1_TOTAL_VALUE' && col.field != 'IS1_STATUS_TEXT' && col.field != 'MODIFIED_ON' && col.field != 'CREATED_ON'">{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Statements'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog acceptLabel="{{acceptLabel}}" rejectLabel="{{rejectLabel}}" header="{{confirmationHeader}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>