<div style="height: 100%;" #countryModal >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Countries'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <mat-dialog-actions #searchbar align="end" style="padding-top: 0; margin-bottom: 0;" >
      <div style="padding-right: 10px">
        <input type="input" [(ngModel)]="search" name="country_name" id="country_name" class="form-control">
      </div>
      <select (change)="onFieldChange($event.target.value)" >
        <option value="ALL">{{'#AllRecords#'|lang}}</option>
        <option *ngFor="let field of cols" value="{{field.field}}" [selected]="field.field == selectedField" >{{field.header}}</option>
      </select>
      <div style="padding-left: 10px">
        <button class="btn btn-success" (click)="onSearch()" style="height: 35px"><i class="fa fa-search fa-lg"></i></button>
      </div>
    </mat-dialog-actions>
    <p-table [columns]="cols" [value]="items" selectionMode="single"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [(selection)]="selectedCountry" [scrollable]="true"
             [scrollHeight]="scrollHeight" >
      <ng-template pTemplate="header" let-cols>
        <tr #tableHeader>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="cols">
        <tr [pSelectableRow]="rowData" (dblclick)="selectRecord(rowData)">
          <td *ngFor="let col of cols" >
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button [mat-dialog-close]="selectedCountry" cdkFocusInitial color="primary" [disabled]="!selectedCountry">{{'#Select#'|lang}}</button>
  </mat-dialog-actions>
</div>