<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-success" (click)="addClick()" >
            <i class="fa fa-plus-square"></i> {{'#New#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="editRecord()" >
            <i class="fa fa-pencil"></i> {{'#Edit#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="cloneRecord()" >
            <i class="fa fa-clone"></i> {{'#Copy#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-danger" [disabled]="!selected" (click)="deleteRecord()" >
            <i class="fa fa-trash"></i> {{'#Delete#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table [columns]="cols" [value]="items" selectionMode="single"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [(selection)]="selected" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" width="{{col.width}}" [ngStyle]="{'text-align': col.align}" >
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)">
          <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
            <span class="ui-column-title">{{col.header}}</span>
            <div *ngIf="col.field == 'ROLE_NAME'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <a routerLink="/rights/roles/edit/{{rowData[col.field]}}" >
                {{rowData[col.field]}}
              </a>
            </ng-template>
            <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>