<div #projectedPOUsageView class="animated fadeIn" >
  <div #actionbar class="card-body" style="padding: 0;">
    <div *ngIf="!slideShow" class="row">
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
    <div #projectedPOUsage class="card" [ngStyle]="{'height': graphHeight, 'max-height':'none'}"></div>
  </div>
</div>