<form action="" method="post" [formGroup]="form" (ngSubmit)="save(form)">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="animated fadeIn">
    <div class="card-body" style="padding: 0;">
      <button type="submit" class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}"><i class="fa fa-save fa-lg"></i> {{'#Save#'|lang}}</button>
      <button class="btn btn-primary" (click)="onCancel()"><i class="fa fa-ban fa-lg"></i> {{'#Cancel#'|lang}}</button>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label control-label" for="name" ><strong>{{'Role Name'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-10">
            <input formControlName="name"  id="name" name="name" placeholder="{{'Role Name'|lang}}"  >
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="description"><strong>{{'Description'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-10">
            <div class="input-group">
              <input formControlName="description" id="description" name="description" placeholder="{{'Description'|lang}}" >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="description"><strong>{{'Permissions'|lang}}<span style="color: red"> *</span></strong></label>
          <div class="col-md-10">
            <ul class="list-group list-group-flush" formArrayName="permissions"  >
              <li class="list-group-item" *ngFor="let permission of form.controls.permissions.controls; index as i" >
                <div class="input-group" [formGroupName]="i" >
                  <label class="col-md-3 control-label"  ><span style="color: gray" >{{form.controls.permissions.controls[i].controls.name.value}}</span></label>
                  <label class="col-md-7 control-label"  >{{form.controls.permissions.controls[i].controls.description.value}}</label>
                  <label class="switch switch-text switch-pill switch-success" >
                      <input type="checkbox" class="switch-input" formControlName="hasPermission"  >
                      <span class="switch-label" data-on="On" data-off="Off"></span>
                      <span class="switch-handle"></span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>