<ng-container *ngIf="materialDP">
  <mat-form-field class="mat-form-field-width-auto" >
    <mat-select [(ngModel)]="field" name="{{field}}_{{index}}" (selectionChange)="onChange($event)" [disabled]="disabled">
      <mat-option *ngFor="let umD of umData" [value]="umD.UM1_ID" >
        {{umD.UM1_NAME}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!materialDP">
  <form>
    <select class="form-control" [disabled]="disabled" [(ngModel)]="field" name="{{name}}_{{index}}" (ngModelChange)="onChange($event)">
      <option *ngFor="let umD of umData" [value]="umD.UM1_ID">
        {{umD.UM1_NAME}}
      </option>
    </select>
  </form>
</ng-container>
