::ng-deep .mat-dialog-title {
  margin: 0;
}
.action-labels {
  font-weight: bold;
  font-size: large;
}

.noneoverflow {
  overflow: hidden;
  white-space: nowrap;
}

::ng-deep mat-checkbox {
  .mat-checkbox-layout {
    margin: 0;
  }
}

::ng-deep #uploadTable .ui-table .ui-table-tbody > tr > td {
  border-left: 1px solid #c8c8c8 !important;
  border-right: 1px solid #c8c8c8 !important;
}

::ng-deep #uploadTable .ui-table .ui-table-tbody > tr > td {
  border-left: 1px solid #c8c8c8 !important;
  border-right: 1px solid #c8c8c8 !important;
}