<form #importForm style="margin: 0">
  <div #textUpload>
    <div class="col" style="padding-right: 0px">
      <p>{{'Import Customer Data by uploading excel spreadsheets. You can upload multiple sheets, but please do so one at a time. Select different shops to active the imported parts at these shops by default, if necessary.'|lang}}</p>
      <p>{{'New categories, GL codes, or vendors will be created if it does not exist. Please remember to change settings for GL codes or vendors as needed.)'|lang}}</p>
      <p *ngIf="isModal"><a href="/examples/Nuventory_Master_Data_Example.xls" target="_blank">{{'Download a example of the spreadsheet here (instructions included).'|lang}}</a></p>
    </div>
  </div>
  <div #actionbarUpload class="row">
    <div class="col-auto" style="width: 120px; text-align: right; padding-right: 0">
      {{'Company'}}:
    </div>
    <div class="col-auto" style="width: 260px;">
      <app-company-dropdown [(field)]="selectedCompanyUpload" [(dataProvider)]="companiesDP" (fieldChange)="companyComboChangeHandler($event)"></app-company-dropdown>
    </div>
    <div class="col-auto" style="width: 120px; text-align: right; padding-right: 0">
      {{'Import'}}:
    </div>
    <div class="col">
      <button type="button" [disabled]="!selectedCompanyUpload" class="btn btn-success btn-s" (click)="chooseFile()">
        {{'Select File'|lang}}...
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-auto" style="width: 120px; text-align: right; padding-right: 0">
      {{'#Shops#'}}:
    </div>
    <div class="col-auto" style="width: 260px; overflow-y: auto;" [ngStyle]="{'height': scrollHeightUploadLocations, 'max-height':'none'}">
      <mat-dialog-content class="mat-typography" #content>
        <form #formContainer [formGroup]="form">
          <div *ngFor="let cb of checkboxes.controls; let i=index" style="overflow: hidden; white-space: nowrap;">
            <mat-checkbox [formControl]="cb" [labelPosition]="after">
              {{uploadLocationDP[i]['LO1_NAME']}}
            </mat-checkbox>
          </div>
        </form>
      </mat-dialog-content>
    </div>
    <div class="col-auto" style="width: 120px; text-align: right; padding-right: 0">
      {{'Files Imported'}}:
    </div>
    <div class="col">
      <p-table id="uploadTable" [columns]="colsUpload" [value]="newUploadsDP"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
               [paginator]="false" [scrollHeight]="scrollHeightUploadList">
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader style="margin-right: 15px">
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
          <tr>
            <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}" [hidden]="!col.visible" class="noneoverflow">
                    <span >
                      {{rowData[col.field]}}
                    </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="colsUpload.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>