<div #techUsageView class="animated fadeIn" >
    <div #actionbar class="card-body" style="padding: 0;">
        <div *ngIf="!slideShow" #filters class="row">
            <div *ngIf="!isMTD" class="col-md-auto" align="left">
                <div>
                    <app-companies-checkbox-dropdown [selectedCompanies]="selectedCompanies" (selectedCompaniesChange)="selectedCompaniesChange($event)"></app-companies-checkbox-dropdown>
                </div>
            </div>
            <div *ngIf="!isMTD" class="col-md-auto" align="left">
                <div>
                    <app-shops-checkbox-dropdown [selectedCompanies]="selectedCompanies" [selectedShops]="selectedShops" (selectedShopsChange)="selectedShopsChange($event)"></app-shops-checkbox-dropdown>
                </div>
            </div>
            <div *ngIf="!isMTD" class="col-md-auto" align="left">
                <div>
                    <app-reporting-filter></app-reporting-filter>
                </div>
            </div>
            <div *ngIf="!isMTD" class="col-md-auto">
                <button class="btn btn-primary" (click)="getChartData()" [disabled]="disableRunButton">{{'Run'|lang}}</button>
            </div>
            <div class="col" align="right">
                <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
                    <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
                </ng-template>
            </div>
        </div>
        <div #techUsage class="card" [ngStyle]="{'height': graphHeight, 'max-height':'none'}"></div>
    </div>
</div>