<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_ADD]" >
          <button type="button" class="btn btn-success" (click)="addClick()" >
            <i class="fa fa-plus-square"></i> {{'#New#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="editRecord()" >
            <i class="fa fa-pencil"></i> {{'#Edit#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_ADD]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="cloneRecord()" >
            <i class="fa fa-clone"></i> {{'#Copy#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_DELETE]" >
          <button type="button" class="btn btn-danger" [disabled]="!selected" (click)="deleteRecord()" >
            <i class="fa fa-trash"></i> {{'#Delete#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.CUSTOMERS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table [columns]="cols" [value]="items" [scrollable]="true"
             selectionMode="single" [(selection)]="selected"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
             [lazy]="true"
             (onPage)="onPage($event)" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [ngStyle]="{'text-align': col.align, 'width': col.width +'px', 'overflow': 'hidden'}" >
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)">
          <td *ngFor="let col of columns"  [ngStyle]="{'text-align': col.align, 'width': col.width +'px', 'overflow': 'hidden'}" >
            <span class="ui-column-title">{{col.header}}</span>
            <span [ngSwitch]="col.field">
              <span *ngSwitchCase="'CO1_SHORT_CODE'">
                <span style="color: white; background-color: #1073af; padding-left: 5px; padding-right: 5px; border-radius: 3px" >{{rowData[col.field]}}</span>
              </span>
              <span *ngSwitchCase="'LO1_SHORT_CODE'">
                <span style="color: white; background-color: #1073af; padding-left: 5px; padding-right: 5px; border-radius: 3px" >{{rowData[col.field]}}</span>
              </span>
              <span *ngSwitchDefault>
                <span>{{rowData[col.field]}}</span>
              </span>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Customers'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>