<div #measurementUnitView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_ADD]" >
          <button type="button" class="btn btn-success" (click)="addClick()" >
            <i class="fa fa-plus-square"></i> {{'#New#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_EDIT]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="editRecord()" >
            <i class="fa fa-pencil"></i> {{'#Edit#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_ADD]" >
          <button type="button" class="btn btn-primary" [disabled]="!selected" (click)="cloneRecord()" >
            <i class="fa fa-clone"></i> {{'#Copy#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_DELETE]" >
          <button type="button" class="btn btn-danger" [disabled]="!selected" (click)="deleteRecord()" >
            <i class="fa fa-trash"></i> {{'#Delete#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.UNITS_MEASURE_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" width="{{col.width}}" [ngStyle]="{'text-align': col.align}" >
            {{col.header}}
          </th>
        </tr>
        <tr #tableFilter>
          <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
            <input *ngSwitchCase="'UM1_SHORT_CODE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'UM1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
            <input *ngSwitchCase="'UM1_SIZE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)" [pSelectableRowIndex]="rowIndex">
          <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
            <span class="ui-column-title">{{col.header}}</span>
            {{(col.field == 'UM1_MODIFIED_ON' || col.field == 'UM1_CREATED_ON')?(rowData[col.field]|datelocal:'MM.dd.y HH:mm'):rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Units of measure'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>