<div style="height: 100%;" #printCheckoutSettingsModal  >
  <div #header >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Print Checkout Sheet'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left" style="padding-right: 0px">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <button class="btn btn-primary" (click)="onPrint()">{{'printPDFButton'|lang}}</button>
      </div>
      <div class="col" align="right" style="padding-left: 0px; padding-top: 2px">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content style="padding-top: 20px">
    <div class="row">
      <div class="col">
        <label>{{'Print Checkout Sheet for'|lang}}:</label>
      </div>
      <div class="col">
        <select [(ngModel)]="selected">
          <option *ngFor="let col of columnDP" [value]="col.label">
            {{col.label}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <label style="color: red">{{'Checkout Sheet printing is limited to two pages'|lang}}</label>
      </div>
    </div>
  </mat-dialog-content>
</div>