<div style="height: 100%;" #companyModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Assign Nuventory Category'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <p-table [columns]="cols" [value]="items"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="single"  [scrollable]="true"
             [(selection)]="selected" [scrollHeight]="scrollHeight" >
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader >
          <th *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.align}" >
            <span class="ui-column-title">{{col.header}}</span>
            <span>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button [mat-dialog-close]="selected" cdkFocusInitial color="primary" [disabled]="!selected" >{{'Assign'|lang}}</button>
  </mat-dialog-actions>
</div>