<div #inventoryActivityLogView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]">
          <button class="btn btn-primary" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)" sortMode="single"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="caption">
      <div #tableCaption style="text-align: left">
        <div class="row" style="height: 35px">
          <div class="col-auto">
            <app-reporting-filter></app-reporting-filter>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" (click)="getItems()" style="margin-top: -4px;" [disabled]="disableRunButton">{{'Run'|lang}}</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [pSortableColumnDisabled]="!col.sortable" [pSortableColumn]="col.field"
            [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}" (click)="onSort(col)">
          {{col.header}}
          <ng-container *ngIf="col.sortable">
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </ng-container>
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
          <mat-form-field *ngSwitchCase="'LG1_CREATED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'LO1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.LO1_NAME">
              <ngx-mat-select-search [formControl]="locationFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShops" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'CREATED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="createdByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.CREATED_BY">
              <ngx-mat-select-search [formControl]="createdByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredCreatedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'TE1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="technicianCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.TE1_NAME">
              <ngx-mat-select-search [formControl]="technicianFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let technician of filteredTechnicians" [value]="technician.TE1_ID">
                {{technician.TE1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <input *ngSwitchCase="'LG1_DESC'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LTYPE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LINE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'MD1_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'MD1_DESC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LG1_UNIT_COST'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LG1_EXTENDED_COST'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LG1_OLD_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LG1_NEW_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <input *ngSwitchCase="'LG1_ADJ_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
          <span *ngIf="col.field == 'LG1_CREATED_ON'" style="color: #0b58a2; font-weight: bold; vertical-align: middle;">{{rowData[col.field]|datelocal:'MM.dd.y HH:mm'}}</span>
          <span *ngIf="col.field == 'NUMBER' || col.field == 'LINE'" style="color: #0b58a2; font-weight: bold; vertical-align: middle;">{{rowData[col.field]}}</span>
          <currency *ngIf="col.field == 'LG1_UNIT_COST'" [value]="rowData[col.field]" [precision]="5"></currency>
          <currency *ngIf="col.field == 'LG1_EXTENDED_COST'" [value]="rowData[col.field]" [precision]="2"></currency>
          <span *ngIf="col.field != 'LG1_CREATED_ON' && col.field != 'NUMBER' && col.field != 'LINE' && col.field != 'LG1_UNIT_COST' && col.field != 'LG1_EXTENDED_COST'">{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;" >{{'Inventory Activities'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>