<mat-form-field id="companiesCBDropwodn" [style]="{'width':'100%'}">
  <mat-select [(ngModel)]="selectedCompanies" (selectionChange)="selectionChanged($event.value)" multiple>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 25px">
      <button mat-button (click)="selectAllClickHandler()">
        {{'Select All'|lang}}
      </button>
      <button mat-button (click)="deselectAllClickHandler()">
        {{'Deselect All'|lang}}
      </button>
    </div>
    <mat-option *ngFor="let company of companies" [value]="company.CO1_ID">
      {{company.CO1_NAME}}
    </mat-option>
  </mat-select>
</mat-form-field>