/deep/ #companiesCBDropwodn {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  div.mat-form-field-infix{
    border: 0;
    top: -2px;
  }
  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    top: 22px;
  }
}