<div style="height: 100%;" #summaryChartModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title style="margin: 0">{{'Drill Down Chart'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <div #summary [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"></div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer style="padding-top: 0" >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
  </mat-dialog-actions>
</div>