<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
      <div class="card-header">
          <div class="panel-heading">
              <i class="fa fa-user fa-lg"></i>
              {{ record.UM1_NAME }}
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="row">
            <div class="col">
              <ng-template [ngIf]="errors.length" >
                <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
              </ng-template>
              <div>
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'GL1_NAME'|lang}}" [(ngModel)]="record.GL1_NAME" name="GL1_NAME">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'GL1_DESCRIPTION'|lang}}"  [(ngModel)]="record.GL1_DESCRIPTION" name="GL1_DESCRIPTION" >
                </mat-form-field>
              </div>
              <div>
                <mat-checkbox [labelPosition]="after" [(ngModel)]="record.GL1_NO_STATEMENT" name="GL1_NO_STATEMENT">
                  {{'GL1_NO_STATEMENT'|lang}}
                </mat-checkbox>
              </div>
              <div class="row align-items-center">
                <div class="col" style="padding-right: 0px;">
                  <mat-form-field class="mat-form-field-width-auto">
                    <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled  [(ngModel)]="record.CO1_NAME" name="CO1_NAME" >
                    <button mat-button *ngIf="record.CO1_ID && allowEditCompany" matSuffix mat-icon-button aria-label="Clear Company" (click)="clearCompany()" >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-md-auto" *ngIf="allowEditCompany" style="padding-left: 0px;">
                  <button mat-button color="primary" (click)="selectCompany()" >{{'CompanyButton'|lang}}</button>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="action != 'add'">
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
                <div class="col" >{{record.GL1_CREATED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
                <div class="col" >{{record.GL1_CREATED_BY_NAME}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
                <div class="col" >{{record.GL1_MODIFIED_ON|datelocal:'MM.dd.y HH:mm' || '-'}}</div>
              </div>
              <div class="row" >
                <div class="col" align="right" ><strong>{{'#By#'|lang}}:</strong></div>
                <div class="col" >{{record.GL1_MODIFIED_BY_NAME}}</div>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>