<mat-form-field class="mat-form-field-width-auto" >
  <mat-select [(ngModel)]="itemId" [disabled]="disabled" name="{{FIELD_ID}}_{{index}}" [formControl]="searchCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="selectionChanged($event.value)">
    <ngx-mat-select-search [formControl]="searchFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
    <mat-option *ngFor="let item of filteredItems; trackBy: item?.FIELD_ID" [value]="item[FIELD_ID]">
      {{item[FIELD_NAME]}}
    </mat-option>
  </mat-select>
</mat-form-field>