<mat-form-field id="groupsCBDropdown" [style]="{'width':'100%'}">
  <mat-select [(ngModel)]="selectedGroups" (selectionChange)="selectionChanged($event.value)" multiple>
    <mat-option *ngFor="let group of groups" [value]="group.GR1_ID">
      {{group.GR1_NAME}}
    </mat-option>
  </mat-select>
</mat-form-field>