<button type="button" class="btn btn-primary cancel-button" (click)="cancelClick()" >
    <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
</button>
<div [innerHtml]="data" [ngStyle]="{'height' : gridHeight}"></div>