<div style="height: 100%;" #parentContainer  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Link Catalog Part'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}" >
    <p-table [columns]="cols" [value]="items" selectionMode="single"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             [(selection)]="selected" [scrollable]="true"
             [scrollHeight]="scrollHeight"
             #table >
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader >
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" (dblclick)="selectRecord(rowData)">
          <td *ngFor="let col of columns" >
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button [mat-dialog-close]="selected" cdkFocusInitial color="primary" [disabled]="!selected">{{'#Select#'|lang}}</button>
  </mat-dialog-actions>
</div>