<div #jobTicketAddView class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-8" align="left" >
        <button type="button" class="btn btn-primary" (click)="cancelClick()" type="button">
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_ADD]">
          <button  class="btn btn-success" (click)="onAddOrder()" type="button"><i class="fa fa-plus-square"></i> {{'AddButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_ADD]">
          <button  class="btn btn-success" (click)="onAddCatalog()" type="button"><i class="fa fa-plus-square"></i> {{'CatalogButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length == 0 || processingUserAction" (click)="onDelete()" type="button"><i class="fa fa-trash"></i> {{'DeleteButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.JOB_TICKETS_ADD]">
          <button  class="btn btn-success {{constants.ACCEPT_SAVE_BARCODE}}" [disabled]="!this.addedParts.length || processingUserAction" (click)="onSave()" type="button"><i class="fa fa-plus-square"></i> {{'SaveButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px" type="button"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal" style="margin: 0">
        <div class="row">
          <div class="col-4">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div *ngIf="!mitchellState">
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'JT1_NUMBER'|lang}}" [(ngModel)]="record.JT1_NUMBER" name="JT1_NUMBER" (keyup)="onKeyUp($event, 'JT1_NUMBER')"  />
              </mat-form-field>
            </div>
            <div *ngIf="mitchellState">
              <mat-form-field class="mat-form-field-width-auto">
                <mat-select placeholder="{{'JT1_NUMBER'|lang}}" [formControl]="jobCCCCtrl" #jobCCC panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="jobCCCChanged($event)" [ngModel]="selectedJobCCC">
                  <ngx-mat-select-search [formControl]="jobCCCFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                  <mat-option *ngFor="let item of filteredJobCCC | async" [value]="item">
                    <span>{{item.CCC_RO_NUMBER}} [{{item.CCC_YEAR}} {{item.CCC_MAKE}}]</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" >
                <mat-label>{{'JT1_COMMENT'|lang}}</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          [(ngModel)]="record.JT1_COMMENT"
                          name="JT1_COMMENT"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5" [disabled]="existingID != ''" (keyup)="onKeyUp($event, 'JT1_COMMENT')" ></textarea>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'CO1_NAME'|lang}}" [(ngModel)]="record.CO1_NAME" name="CO1_NAME" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'LO1_NAME'|lang}}" [(ngModel)]="record.LO1_NAME" name="LO1_NAME" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div>
              <mat-radio-group [(ngModel)]="newCustomer" name="newCustomer" (change)="customerChangeRB($event.value)" [disabled]="existingID != ''">
                <mat-radio-button value="0">{{'#NewCustomer#'|lang}}</mat-radio-button>
                <mat-radio-button value="1" style="margin-left: 10px;">{{'#ExistingCustomer#'|lang}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row align-items-center">
              <div class="col" >
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'CU1_NAME'|lang}}" [disabled]="newCustomer == '1'" [(ngModel)]="record.CU1_NAME" name="CU1_NAME" >
                      <button mat-button *ngIf="record.CU1_ID" matSuffix mat-icon-button aria-label="Clear Customer" (click)="clearCustomer()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectCustomer()" [disabled]="newCustomer == '0'" type="button">{{'CU1_NAME'|lang}}</button>
                  </div>
                </div>
              </div>
              <div class="col" >
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'CY1_NAME'|lang}}" disabled [(ngModel)]="record.CY1_NAME" name="CY1_NAME" (input)="customerNameChanged()">
                      <button mat-button *ngIf="record.CY1_ID" matSuffix mat-icon-button aria-label="Clear Country" (click)="clearCountry()" [disabled]="newCustomer == '1'" type="button">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectCountry()" [disabled]="newCustomer == '1'" type="button">{{'CountryButton'|lang}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet1#'|lang}}" [(ngModel)]="record.CU1_ADDRESS1" name="CU1_ADDRESS1" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_ADDRESS1')" >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressStreet2#'|lang}}" [(ngModel)]="record.CU1_ADDRESS2" name="CU1_ADDRESS2" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_ADDRESS2')">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressCity#'|lang}}" [(ngModel)]="record.CU1_CITY" name="CU1_CITY" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_CITY')">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressState#'|lang}}" [(ngModel)]="record.CU1_STATE" name="CU1_STATE" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_STATE')" >
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#AddressPostalCode#'|lang}}" [(ngModel)]="record.CU1_ZIP" name="CU1_ZIP" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_ZIP')" >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Phone#'|lang}}" [(ngModel)]="record.CU1_PHONE" name="CU1_PHONE" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_PHONE')" >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'#Fax#'|lang}}" [(ngModel)]="record.CU1_FAX" name="CU1_FAX" [disabled]="newCustomer == '1'" (keyup)="onKeyUp($event, 'CU1_FAX')" >
                </mat-form-field>
              </div>
            </div>

          </div>
        </div>
      </form>
      <div class="row align-items-center">
        <div class="col" align="left">
          <mat-form-field class="mat-form-field-width-auto">
            <div class="example-full-width" matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <input matInput #inputPartNumber placeholder="{{'#QuickAdd#'|lang}}" [formControl]="partsControl" [matAutocomplete]="autoParts" [matAutocompleteConnectedTo]="origin" [(ngModel)]="partNumber"
                     [name]="partNumber" (input)="filterParts($event.target.value)" (keyup)="partNumberKeyUp($event)" (keydown)="partNumberKeyDown($event)">
            </div>
            <mat-autocomplete #autoParts="matAutocomplete" (optionSelected)="onSelectPart($event.option.value)">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let part of filteredParts" [value]="part.MD1_PART_NUMBER">{{part.MD1_PART_NUMBER}} - {{part.MD1_DESC1}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col" align="right">
          <label style="font-weight: bold">{{'OR1_TOTAL_VALUE'|lang}}:</label>
          <label style="font-weight: bold" style="padding-left: 10px">{{totalValue|currency}}</label>
        </div>
      </div>
    </div>

    <div #contentGrid >
      <p-table id="jobTicketsTable" [columns]="cols" [value]="addedParts"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="multiple" [metaKeySelection]="true" [scrollable]="true"
               [(selection)]="selected" (onEditInit)="onEditInit($event)" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td id="{{col.field === 'MD1_ORDER_QTY' ? 'td'+rowIndex: (col.field === 'MD1_EXTENDED_VALUE' ? 'td_ex_value'+rowIndex : '') }}"
                *ngFor="let col of columns; index as columnIndex;"
                [ngClass]="{'not-editable': col.field !== 'MD1_ORDER_QTY'}"
                [ngStyle]="{'width': col.width +'px'}"
                [hidden]="!col.visible"
                [pEditableColumn]="rowData"
                [pEditableColumnField]="col">

              <div *ngIf="col.field === 'MD1_ORDER_QTY'; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" id="input_{{rowData['MD1_ID']}}" [(ngModel)]="rowData[col.field]" (keypress)="qtyKeyPress($event, rowIndex)" (keydown)="qtyKeyDown($event, rowIndex);" (keyup)="qtyKeyUp($event);" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field]}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-template>
              <ng-template #elseBlock>
                <span [ngSwitch]="col.field">
                  <span *ngSwitchCase="'TE1_ID'">
                    <select [(value)]="rowData[col.field]" style="width: 100%">
                      <option *ngFor="let technician of technicians" [value]="technician.TE1_ID">
                        {{technician.TE1_NAME}}
                      </option>
                    </select>
                  </span>
                  <span *ngSwitchCase="'MD1_UNIT_PRICE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchCase="'MD1_EXTENDED_VALUE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchDefault>
                    <span>{{rowData[col.field]}}</span>
                  </span>
                </span>
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ngx-loading [show]="processingUserAction"></ngx-loading>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>