/deep/ body .ui-orderlist .ui-orderlist-controls {
  display: none;
}

/deep/ body .ui-orderlist .ui-orderlist-list-container {
  width: 100%;
}

/deep/ body .ui-orderlist .ui-orderlist-list {
  height: 100%;
}

div#ordered-body.card-body.card {
  padding: 0px;
  border-radius: 1px;
  box-shadow: none;
  margin: 0;
}

div#table-card.card, div#grid-card.card {
  padding: 0;
  margin: 0;
  border: 1 solid rgba(0,0,0,.12);
  box-shadow: none;
  overflow-y: auto;
}

label{
  margin-bottom: 0;
  padding-top: 5px;
}

div.row.row-aligned {
  margin: 0;
  border: 1 solid rgba(0,0,0,.12);
}
div.row {
  list-style-type: none;
}

/deep/ body .ui-table .ui-table-tbody > tr > td:first-child, .ui-table .ui-table-tbody > tr > td:first-child {
  border-left: 0 !important;
}

/deep/ body .ui-table .ui-table-tbody > tr > td:last-child, .ui-table .ui-table-tbody > tr > td:last-child {
  border-right: 0 !important;
}

/deep/ figure.mat-figure {
  display: grid;
}

.photo-container {
  align-items: center;
}

.one-line {
  overflow: hidden;
  height: 25px;
}
div#table-card.card {
  overflow: hidden;
}