<div style="position: fixed; z-index: 200000; height: 100%; width: 100%; margin-left: -54px; margin-top: -44px;" [hidden]="!isLoading"><ngx-loading [show]="isLoading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)', backdropBorderRadius: '0px' }"></ngx-loading></div>
<div style="height: 100%;" #catalogListModal  style="display: grid;">
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{title}}</h2>
  </div>

  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-8">
        <div class="container no-paddings" >
          <div class="row">
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary" (click)="closeDialog()" >
                <i class="fa fa-share"></i> {{'CloseButton'|lang}}
              </button>
              <button type="button" class="btn btn-primary" (click)="addSelectedItemsToCartClick()" >
                <i class="fa fa-shopping-cart"></i> {{'Add to Cart'|lang}}
              </button>
            </div>
            <div class="col" align="right">
              <input placeholder="{{'Search'|lang}}" pInputText type="text" [(ngModel)]="searchValue" (keyup)="searchKeyUp($event)" style="width: 250px; padding-top: 0">
              <button class="btn btn-light" (click)="search()" style="height: 35px"><i class="fa fa-search"> {{'#SearchTT#'|lang}}</i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>

  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <div class="row" [ngStyle]="{'height': scrollHeight, 'max-height':'none'}">
      <div class="col-8" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
        <div [ngStyle]="{'height': listHeight, 'max-height': listHeight}">
          <div id="grid-card" class="card" [ngStyle]="{'height': listHeight, 'max-height':'none'}" style="border: 1px solid rgba(0,0,0,.12);">
            <mat-grid-list #gridlist cols="6" rowWidth="120px" gutterSize="8px" rowHeight="250px" [ngStyle]="{'height': listHeight, 'max-height':'none'}">
              <mat-grid-tile *ngFor="let item of filteredItems" [ngStyle]="{'background-color': (item.hover ? '#A5A1A5' : (item.selected ? '#007ad9' : '#ffffff')), 'color': (item.selected && !item.hover ? '#ffffff' : '#000000')}" role="listitem" style="border: 1px solid rgba(0,0,0,.12); font-size: 11px" (mouseover)="item.hover=true" (mouseleave)="item.hover=false" (click)="itemSelect(item, $event)">
                <div class="col" style="height: 100%; margin: 5px; padding-top: 5px; padding-bottom: 5px;">
                  <div class="row" align="right" style="display: list-item;">
                    <button type="button" class="btn btn-primary" style="border-radius: 4px;" >
                      <i class="fa fa-question"></i>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="addClickItem(item)" style="border-radius: 4px;" >
                      <i class="fa fa-shopping-cart"></i>
                    </button>
                  </div>
                  <div class="row photo-container">
                    <img *ngIf="item['FI1_FILE_PATH_EXIST']" mat-card-image src="{{item['FI1_FILE_PATH']}}" style="max-height: 120px; margin: auto;">
                    <img *ngIf="!item['FI1_FILE_PATH_EXIST']" mat-card-image src="assets/img/noimage.png" style="max-height: 120px; margin: auto;">
                  </div>
                  <div class="row one-line">
                    <span [ngStyle]="{'color': (item.selected ? '#ffffff' : '#007ad9')}"><b>{{'MD1_PART_NUMBER'|lang}}: </b>{{item[fields.partNumber]}}</span>
                  </div>
                  <div class="row one-line">
                    <span><b>{{'Desc. 1'|lang}}: </b>{{item[fields.description]}}</span>
                  </div>
                  <div class="row one-line">
                    <span><b>{{'Price'|lang}}: </b>{{item[fields.unitPrice]}}</span>
                  </div>
                  <ng-container *ngIf="!isVendorCatalog">
                    <div class="row one-line">
                      <span><b>{{'MD2_ON_HAND_QTY'|lang}}: </b>{{item[fields.onHandQty]}}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="isVendorCatalog">
                    <div class="row one-line">
                      <span><b>{{'VD1_NAME'|lang}}: </b>{{item[fields.masterVendor]}}</span>
                    </div>
                  </ng-container>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div *ngIf="isLoadingItems" class="is-loading" style="bottom: calc(50%); padding-left: calc(50% - 50px); position: absolute"><mat-spinner diameter="50"></mat-spinner></div>
        </div>
        <div #paginator>
          <p-paginator [rows]="recordsPerPage" [totalRecords]="totalRecords" [rowsPerPageOptions]="[100,200,300]" [templateLeft]="templateLeft" (onPageChange)="paginate($event)">
            <ng-template #templateLeft>
              <div style="height: 32px;">
                <div class="col-sm-12" style="padding-top: 5px;" >{{'Customer Data'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
              </div>
            </ng-template>
          </p-paginator>
        </div>
      </div>
      <div class="col-4" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
        <div id="ordered-body" class="card-body card" style="padding: 0;" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
          <div #tableHeader class="row row-aligned" style="height: 37px; border: 1px solid rgba(0,0,0,.12); margin-bottom: -1px">
            <div class="col" align="left">
              <label style="font-weight: bold">{{'Your Shopping Cart'|lang}}</label>
            </div>
          </div>
          <div id="table-card" class="card" [ngStyle]="{'height': tableHeight, 'max-height':'none', 'overflow':'none'}" style="border: 1px solid rgba(0,0,0,.12);">
            <p-table #ordersTable id="ordersTable" [columns]="cols" [value]="orderedItems"
                     [responsive]="true" [rowHover]="true"
                     selectionMode="single" [scrollable]="true"
                     [(selection)]="selected" [scrollHeight]="tableHeight">
              <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="rowData" >
                  <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
                    <span *ngIf="col.field == 'BTN_DELETE'"><i class="fa fa-trash" (click)="removeClick(rowData)" style="float:left; font-size: 24px;"></i></span>
                    <span *ngIf="col.field == 'FI1_FILE_PATH'">
                      <img *ngIf="rowData['FI1_FILE_PATH_EXIST']" src="{{rowData['FI1_FILE_PATH']}}" style="max-width: 24px; max-height: 24px">
                      <img *ngIf="!rowData['FI1_FILE_PATH_EXIST']" src="assets/img/noimage.png" style="max-width: 24px; max-height: 24px">
                    </span>
                    <span *ngIf="col.field == fields.partNumber">
                      {{rowData[fields.partNumber]}}
                    </span>
                    <span *ngIf="col.field == fields.unitPrice" style="text-align: right">
                      {{rowData[fields.unitPrice]|currency}}
                    </span>
                    <span *ngIf="col.field == fields.orderQty">
                      <input type="number" min="1" step="1" [(ngModel)]="rowData[fields.orderQty]" id="row{{rowIndex}}" (keydown)="buttonPress($event, rowIndex);" (input)="updateTotals()" style="width: 100%">
                    </span>
                    </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="cols.length" >
                    {{'No records found'|lang}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div #tableFooter class="row row-aligned" style="height: 37px; border: 1px solid rgba(0,0,0,.12); margin-top: -1px">
            <ng-container *ngIf="!isVendorCatalog">
              <div class="col" align="left">
                <label style="font-weight: bold">{{'MD1_TOTAL_PRICE'|lang}}:</label>
                <label style="font-weight: bold">{{totalCart|currency}}</label>
              </div>
            </ng-container>
            <div class="col" align="right" style="padding-right: 0;">
              <button  class="btn btn-success" [disabled]="!orderedItems.length" (click)="addOrder()"><i class="fa fa-plus-square"></i> {{addOrderButtonLabel}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>