<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 1em;"> #{{record.PO1_NUMBER}}</i>
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col-5" style="font-weight: bold">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row">
              <div class="col-md-4" >
                <label >{{'CO1_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" >
                <label >{{record.CO1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label >{{'VD1_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" >
                <label >{{record.VD1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label >{{'#By#'|lang}}</label>
              </div>
              <div class="col-md-auto" >
                <label >{{record.LO1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" >
                <label >{{'#OrderedBy#'|lang}}</label>
              </div>
              <div class="col-md-auto" >
                <label >{{record.ORDERED_BY}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label >{{'#OrderedOn#'|lang}}</label>
              </div>
              <div class="col-md-auto" >
                <label >{{record.ORDERED_ON|datelocal:'MM.dd.y HH:mm'}}</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col" >
                <mat-form-field class="mat-form-field-width-auto">
                  <mat-select placeholder="{{'#Status#'|lang}}" [(value)]="record.PO1_STATUS" disabled>
                    <mat-option *ngFor="let status of statusData" [value]="status.PO1_STATUS">
                      {{status.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col" >
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'PO1_SHIPPING_METHOD'|lang}}" [(ngModel)]="record.PO1_SHIPPING_METHOD" name="PO1_SHIPPING_METHOD" disabled>
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'PO1_TOTAL_VALUE'|lang}}" [(ngModel)]="record.PO1_TOTAL_VALUE" name="PO1_TOTAL_VALUE" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field  class="mat-form-field-width-auto" rows="3" >
                <textarea matInput placeholder="{{'PO1_COMMENT'|lang}}" [(ngModel)]="record.PO1_COMMENT" name="PO1_SHIPPING_METHOD" disabled></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div #actionbar >
      <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_READ]">
        <button  class="btn btn-primary" [disabled]="!selected" (click)="openRecord()"><i class="fa fa-plus-square"></i> {{'#Edit#'|lang}}</button>
      </ng-template>
      <ng-container *ngIf="action == 'receiving'">
        <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_READ]">
          <button class="btn btn-success" (click)="onReceive()"><i class="fa fa-plus-square"></i> {{'#Receive#'|lang}}</button>
        </ng-template>
      </ng-container>
      <ng-template [ngxPermissionsOnly]="[permissions.PURCHASE_ORDERS_DELETE]">
        <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
      </ng-template>
    </div>
    <div #contentGrid >
      <p-table id="storeOrdersTable" [columns]="cols" [value]="orderLines"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="single" [scrollable]="true"
               [paginator]="false" [(selection)]="selected" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" >
          <tr [pSelectableRow]="rowData" (dblclick)="onOpen(rowData)"  [pSelectableRowIndex]="rowIndex" >
            <td *ngFor="let col of columns"
                [ngStyle]="{'width': col.width +'px'}"
                id="{{col.field === 'QTY' ? 'td'+rowIndex : ''}}"
                [hidden]="!col.visible"
                [pEditableColumn]="rowData"
                [pEditableColumnField]="col" >

              <span *ngIf="col.field == 'PO2_LINE'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>


              <div *ngIf="col.field === 'QTY'" >
                <div *ngIf="action == 'receiving'" >
                  <p-cellEditor>
                    <ng-template pTemplate="input" >
                      <input pInputText type="number" step="1" (keypress)="keyPress($event)" min="0" id="input_qty_{{rowData['PO2_ID']}}" [(ngModel)]="rowData[col.field]" (keydown)="keyDown($event, rowIndex);" (keyup)="keyUp($event);" (focus)="$event.target.select()">
                    </ng-template>
                    <ng-template pTemplate="output">
                      <b style="color: #FF4136">{{rowData[col.field]}}</b>
                    </ng-template>
                  </p-cellEditor>
                </div>
                <div *ngIf="action != 'receiving'" >
                  <span style="font-weight: bold">0</span>
                </div>
              </div>

              <div *ngIf="col.field === 'PO2_UNIT_PRICE'" >
                <div *ngIf="action == 'receiving'" >
                  <div *ngxPermissionsOnly="[permissions.MASTER_DATA_EDIT]" >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="number" (keypress)="keyPress($event)" min="0" step="0.01" id="input_price_{{rowData['PO2_ID']}}" [(ngModel)]="rowData[col.field]" (keydown)="keyDown($event, rowIndex);" (keyup)="keyUp($event);" >
                      </ng-template>
                      <ng-template pTemplate="output">
                        <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                      </ng-template>
                    </p-cellEditor>
                  </div>
                  <div *ngxPermissionsExcept="[permissions.MASTER_DATA_EDIT]" >
                      <span style="font-weight: bold">{{rowData[col.field] | currency}}</span>
                  </div>
                </div>
                <div *ngIf="action != 'receiving'" >
                  <span style="font-weight: bold">{{rowData[col.field] | currency}}</span>
                </div>
              </div>

              <span *ngIf="col.field == 'CREATED_ON'">{{rowData[col.field]|datelocal:'MM.dd.y HH:mm' }}</span>

              <span *ngIf="col.field != 'PO2_UNIT_PRICE' && col.field != 'PO2_LINE' && col.field != 'PO1_STATUS_TEXT' && col.field !='QTY' && col.field !='CREATED_ON'">{{rowData[col.field]}}</span>
              <span *ngIf="col.field == 'PO1_STATUS_TEXT' && rowData['PO1_STATUS_TEXT'] !== 'Open'" style="vertical-align: middle;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(165,161,165);" />
                </svg>
                <span>
                  <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
                </span>
              </span>
              <span *ngIf="col.field == 'PO1_STATUS_TEXT' && rowData['PO1_STATUS_TEXT'] === 'Open'" style="vertical-align: middle;">
                <svg width="25" height="25">
                  <rect width="25" height="25" style="fill:rgb(6,177,0);" />
                </svg>
                <span>
                  <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
                </span>
              </span>


            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Purchase Order Lines'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>