<button mat-button class="modify-icon" [ngSwitch]="locale" [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
  <mat-icon *ngSwitchCase="'en-us'" svgIcon="EN"></mat-icon>
  <mat-icon *ngSwitchCase="'fr-fr'" svgIcon="FR"></mat-icon>
  <mat-icon *ngSwitchCase="'es-es'" svgIcon="ES"></mat-icon>
  <mat-icon *ngSwitchCase="'de-de'" svgIcon="DE"></mat-icon>
  <span class="ml-2 hide-label">{{locale| displayField: 'LA1_LOCALE':'LA1_NAME':languages}}</span>
</button>
<mat-menu #menu="matMenu" overlapTrigger="false">
  <button mat-menu-item *ngFor="let lang of languages" [ngSwitch]="lang.LA1_LOCALE" (click)="changeLang(lang)">
    <mat-icon *ngSwitchCase="'en-us'" svgIcon="EN"></mat-icon>
    <mat-icon *ngSwitchCase="'fr-fr'" svgIcon="FR"></mat-icon>
    <mat-icon *ngSwitchCase="'es-es'" svgIcon="ES"></mat-icon>
    <mat-icon *ngSwitchCase="'de-de'" svgIcon="DE"></mat-icon>
    <span>{{lang.LA1_NAME}}</span>
  </button>
</mat-menu>

<button mat-button class="modify-icon" [matMenuTriggerFor]="menuAccount">
  <mat-icon>account_circle</mat-icon>
  <span class="ml-2 hide-label" >{{userName}}</span>
</button>
<mat-menu #menuAccount="matMenu" overlapTrigger="false">
  <button mat-menu-item routerLink="{{'/user/profile/'+userID}}">
    <mat-icon>account_circle</mat-icon>
    <span>{{'Profile'|lang}}</span>
  </button>
  <button mat-menu-item routerLink="{{'/user/changepassword/'+userID}}">
    <mat-icon>settings</mat-icon>
    <span>{{'Change Password'|lang}}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'Sign Out'|lang}}</span>
  </button>
</mat-menu>