.hide-label {
    visibility:visible; 
}

@media screen and (max-width: 500px) {
    .hide-label {
        display:none;
        visibility: hidden;
    }

    .modify-icon
    {
        padding: 0px;
        min-width: 20px;
    }
}
