// Here you can add other styles
.card-container.card {
  max-width: 375px;
  padding: 40px 40px;
}
.card {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  //margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border:0;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.card-header {
  background-color: #f7f7f7 !important;
}
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~ngx-toastr/toastr";
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables
@import "~ngx-toastr/toastr-bs4-alert";

.mat-tab-body-content {
    height: auto !important;
}
.mat-tab-label {
  min-width: 0 !important;
}

.toast-message  {
  color: #000000;
}

.toast-title {
  color: #000000;
}

.filter-input {
  float: left;
  top:30px;
  x: 0px;
  width: 100%;
  padding: 4px 4px 5px 4px;
  border: 1px solid rgb(238, 238, 238);
}

.filter-submit {
  position: relative;
  top: 19px;
  x: 0px;
  width: 100%;
}

.nav-horizontal i {
  display: block;
  height: 55px;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 42px;
  padding: 10px;
}

.nav-horizontal a {
  text-align: center;
  min-width: 130px;
  padding: 12px 10px;
  display: block;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2 !important;
  opacity: 0.9;
  margin: 5px;
}

.nav-horizontal li {
  min-width: 130px;
  height: 107px;
  display: inline-block;
}

.nav-horizontal a:hover, .nav-horizontal li.active a {
  border: 1px solid #0b8fbf;
  text-decoration: none;
  color: #0b8fbf;
}

.sidebar-header-options {
  float: right;
}

.sidebar .nav-link,
.sidebar .navbar .dropdown-toggle,
.navbar .sidebar .dropdown-toggle {
  padding: 0.75rem 1rem !important;
}

.dasboard-button {
  display: inline-block;
  width: 130px;
  height: 107px;
  background-color: #21417E !important;
  a {
    color: #ffffff;
    i {
      width: 100px;
      height: 55px;
    }
  }
}

.badge {
  float: right;
  font-size: 100%;
}

.label-info {
  background-color: #2980b9;
  padding: 1px 4px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.btn-orange {
  color: #fff;
  background-color: #e67e22;
  border-color: #f39c12;
}

.btn-orange:hover {
  color: #fff;
  background-color: #db6d01;
  border-color: #db6d01;
}

.btn-orange:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-orange.disabled {
  color: #fff;
  background-color: #e67e22;
  border-color: #f39c12;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #e67e22;
  border-color: #f39c12;
}


.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.row-full-access  { background: #ccffd3;  }
.row-restricted-access { background: #ffffcc;  }
.row-full-no-access { }

body { background: #fff !important; }

.cdk-overlay-container {
  z-index: 100000;
  background-color: rgba(255, 255, 255, 0.1);
}

p-dialog {
  .ui-dialog {
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
  }
}

app-language-editor-modal {
  height: 100%;
}

/*
.cdk-overlay-container {
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.7);
}
*/

p-dropdown {
  div.ui-dropdown.ui-widget {
    min-width: 80px;
    height: auto;
  }
}

td {
  overflow-x: hidden;
}

body .ui-table .ui-table-tbody > tr > td:first-child,
     .ui-table .ui-table-tbody > tr > td:first-child {
  border-left: 1px solid #c8c8c8 !important;
}

body .ui-table .ui-table-tbody > tr > td:last-child,
     .ui-table .ui-table-tbody > tr > td:last-child {
  border-right: 1px solid #c8c8c8 !important;
}

body .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tbody > tr > td {
  border-left: none;
  border-right: none;
  padding: .2em;
  font-size: 13px;
}

body .ui-table .ui-table-thead > tr > th {
  padding: .4em .2em;
  font-size: 13px;
}

body .ui-table .ui-table-tfoot > tr > td, .ui-table .ui-table-tfoot > tr > td {
  border-left: none;
  border-right: none;
  padding: .4em .2em;
  font-size: 13px;
}

.no-paddings {
  padding-right: 0;
  padding-left: 0;
}

.card-header {
  padding: .6em;
}

li.nav-item.ng-star-inserted {
  width: 230px;
}

.sidebar-add-item-icon {
  font-size: 24px !important;
  color: #3adb3d !important;
  cursor: pointer;
}

.sidebar-add-item-icon-disable {
  color: #536c79 !important;
  cursor: default;
}

.sidebar .nav-link.active {
  background: #005a8c;
  i {
    color: white;
  }
}

.sidebar .nav-link.active-child {
  background: #0b5973;
  i {
    color: white;
  }
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #ece0ff;
    color: black;
}

body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #e7d3ff !important;
    color: black;
}

.shadow {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

a:not([href]):not([tabindex]) {
    color: #007ad9;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
    color: #20a8d8;
    cursor: pointer;
}



// ui-treetable styles
body .ui-treetable .ui-treetable-tbody > tr > td:first-child,
.ui-treetable .ui-treetable-tbody > tr > td:first-child {
  border-left: 1px solid #c8c8c8 !important;
}

body .ui-treetable .ui-treetable-tbody > tr > td:last-child,
.ui-treetable .ui-treetable-tbody > tr > td:last-child {
  border-right: 1px solid #c8c8c8 !important;
}

body .ui-treetable .ui-treetablee-tbody > tr > td,
.ui-treetable .ui-treetable-tbody > tr > td {
  border-left: none;
  border-right: none;
  padding: .2em;
  font-size: 13px;
}

body .ui-treetable .ui-treetable-thead > tr > th {
  padding: .4em .2em;
  font-size: 13px;
}

body .ui-treetable .ui-treetable-tfoot > tr > td,
.ui-treetable .ui-treetable-tfoot > tr > td {
  border-left: none;
  border-right: none;
  padding: .4em .2em;
  font-size: 13px;
}

body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
  background-color: #ece0ff;
  color: black;
}

body .ui-treetable .ui-treetable-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #e7d3ff !important;
  color: black;
}