.mat-left-menu-button {
  line-height: 21px !important;
  padding: 0 !important;
  width: 100%;
  text-align: left !important;
  font-weight: normal;
  border-radius: 0 !important;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

/*
.cdk-overlay-container {
    z-index: 10000;
}
*/

.mat-left-expansion-panel {
  background: transparent !important;
}

.mat-left-expansion-panel .mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-left-expansion-panel .mat-expansion-panel-body a.nav-link {
    padding-left: 35px !important;
}

.mat-left-expansion-panel-header {
  padding: 0 24px 0 0 !important;
}

.mat-left-expansion-panel-header:hover {
  background: #20a8d8 !important;
}

.mat-left-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}
.mat-left-expansion-panel-header .mat-expansion-indicator::after {
  border-color: #fff !important;
}

.mat-select-filter .mat-select-placeholder{
  font-weight: 16px;
}

.mat-form-field-width-auto,
  .mat-form-field-width-auto .mat-form-field-infix  {

  width: 100% !important;
}

.mat-form-field-label-wrapper {
    overflow: inherit !important;
}

.mat-list-item-disabled {
    background-color: inherit !important;
}