
.multiselect-dropdown {
  width: 100%;
}

.multiselect-dropdown-sortable {
  float: left;
}

$dropdown-list-width: 50, 70, 80, 100, 150, 200, 250, 300, 350;

@each $width in $dropdown-list-width {
  .multiselect-dropdown-#{$width} .dropdown-list {
    width: #{$width}px !important;
  }
}

.dropdown-btn {
  padding: 4px 0px 4px 4px !important;
  border-radius: 0 !important;
  border-color: rgb(238, 238, 238) !important;
}

.dropdown-btn > span {
  line-height: 20px;
}

.dropdown-btn .selected-item {
  padding: 0 3px !important;
  font-size: 12px;
  border: none !important;
  width: calc(100% - 30px);
}

.dropdown-btn > span:first-child {
  float: left;
}

.dropdown-btn > span:last-child > span:only-child {
  margin-top:5px;
}

.dropdown-btn > span:last-child > span:not(:only-child):first-child {
  float: right;
  font-size: 10px;
  position: relative;
  top:5px;
  padding-right: 2px !important;
}

.dropdown-btn > span:last-child > .dropdown-down,
.dropdown-btn > span:last-child > .dropdown-up{
  display: block !important;
}