input.ng-star-inserted {
  width: 100%;
  height: 100%;
}

p-dropdown.ng-star-inserted {
  width: 100%;
  height: 100%;
}

mat-form-field.mat-form-field {
  width: 100%;
  height: 100%;
}

/deep/ body .ui-table .ui-table-thead > tr > th //.custom-header > tr
{
  padding: 0.2em 0.4em  !important;
}

/deep/ body .ui-table .ui-table-thead > tr > th > mat-form-field > div.mat-form-field-wrapper
{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
/deep/ body .ui-table .ui-table-thead > tr > th > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix
{
  border-top: 0px !important;
}

/deep/ body .ui-table .ui-table-thead > tr > th > mat-form-field > div.mat-form-field-wrapper >  div.mat-form-field-underline
{
  top: 1.85em !important;
  bottom: 0em !important;
}



/deep/ body .ui-treetable .ui-treetable-thead > tr > th //.custom-header > tr
{
  padding: 0.2em 0.4em  !important;
}

/deep/ body .ui-treetable .ui-treetable-thead > tr > th > mat-form-field > div.mat-form-field-wrapper
{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
/deep/ body .ui-treetable .ui-treetable-thead > tr > th > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix
{
  border-top: 0px !important;
}

/deep/ body .ui-treetable .ui-treetable-thead > tr > th > mat-form-field > div.mat-form-field-wrapper >  div.mat-form-field-underline
{
  top: 1.85em !important;
  bottom: 0em !important;
}

/deep/ body .ui-treetable .ui-treetable-tbody > tr > td {
  overflow-y: hidden;
}

/deep/ body .ui-treetable .ui-treetable-caption {
  padding-bottom: 0;
}