.ngx-datatable {
  overflow: visible !important;
}

.ngx-datatable .datatable-header{
  overflow: inherit !important;
}

.ngx-datatable.material .datatable-header .datatable-header-inner .datatable-header-cell {
  overflow: inherit !important;
}

.ngx-datatable.material .datatable-row-left,
.ngx-datatable.material .datatable-row-center,
.ngx-datatable.material .datatable-row-group,
.ngx-datatable.material .datatable-row-right {
    position: static !important;
}

.ngx-datatable .datatable-body{
  position: static !important;
  overflow: hidden;

}


.ngx-datatable.material.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow:none !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: .2rem .8rem;
  border-top: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: .5rem;
  font-size: inherit !important;
}