<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.TECHNICIANS_EDIT]" >
         <button type="button" class="btn btn-primary  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngxPermissionsOnly]="[permissions.HOURS_EDIT]">
          <button class="btn btn-danger" [disabled]="!selectedHour" (click)="deleteClick($event)"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <i class="fa fa-user fa-lg" style="font-size: 2em;"></i> {{ record.TE1_NAME }}
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.TE1_CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.TE1_CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.TE1_MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.TE1_MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <ng-template [ngIf]="hourErrors.length" >
              <mat-error *ngFor="let error of hourErrors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div>
              <mat-tab-group dynamicHeight="true" [selectedIndex]="selectedTab">
                <mat-tab label="{{'VD0_GENERAL'|lang}}">
                  <div class="row" style="padding-top: 20px">
                    <div class="col">
                      <div>
                        <mat-form-field class="mat-form-field-width-auto">
                          <input matInput placeholder="{{'TE1_SHORT_CODE'|lang}}" [(ngModel)]="record.TE1_SHORT_CODE" name="TE1_SHORT_CODE">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="mat-form-field-width-auto">
                          <input matInput placeholder="{{'TE1_NAME'|lang}}" [(ngModel)]="record.TE1_NAME" name="TE1_NAME">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="mat-form-field-width-auto">
                          <input matInput placeholder="{{'US1_LOGIN'|lang}}"  [(ngModel)]="record.US1_LOGIN" name="US1_LOGIN" >
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="mat-form-field-width-auto">
                          <input matInput placeholder="{{'US1_PASS'|lang}}"  [(ngModel)]="record.US1_PASS" name="US1_PASS" >
                        </mat-form-field>
                      </div>
                      <div class="row align-items-center">
                        <div class="col" style="padding-right: 0px;">
                          <mat-form-field class="mat-form-field-width-auto">
                            <input matInput placeholder="{{'CO1_NAME'|lang}}" disabled  [(ngModel)]="record.CO1_NAME" name="CO1_NAME" >
                            <button mat-button *ngIf="record.CO1_ID" matSuffix mat-icon-button aria-label="Clear Company" (click)="clearCompany()" >
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>
                        <div class="col-md-auto" style="padding-left: 0px;">
                          <button mat-button color="primary" (click)="selectCompany()" >{{'CompanyButton'|lang}}</button>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col" style="padding-right: 0px;">
                          <mat-form-field class="mat-form-field-width-auto">
                            <input matInput placeholder="{{'LO1_NAME'|lang}}" disabled  [(ngModel)]="record.LO1_NAME" name="LO1_NAME" >
                            <button mat-button *ngIf="record.LO1_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearShop()" >
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        </div>
                        <div class="col-md-auto" style="padding-left: 0px;">
                          <button mat-button color="primary" (click)="selectShop()" >{{'ShopButton'|lang}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="record.US1_ALLOW_MOBILE_JOB_CREATE" name="US1_ALLOW_MOBILE_JOB_CREATE">
                          {{'US1_ALLOW_MOBILE_JOB_CREATE'|lang}}
                        </mat-checkbox>
                      </div>
                      <div style="padding-top: 12px;">
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="record.TE1_BODY" name="TE1_BODY">
                          {{'TE1_BODY'|lang}}
                        </mat-checkbox>
                      </div>
                      <div style="padding-top: 12px;">
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="record.TE1_DETAIL" name="TE1_DETAIL">
                          {{'TE1_DETAIL'|lang}}
                        </mat-checkbox>
                      </div>
                      <div style="padding-top: 12px;">
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="record.TE1_PAINT" name="TE1_PAINT">
                          {{'TE1_PAINT'|lang}}
                        </mat-checkbox>
                      </div>
                      <div style="padding-top: 12px;">
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="record.TE1_ACTIVE" name="TE1_ACTIVE">
                          {{'Active'|lang}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-tab>

                <ng-template [ngxPermissionsOnly]="[permissions.HOURS_READ]" >
                  <mat-tab label="{{'Hours'|lang}}">
                    <ng-template [ngxPermissionsOnly]="[permissions.HOURS_ADD]" >
                      <div style="padding-top: 20px">
                        <div class="row">
                          <div class="col-auto">
                            <mat-form-field style="width:220px;}">
                              <input matInput placeholder="{{'Hours'|lang}}" [(ngModel)]="hour.HO1_HOURS" name="HO1_HOURS" type="number" step="0.01">
                            </mat-form-field>
                          </div>
                          <div class="col-auto">
                            <mat-form-field style="width:100px;}">
                              <input matInput [matDatepicker]="dpHour" placeholder="{{'Hour Date'|lang}}" [formControl]="hourDate" (change)="dateChangeHandler($event)">
                              <mat-datepicker-toggle matSuffix [for]="dpHour"></mat-datepicker-toggle>
                              <mat-datepicker #dpHour
                                              startView="multi-year"
                                              (yearSelected)="chosenYearHandler($event)"
                                              (monthSelected)="chosenMonthHandler($event, dpHour)"
                                              panelClass="example-month-picker"></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-auto">
                            <button type="button" class="btn btn-primary" (click)="addHourClick()" >
                              <i class="fa fa-plus-square"></i> {{'AddButton'|lang}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <div #contentGrid >
                      <p-table id="hoursTable" [columns]="cols" [value]="hours"
                               [responsive]="true" [loading]="loading" [rowHover]="true"
                               selectionMode="single" [scrollable]="true" (onEditInit)="onEditInit($event)"
                               [paginator]="false" [(selection)]="selectedHour">
                        <ng-template pTemplate="header" let-columns>
                          <tr #tableHeader>
                            <th *ngFor="let col of cols" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
                              {{col.header}}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="cols" let-rowIndex="rowIndex" >
                          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" >
                            <td *ngFor="let col of cols"
                                [ngStyle]="{'width': col.width +'px'}"
                                [hidden]="!col.visible"
                                [pEditableColumn]="rowData"
                                [pEditableColumnField]="col" >

                              <ng-template [ngxPermissionsOnly]="[permissions.HOURS_EDIT]" >
                                <p-cellEditor *ngIf="col.field == 'HO1_HOURS'">
                                  <ng-template pTemplate="input">
                                    <input pInputText type="number" min="0" step="0.01" id="input_hours_{{rowData['HO1_ID']}}" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="rowData[col.field]"
                                           (input)="hoursChanged(rowData, $event.target.value)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    <span style="font-weight: bold;">{{rowData[col.field]}}</span>
                                  </ng-template>
                                </p-cellEditor>
                              </ng-template>
                              <ng-template [ngxPermissionsExcept]="[permissions.HOURS_EDIT]" >
                                <span *ngIf="col.field == 'HO1_HOURS'">{{rowData[col.field]}}</span>
                              </ng-template>

                              <span *ngIf="col.field == 'HO1_DATE'">{{dateFormat(rowData[col.field])}}</span>
                              <span *ngIf="col.field != 'HO1_HOURS' && col.field != 'HO1_DATE'">{{(col.field == 'HO1_CREATED_ON' || col.field == 'HO1_MODIFIED_ON')?(rowData[col.field]|datelocal:'MM.dd.y HH:mm'):rowData[col.field]}}</span>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                          <tr>
                            <td [attr.colspan]="cols.length" >
                              {{'No records found'|lang}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </mat-tab>
                </ng-template>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-confirmDialog acceptLabel="{{acceptLabel}}" header="{{confirmationHeader}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>