.mat-dialog-title {
  margin: 0 0 10px;
}

.noneoverflow {
  overflow: hidden;
  white-space: nowrap;
}

/deep/ body .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tbody > tr > td {
  .mat-checkbox-layout {
    margin: 0;
  }
}

/deep/ body #editInventoryModal .ui-table .ui-table-scrollable-body {
  overflow-y:scroll;
}