<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)', backdropBorderRadius: '0px' }"></ngx-loading>
<div style="height: 100%;" #editLaborHoursModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Edit Labor Hours'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': 'auto', 'max-height':'auto'}" >
    <p-table [columns]="cols" [value]="items" selectionMode="single"
             [responsive]="true" [scrollHeight]="scrollHeight"
             [paginator]="false" >
      <ng-template pTemplate="header" let-cols>
        <tr #tableHeader>
          <th *ngFor="let col of cols" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="cols" let-rowIndex="rowIndex">
        <tr id="row{{rowIndex}}" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" >
          <td *ngFor="let col of cols; let i = index" [pEditableColumn]="rowData" [pEditableColumnField]="col">
            <span *ngIf="col.field == 'TE1_NAME'; then thenBlock else elseBlock"></span>
            <ng-template #thenBlock>
               {{rowData[col.field]}}
            </ng-template>
            <ng-template #elseBlock>
              <p-cellEditor>
                <ng-template pTemplate="input" >
                  <input type="text"  [value]="rowData[col.field]" [(ngModel)]="rowData[col.field]" (focus)="$event.target.select()">
                </ng-template>
                <ng-template pTemplate="output">
                  <b style="color: #990000">{{rowData[col.field] || 0}}</b>
                </ng-template>
              </p-cellEditor>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'#Customers#'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button (click)="onSave()" cdkFocusInitial color="primary" >{{'#Save#'|lang}}</button>
  </mat-dialog-actions>
</div>