<div style="height: 100%;" #languageModal  style="display: grid;">
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{title}}</h2>
  </div>

  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <mat-dialog-actions style="margin-left: -12px;">
          <mat-checkbox *ngFor="let col of selectedColumns" [(ngModel)]="col.visible" [value]="col" >{{'Show'|lang}} {{col.header['label']|lang}}  </mat-checkbox>
        </mat-dialog-actions>
      </div>
      <div class="col" align="right">
        <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
      </div>
    </div>
  </div>

  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <p-table id="langEditTable" [columns]="cols" [value]="items"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="single"  [scrollable]="true"
             (onEditInit)="onEditInit($event)"
             [(selection)]="selected" [scrollHeight]="scrollHeight">
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" [hidden]="!col.visible">
            {{col.header.label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" >
          <td *ngFor="let col of columns" [pEditableColumn]="rowData" [pEditableColumnField]="col" style="overflow-x:hidden;" [hidden]="!col.visible" [ngClass]="{'not-editable': col.field === 'LA2_KEY'}">
            <div *ngIf="col.field !== 'LA2_KEY'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="rowData[col.field]" (keydown)="onPressEnter($event, rowData, rowData[col.field], rowData['LA2_KEY'], col.header)" (focusout)="onEditCell(rowData, rowData[col.field], rowData['LA2_KEY'], col.header)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{rowData[col.field]}}
                </ng-template>
              </p-cellEditor>
            </ng-template>
            <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
</div>