<div style="height: 100%;" #masterVendorModal  >
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'Assign Master Vendor'|lang}}</h2>
  </div>
  <mat-dialog-content class="mat-typography" #content [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <p-table [columns]="cols" [value]="items" [rowHover]="true"
             [responsive]="true" [loading]="loading"
             selectionMode="single"  [scrollable]="true"
             [(selection)]="selected" [scrollHeight]="scrollHeight" >
      <ng-template pTemplate="header" let-columns>
        <tr #tableHeader>
          <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" >
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
            <div *ngIf="col.field !== 'VD0_MANUFACTURER'; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              {{rowData[col.field]}}
            </ng-template>
            <ng-template #elseBlock>
              <i *ngIf="rowData[col.field] == 1" class="fa fa-check"></i>
              <span *ngIf="rowData[col.field] != 1"></span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="cols.length" >
            {{'No records found'|lang}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end" #footer  >
    <button mat-raised-button [mat-dialog-close]="false">{{'#Cancel#'|lang}}</button>
    <button mat-raised-button [mat-dialog-close]="selected" cdkFocusInitial color="primary" [disabled]="!selected" >{{'Assign'|lang}}</button>
  </mat-dialog-actions>
</div>