<ng-container *ngIf="materialDP">
  <mat-form-field class="mat-form-field-width-auto" >
    <mat-select [disabled]="disabled" [(ngModel)]="drawerID" name="MD2_DRAWER_{{index}}" (selectionChange)="selectionChanged($event.value)">
      <mat-option *ngFor="let drawer of drawerDP; trackBy: drawer?.data" [value]="drawer.data" >
        {{drawer.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="!materialDP">
  <form>
    <select class="form-control" [disabled]="disabled" [(ngModel)]="drawerID" name="MD2_DRAWER_{{index}}" (ngModelChange)="selectionChanged($event)">
      <option *ngFor="let drawer of drawerDP; trackBy: drawer?.data" [value]="drawer.data">
        {{drawer.label}}
      </option>
    </select>
  </form>
</ng-container>