<div class="animated fadeIn">
    <div class="card-body" style="padding: 0;">
        <ng-template [ngxPermissionsOnly]="[permissions.USERS_EDIT]">
            <button class="btn btn-success" (click)="editCustomer()"><i class="fa fa-user fa-lg"></i> {{'UPDATE'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.USERS_EDIT]">
            <button class="btn btn-success" (click)="changePassword()"><i class="fa fa-key fa-lg"></i> {{'Change password'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.USERS_EDIT]">
            <button class="btn btn-success" (click)="editRoles()"><i class="fa fa-users fa-lg"></i> {{'Roles'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.USERS_EDIT]">
            <button class="btn btn-success" (click)="editPermissions()"><i class="fa fa-link fa-lg"></i> {{'Permissions'|lang}}</button>
        </ng-template>
    </div>
    <div class="card ui" style="">
        <div class="card-header">
            <div class="panel-heading">
                <i class="fa fa-user fa-lg"></i>
                {{ user.US1_NAME }}
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-3" style="horiz-align: right"><strong>{{'Username'|lang}}</strong></label>
                    <div class="col-md-9">
                        {{user.US1_LOGIN}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-md-3" style="horiz-align: right"><strong>{{'#Email#'|lang}}</strong></label>
                    <div class="col-md-9">
                        {{user.US1_EMAIL || '-'}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-md-3" style="horiz-align: right"><strong>{{'#Status#'|lang}}</strong></label>
                    <div class="col-md-9">
                        {{user.DELETED | userstatus}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-md-3" style="horiz-align: right"><strong>{{'Registration Date'|lang}}</strong></label>
                    <div class="col-md-9">
                        {{user.US1_CREATED_ON | date:'medium'}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-md-3" style="horiz-align: right"><strong>{{'Last Update'|lang}}</strong></label>
                    <div class="col-md-9">
                        {{user.US1_MODIFIED_ON | date:'medium' }}
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>