<app-rights-menu></app-rights-menu>
<form novalidate class="ui form">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <ngx-datatable
            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="30"
            [externalPaging]="true"
            [externalSorting]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            [sortType]=""
            (page)='setPage($event)'>

        <ngx-datatable-column [sortable]="false" prop="NAME">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'Username'|lang}}</span></span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                <a href="" (click)= "editRight(value)">{{row.NAME}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="ROLES">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'Roles'|lang}}</span></span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.ROLES}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="TASKS">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <span class="datatable-header-cell-wrapper"> <span class="datatable-header-cell-label draggable header-label">{{'Permissions'|lang}}</span></span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.TASKS}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="" sortable="false" prop="ID">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable header-label"></span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-template [ngxPermissionsOnly]="[permissions.RIGHTS_EDIT]">
                    <i (click)= "editRight(value)" class="fa fa-lg fa-pencil"></i>
                </ng-template>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</form>