<div #storeOrdersView class="animated fadeIn">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_ADD]">
          <button  class="btn btn-success" [disabled]="!selected || selected.length != 1" (click)="onOpen()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
        </ng-template>
        <ng-container *ngIf="showReceiveButton">
          <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_EDIT]"  >
            <button  class="btn btn-success" [disabled]="!selected || selected.length != 1" (click)="onReceive()"><i class="fa fa-plus-square"></i> {{'#Receive#'|lang}}</button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="showInvoiceButton">
          <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_EDIT]"  >
            <button  class="btn btn-success" [disabled]="!selected" (click)="onPickTicket()"><i class="fa fa-plus-square"></i> {{'Pick Ticket'|lang}}</button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="showCompeteButton">
          <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_EDIT]"  >
            <button  class="btn btn-success" [disabled]="!selected || selected.length != 1"
                     (click)="onComplete()"><i class="fa fa-plus-square"></i> {{'Invoice'|lang}}</button>
          </ng-template>
        </ng-container>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_READ]">
          <button class="btn btn-primary" [disabled]="!selected || !selected.length" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.STORE_ORDERS_READ]" >
          <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
           [responsive]="true" [loading]="loading" [rowHover]="true"
           selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
           [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
           [lazy]="true" (onPage)="onPage($event)"
           [(selection)]="selected" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="header" let-columns>
      <tr #tableHeader>
        <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
          {{col.header}}
        </th>
      </tr>
      <tr #tableFilter>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
          <mat-form-field *ngSwitchCase="'ORDERED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="orderedByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.ORDERED_BY">
              <ngx-mat-select-search [formControl]="orderedByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredOrderedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'ORDERED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <input *ngSwitchCase="'OR1_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'OR1_INV_STATUS_TEXT'" [style]="{'width':'100%'}">
            <mat-select (selectionChange)="filterChanged(col.field, $event.value)">
              <mat-option *ngFor="let invStatus of invStatuses" [value]="invStatus.value">
                {{invStatus.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'OR1_STATUS_TEXT'" [style]="{'width':'100%'}">
            <mat-select (selectionChange)="filterChanged(col.field, $event.value)" multiple>
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{status.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'COMPLETED_ON'" [style]="{'width':'100%'}">
            <input matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <input *ngSwitchCase="'OR1_TOTAL_VALUE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="number" min="0" step="0.01" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
          <mat-form-field *ngSwitchCase="'VD1_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD1_NAME">
              <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD1_ID">
                {{vendor.VD1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'ORDER_FROM_LOCATION_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationFromCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.ORDER_FROM_LOCATION_NAME">
              <ngx-mat-select-search [formControl]="locationFromFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShopsFrom" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'ORDER_BY_LOCATION_NAME'" [style]="{'width':'100%'}">
            <mat-select [formControl]="locationByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.ORDER_BY_LOCATION_NAME">
              <ngx-mat-select-search [formControl]="locationByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let shop of filteredShopsBy" [value]="shop.LO1_ID">
                {{shop.LO1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_ON'" [style]="{'width':'100%'}">
            <input [(ngModel)]="page.filterParams[col.field]" matInput [matDatepicker]="picker" (dateChange)="filterChanged(col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'))" (dateInput)="buttonPress($event, col.field, formatDate($event.value, 'MM-dd-yyyy', 'en_US'));">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'MODIFIED_BY'" [style]="{'width':'100%'}">
            <mat-select [formControl]="modifiedByCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.MODIFIED_BY">
              <ngx-mat-select-search [formControl]="modifiedByFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
              <mat-option *ngFor="let user of filteredModifiedByUsers" [value]="user.US1_ID">
                {{user.US1_NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" (dblclick)="onOpen(rowData)" [pSelectableRowIndex]="rowIndex">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
          <span *ngIf="col.field == 'ORDERED_ON'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field] |datelocal:'MM.dd.y HH:mm' }}</span>
          <span *ngIf="col.field == 'MODIFIED_ON'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field] |datelocal:'MM.dd.y HH:mm' }}</span>
          <span *ngIf="col.field == 'COMPLETED_ON'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field] |datelocal:'MM.dd.y HH:mm' }}</span>

          <currency *ngIf="col.field == 'OR1_TOTAL_VALUE'" [value]="rowData[col.field]"></currency>
          <span *ngIf="col.field == 'OR1_NUMBER'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
          <span *ngIf="col.field == 'OR1_INV_STATUS_TEXT' && rowData['OR1_INV_STATUS'] === 3" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(165,161,165);" />
            </svg>
            <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
          </span>
          <span *ngIf="col.field == 'OR1_INV_STATUS_TEXT' && rowData['OR1_INV_STATUS'] === 4" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(255,105,180);" />
            </svg>
            <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
          </span>
          <span *ngIf="col.field == 'OR1_INV_STATUS_TEXT' && rowData['OR1_INV_STATUS'] !== 3 && rowData['OR1_INV_STATUS'] !== 4" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(6,177,0);" />
            </svg>
            <span>
              <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
            </span>
          </span>
          <span *ngIf="col.field == 'OR1_STATUS_TEXT' && rowData['OR1_STATUS'] === '1'" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(165,161,165);" />
            </svg>
            <span>
              <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
            </span>
          </span>
          <span *ngIf="col.field == 'OR1_STATUS_TEXT' && rowData['OR1_STATUS'] === '2'" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(255,223,24);" />
            </svg>
            <span>
              <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
            </span>
          </span>
          <span *ngIf="col.field == 'OR1_STATUS_TEXT' && rowData['OR1_STATUS'] !== '1' && rowData['OR1_STATUS'] !== '2'" style="vertical-align: middle;">
            <svg width="25" height="25">
              <rect width="25" height="25" style="fill:rgb(6,177,0);" />
            </svg>
            <span>
              <label style="vertical-align: bottom;">{{rowData[col.field]}}</label>
            </span>
          </span>
          <span *ngIf="col.field != 'OR1_TOTAL_VALUE' && col.field != 'OR1_NUMBER' && col.field != 'OR1_INV_STATUS_TEXT' && col.field != 'OR1_STATUS_TEXT' && col.field != 'MODIFIED_ON' && col.field != 'ORDERED_ON' && col.field != 'COMPLETED_ON' ">{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="cols.length" >
          {{'No records found'|lang}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div #paginator class="col-sm-12" style="padding-top: 5px;">{{'Shop/Tech Orders'|lang}} ({{totalRecords}} {{'#Records#'|lang}})</div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>