<div #uploadModal style="height: 100%;">
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog()"></i>
    </div>
    <h2 mat-dialog-title >{{'File Upload'|lang}}</h2>
  </div>
  <mat-dialog-content #content class="mat-typography" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}"  >
    <mat-dialog-actions #actionbar align="end" style="padding-top: 0; margin-bottom: 0;" >
      <div style="padding-left: 10px">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </mat-dialog-actions>
    <div class="center" [ngStyle]="{'height': scrollHeight, 'max-height':'none'}">
      <file-drop dropZoneLabel="{{'Drag and drop file there'|lang}}" (onFileDrop)="dropped($event)">
        <span></span>
      </file-drop>
      <div class="row-aligned" align="center">
        {{'or'|lang}}
      </div>
      <div class="row-aligned" align="center">
        <button type="button" class="btn btn-success btn-s" (click)="img_chooser.click()">
          {{'Select a File'|lang}}
        </button>
        <input #img_chooser style="visibility: hidden; position: absolute;" type="file" id="file"
               (change)="handleFileInput($event.target.files)" [accept]="fileTypes">
      </div>
      <div class="row-aligned" align="center">
          {{'Max file size is'|lang}}: 8Mb
      </div>
      <div class="row-aligned" align="center">
        <strong *ngIf="fileToUpload">{{fileToUpload.name}}</strong>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions #footer align="end">
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button type="button" class="btn btn-success btn-s" (click)="saveFile()" [disabled]="!fileToUpload">
    {{ data.uploadTitle ? data.uploadTitle : ('Use an Image' |lang) }}
    </button>
  </mat-dialog-actions>
</div>