<app-rights-menu></app-rights-menu>
<form novalidate class="ui form">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <ngx-datatable
          class="material"
          [rows]="rows"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="30"
          [externalSorting]="true"
          (sort)="onSort($event)"
          (page)='setPage($event)' >

      <ngx-datatable-column [flexGrow]="2" >
          <ng-template ngx-datatable-header-template let-sort="sortFn" >
                <span class="datatable-header-cell-wrapper ">
                  <span class="datatable-header-cell-label draggable header-label">{{'Permission'|lang}}</span>
                </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
              <a (click)= "onClick(value)">{{row.description}}</a>
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="3" >
          <ng-template ngx-datatable-header-template let-sort="sortFn">
              <span class="datatable-header-cell-wrapper">
                  <span class="datatable-header-cell-label draggable header-label">{{'System Name'|lang}}</span>
              </span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
              <a>{{row.name}}</a>
          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</form>