<div #inventoryOptimizationView class="animated fadeIn">
    <div #actionbar class="card-body" style="padding: 0;">
        <div class="row">
            <div class="col" align="left">
                <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]">
                    <button  class="btn btn-success" [disabled]="!selected" (click)="onOpen()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]">
                    <button class="btn btn-primary" (click)="onPdfPrint()"><i class="fa fa-clone"></i> {{'printPDFButton'|lang}}</button>
                </ng-template>
            </div>
            <div class="col" align="right">
                <ng-template [ngxPermissionsOnly]="[permissions.DASHBOARD_READ]" >
                    <button type="button" class="btn btn-light" (click)="exportClick()"><img src="assets/img/ExportXLS.png" height="21" width="21"></button>
                </ng-template>
                <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
                    <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
                </ng-template>
            </div>
        </div>
    </div>
    <p-table id="storeOrdersTable" [styleClass]="'shadow'" [columns]="cols" [value]="items"
             [responsive]="true" [loading]="loading" [rowHover]="true"
             selectionMode="single" [scrollable]="true" [metaKeySelection]="true"
             [paginator]="true" [rows]="size" [totalRecords]="totalRecords" [rowsPerPageOptions]="[50,100,200,300]"
             [lazy]="true" (onPage)="onPage($event)" [first]="page.first" sortMode="single"
             [(selection)]="selected" [scrollHeight]="scrollHeight">
        <ng-template pTemplate="caption">
            <div #tableCaption style="text-align: left">
                <div class="row" style="height: 35px">
                    <ng-container *ngIf="reportType == 'inventoryOptimization'">
                        <div class="col-auto">
                            <app-reporting-filter></app-reporting-filter>
                        </div>
                    </ng-container>
                    <div class="col-auto">
                        <mat-checkbox [labelPosition]="after" [(ngModel)]="limitToMinQty" [ngModelOptions]="{standalone: true}" (change)="limitToMinQtyChange($event.checked)">
                            {{'showOnlyMinQtyGreaterThanZero'|lang}}
                        </mat-checkbox>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="getItems()" style="margin-top: -4px;"  [disabled]="disableRunButton">{{'Run'|lang}}</button>
                    </div>
                    <div class="col-auto"  *ngIf="reportType == 'inventoryOptimization'">
                        <div>{{'#Order Days'|lang}} = <span>{{shopOrderDays}}</span></div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr #tableHeader>
                <th *ngFor="let col of columns" [pSortableColumnDisabled]="!col.sortable" [pSortableColumn]="col.field"
                    [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}" (click)="onSort(col)">
                    {{col.header}}
                    <ng-container *ngIf="col.sortable">
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </ng-container>
                </th>
            </tr>
            <tr #tableFilter>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'width': col.width +'px'}" [hidden]="!col.visible">
                    <mat-form-field *ngSwitchCase="'LO1_NAME'" [style]="{'width':'100%'}">
                        <mat-select [formControl]="locationCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.LO1_NAME">
                            <ngx-mat-select-search [formControl]="locationFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                            <mat-option *ngFor="let shop of filteredShops" [value]="shop.LO1_ID">
                                {{shop.LO1_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <input *ngSwitchCase="'MD1_PART_NUMBER'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'MD1_DESC1'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <mat-form-field *ngSwitchCase="'VD1_NAME'" [style]="{'width':'100%'}">
                        <mat-select [formControl]="vendorCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.VD1_NAME">
                            <ngx-mat-select-search [formControl]="vendorFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                            <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.VD1_ID">
                                {{vendor.VD1_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'CA1_NAME'" [style]="{'width':'100%'}">
                        <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="categoriesCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.CA1_NAME">
                            <ngx-mat-select-search [formControl]="categoriesFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                            <mat-option *ngFor="let category of filteredCategories" [value]="category.CA1_ID">
                                {{category.CA1_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <input *ngSwitchCase="'GL1_NAME'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'MD2_ON_HAND_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'MD2_MIN_QTY'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'AVERAGE_USAGE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'QTY_DIFF'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <mat-form-field *ngSwitchCase="'PART_STATUS'" [style]="{'width':'100%'}">
                        <mat-select (selectionChange)="filterChanged(col.field, $event.value)" multiple>
                            <mat-option *ngFor="let status of statuses" [value]="status.value">
                                {{status.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'UM1_NAME'" [style]="{'width':'100%'}">
                        <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="receivedUnitCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.UM1_NAME">
                            <ngx-mat-select-search [formControl]="receivedUnitFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                            <mat-option *ngFor="let unit of filteredReceivedUnits" [value]="unit.UM1_ID">
                                {{unit.UM1_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'UM1_PURCHASE_NAME'" [style]="{'width':'100%'}">
                        <mat-select [(ngModel)]="page.filterParams[col.field]" [formControl]="orderedUnitCtrl" panelClass="mat-select-panel-class" disableOptionCentering (selectionChange)="filterChanged(col.field, $event.value)" [ngModel]="filter.UM1_PURCHASE_NAME">
                            <ngx-mat-select-search [formControl]="orderedUnitFilterCtrl" [noEntriesFoundLabel]="''" [placeholderLabel]="''"></ngx-mat-select-search>
                            <mat-option *ngFor="let unit of filteredOrderedUnits" [value]="unit.UM1_ID">
                                {{unit.UM1_NAME}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <input *ngSwitchCase="'UM2_FACTOR'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'MD2_UNIT_PRICE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'EXTENDED_PRICE'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                    <input *ngSwitchCase="'EXTENDED_STOCK'" [(ngModel)]="page.filterParams[col.field]" pInputText type="text" [style]="{'width':'100%'}" (keydown)="buttonPress($event, col.field, $event.target.value);">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData)" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px', 'text-align': col.align}">
                    <span *ngIf="col.field == 'LO1_NAME' || col.field == 'MD1_PART_NUMBER'" style="color: #0b58a2; font-weight: bold; vertical-align: middle;">{{rowData[col.field]}}</span>
                    <currency *ngIf="col.field == 'MD2_UNIT_PRICE'" [value]="rowData[col.field]" [precision]="5"></currency>
                    <currency *ngIf="col.field == 'EXTENDED_PRICE' || col.field == 'EXTENDED_STOCK'" [value]="rowData[col.field]" [precision]="2"></currency>
                    <span *ngIf="col.field == 'PART_STATUS' && rowData['PART_STATUS'] == 0" style="vertical-align: middle;">
                        <span>
                          <svg width="25" height="25">
                            <rect width="25" height="25" style="fill:rgb(6,177,0);" />
                          </svg>
                        </span>
                        <span>
                          <label style="vertical-align: bottom;">{{'Normal'|lang}}</label>
                        </span>
                    </span>
                    <span *ngIf="col.field == 'PART_STATUS' && rowData['PART_STATUS'] == 1" style="vertical-align: middle;">
                        <span>
                          <svg width="25" height="25">
                            <rect width="25" height="25" style="fill:rgb(255,223,24);" />
                          </svg>
                        </span>
                        <span>
                          <label style="vertical-align: bottom; padding-top: 10px;">{{'Under'|lang}}</label>
                        </span>
                    </span>
                    <span *ngIf="col.field == 'PART_STATUS' && rowData['PART_STATUS'] == 2" style="vertical-align: middle;">
                        <span>
                          <svg width="25" height="25">
                            <rect width="25" height="25" style="fill:rgb(165,44,0);" />
                          </svg>
                        </span>
                        <span>
                          <label style="vertical-align: bottom;">{{'Over'|lang}}</label>
                        </span>
                    </span>
                    <span *ngIf="col.field != 'LO1_NAME' && col.field != 'MD1_PART_NUMBER' && col.field != 'MD2_UNIT_PRICE' && col.field != 'EXTENDED_PRICE' && col.field != 'EXTENDED_STOCK' && col.field != 'PART_STATUS'">{{rowData[col.field]}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="cols.length" >
                    {{'No records found'|lang}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr [attr.colspan]="cols.length">
                <td style="width: 150px" align="right">
                    <span style="width: 100%;">{{'MD1_TOTAL_PRICE'|lang}}:</span>
                </td>
                <td [ngStyle]="{'width': reportType == 'inventoryOptimization' ? '100px' : '100%'}">
                    <span style="width: 100%; font-weight: normal">{{totalValue|currency}}</span>
                </td>
                <ng-container *ngIf="reportType == 'inventoryOptimization'">
                    <td style="width: 150px" align="right">
                        <span style="width: 100%">{{'#TotalUsage#'|lang}}:</span>
                    </td>
                    <td>
                        <span style="width: 100%; font-weight: normal">{{totalUsage|currency}}</span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <div #paginator class="col-sm-12" style="padding-top: 5px;" [ngSwitch]="type">
                <span *ngSwitchCase="'physicalInventory'">
                    {{'Physical Inventory Report'|lang}} ({{totalRecords}} {{'#Records#'|lang}})
                </span>
                <span *ngSwitchDefault>
                    {{'Inventory Optimization Report'|lang}} ({{totalRecords}} {{'#Records#'|lang}})
                </span>
            </div>
        </ng-template>
    </p-table>
</div>
