@import "../../../scss/_ngtable";

/deep/ div.mat-form-field-infix{
  border: 0;
  top: -2px;
}

/deep/ .mat-form-field-label-wrapper {
  padding: 0;
}

/deep/ .mat-form-field-underline {
  background-color: white;
  top: 22px;
}

/deep/ body .ui-table .ui-table-caption {
  padding-bottom: 0;
}