<div style="height: 100%;" #orderLineModal>
  <div #header  >
    <div style="float: right">
      <i class="fa fa-window-close" mat-dialog-close (click)="closeDialog(false)"></i>
    </div>
    <h2 mat-dialog-title >{{'Order Line'|lang}}</h2>
  </div>
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <button mat-raised-button [mat-dialog-close]="false">{{'CloseButton'|lang}}</button>
        <!--
        <ng-template [ngxPermissionsOnly]="[permissions.ORDER_LINE_EDIT]" >
          <button type="button" class="btn btn-primary" (click)="saveClick()" >
            <i class="fa fa-plus-square"></i> {{'#Save#'|lang}}
          </button>
        </ng-template>
        -->
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
    <mat-card-content [style.overflow]="'auto'" style="padding-right: 20px">
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'OR2_LINE'|lang}}" [(ngModel)]="record.OR2_LINE" name="OR2_LINE" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'OR2_ORDER_QTY'|lang}}" [(ngModel)]="record.OR2_ORDER_QTY" name="OR2_ORDER_QTY" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'OR2_RECEIVED_QTY'|lang}}" [(ngModel)]="record.OR2_RECEIVED_QTY" name="OR2_RECEIVED_QTY" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'OR2_RECEIVING_QTY'|lang}}" [(ngModel)]="record.OR2_RECEIVING_QTY" name="OR2_RECEIVING_QTY">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_PART_NUMBER'|lang}}" [(ngModel)]="record.MD1_PART_NUMBER" name="MD1_PART_NUMBER" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_DESC1'|lang}}" [(ngModel)]="record.MD1_DESC1" name="MD1_DESC1" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_DESC2'|lang}}" [(ngModel)]="record.MD1_DESC2" name="MD1_DESC2" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UM'|lang}}" [(ngModel)]="record.UM1_NAME" name="UM1_NAME" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UM_SIZE'|lang}}" [(ngModel)]="record.MD1_UM_SIZE" name="MD1_UM_SIZE" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UNIT_PRICE'|lang}}" [(ngModel)]="record.MD1_UNIT_PRICE" name="MD1_UNIT_PRICE" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_EXTENDED_VALUE'|lang}}" [(ngModel)]="record.MD1_EXTENDED_VALUE" name="MD1_EXTENDED_VALUE" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UPC1'|lang}}" [(ngModel)]="record.MD1_UPC1" name="MD1_UPC1" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UPC2'|lang}}" [(ngModel)]="record.MD1_UPC2" name="MD1_UPC2" disabled>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field-width-auto">
              <input matInput placeholder="{{'MD1_UPC3'|lang}}" [(ngModel)]="record.MD1_UPC3" name="MD1_UPC3" disabled>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>

  </div>
</div>