.row {
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.form-control {
  width: 80px;
}

.page-container {
  .form-control {
    width: 50px;
  }
}

.col-sm-4, .col-sm-8, .col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-12 {
  display: flex;
  align-items: center;
}