<div class="col-sm-12">
  <div class="col-sm-4">{{name}} ({{totalRecords}} {{'#Records#'|lang}})</div>
  <div class="col-sm-8">
    <div class="row">
      <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" [styleClass]="ui-paginator" (onPageChange)="paginate($event)"></p-paginator>
      <button class="btn btn-primary" (click)="onRefresh()"><i class="fa fa-refresh fa-lg"></i></button>
      <select class="form-control" (change)="onRowPerPageChange($event.target.value)">
        <option value="100" selected>100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="{{totalRecords}}">{{'#AllRecords#'|lang}}</option>
      </select>
    </div>
  </div>
</div>