<select class="form-control" (change)="onChange($event.target.value)" >
  <option></option>
  <option *ngFor="let status of statuses" value="{{status.status}}" [selected]="status.status == activeStatus" >{{status.name}}</option>
</select>