<div [ngStyle]="{'width': loaderWidth}" style="position: fixed; z-index: 200000; height: 100%; margin-left: -15px; margin-top: -21px;" [hidden]="!loading">
  <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(211,211,211,0.3)', backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<div #techScansAddForm class="animated fadeIn" [ngStyle]="{'height': formHeight}" style="width: 100%">
  <div #actionbar class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-8" align="left" >
        <button type="button" class="btn btn-primary" (click)="cancelClick()" >
          <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
        </button>
        <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_ADD]">
          <button *ngIf="!isModal" class="btn btn-success" (click)="onAddMasterData()"><i class="fa fa-plus-square"></i> {{'AddButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_ADD]">
          <button *ngIf="!isModal" class="btn btn-success" (click)="onAddCatalog()"><i class="fa fa-plus-square"></i> {{'CatalogButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_DELETE]">
          <button class="btn btn-danger" [disabled]="!selected || selected.length == 0" (click)="onDelete()"><i class="fa fa-trash"></i> {{'DeleteButton'|lang}}</button>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_ADD]">
          <button  class="btn btn-success  {{constants.ACCEPT_SAVE_BARCODE}}" (click)="onSave()"><i class="fa fa-plus-square"></i> {{'SaveButton'|lang}}</button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui">
    <div #cardHeader class="card-header">
      <div class="panel-heading">
        <i class="fa fa-user fa-lg"></i>
        <div class="clearfix"></div>
      </div>
    </div>
    <div #addForm class="card-body">
      <form action="" method="post" class="form-horizontal" style="margin: 0">
        <div class="row">
          <div class="col-4">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div>
              <mat-form-field class="mat-form-field-width-auto">
                <input matInput placeholder="{{'OR1_NUMBER'|lang}}" [(ngModel)]="record.OR1_NUMBER" name="OR1_NUMBER" disabled>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mat-form-field-width-auto" >
                <mat-label>{{'OR1_COMMENT'|lang}}</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          [(ngModel)]="record.OR1_COMMENT"
                          name="OR1_COMMENT"
                          (keyup)="clearSaveBarCodeKeyUp($event, 'OR1_COMMENT')"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'CO1_NAME'|lang}}" [(ngModel)]="record.CO1_NAME" name="CO1_NAME" disabled>
                </mat-form-field>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'TE1_NAME'|lang}}" disabled [(ngModel)]="record.TE1_NAME" name="TE1_NAME" >
                      <button mat-button *ngIf="record.TE1_ID" matSuffix mat-icon-button aria-label="Clear Customer" (click)="clearTechnician()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectTechnician()" >{{'TechnicianButton'|lang}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'ShopToButton'|lang}}" disabled  [(ngModel)]="record.LO1_TO_NAME" name="LO1_TO_NAME" >
                      <button mat-button *ngIf="record.LO1_TO_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearToShop()" >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectToShop()" >{{'ShopToButton'|lang}}</button>
                  </div>
                </div>
              </div>
              <div class="col-1" >
                <mat-icon style="color: green;">arrow_back</mat-icon>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col" style="padding-right: 0px;">
                    <mat-form-field class="mat-form-field-width-auto">
                      <input matInput placeholder="{{'ORDER_FROM_LOCATION_NAME'|lang}}" disabled  [(ngModel)]="record.LO1_FROM_NAME" name="LO1_FROM_NAME" >
                      <button mat-button *ngIf="record.LO1_FROM_ID" matSuffix mat-icon-button aria-label="Clear Shop" (click)="clearFromShop()" >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;">
                    <button mat-button color="primary" (click)="selectFromShop()" >{{'ShopFromButton'|lang}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row align-items-center">
        <div class="col" align="left">
          <mat-form-field class="mat-form-field-width-auto" >
            <div  matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <input matInput #inputPartNumber placeholder="{{'#QuickAdd#'|lang}}" [formControl]="partsControl" [matAutocomplete]="autoParts" [matAutocompleteConnectedTo]="origin" [(ngModel)]="partNumber"
                     [name]="partNumber" (input)="filterParts($event.target.value)" (keyup)="partNumberKeyUp($event)" (keydown)="partNumberKeyDown($event)">
            </div>
            <mat-autocomplete #autoParts="matAutocomplete" (optionSelected)="onSelectPart($event.option.value)">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let part of filteredParts" [value]="part.MD1_PART_NUMBER">{{part.MD1_PART_NUMBER}} - {{part.MD1_DESC1}}</mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col" align="right">
          <label style="font-weight: bold">{{'OR1_TOTAL_VALUE'|lang}}:</label>
          <label style="font-weight: bold" style="padding-left: 10px">{{totalValue|currency}}</label>
        </div>
      </div>
    </div>

    <div #contentGrid [ngStyle]="{'height': dialogContentHeight, 'max-height':'none'}">
      <p-table id="ordersTable" [columns]="cols" [value]="addedParts"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="multiple" [scrollable]="true" [metaKeySelection]="true"
               [scrollHeight]="scrollHeight"
               [(selection)]="selected" (onEditInit)="onEditInit($event)" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td id="{{col.field === 'MD1_ORDER_QTY' ? 'td'+rowIndex: (col.field === 'MD1_EXTENDED_VALUE' ? 'td_ex_value'+rowIndex : '') }}"
                *ngFor="let col of columns; index as columnIndex;"
                [ngClass]="{'not-editable': col.field !== 'MD1_ORDER_QTY'}"
                [ngStyle]="{'width': col.width +'px'}"
                [hidden]="!col.visible"
                [pEditableColumn]="rowData"
                [pEditableColumnField]="col">
              <div *ngIf="col.field === 'MD1_ORDER_QTY'; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="number" step="1" min="0" id="input_{{rowData['MD1_ID']}}"
                           [(ngModel)]="rowData[col.field]"
                           (keypress)="qtyKeyPress($event)"
                           (keydown)="qtyKeyDown($event, rowIndex);"
                           (keyup)="qtyKeyUp($event);" >
                  </ng-template>
                  <ng-template pTemplate="output">
                    <b style="color: #FF4136">{{rowData[col.field]}}</b>
                  </ng-template>
                </p-cellEditor>
              </ng-template>
              <ng-template #elseBlock>
                <span [ngSwitch]="col.field">
                  <span *ngSwitchCase="'MD1_UNIT_PRICE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchCase="'MD1_EXTENDED_VALUE'">
                    <span style="display: block; text-align: right;" >{{rowData[col.field] | currency}}</span>
                  </span>
                  <span *ngSwitchDefault>
                    <span>{{rowData[col.field]}}</span>
                  </span>
                </span>
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>