<div class="animated fadeIn">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col" align="left">
        <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_READ]" >
          <button type="button" class="btn btn-primary" (click)="cancelClick()" >
            <i class="fa fa-share"></i> {{'#Cancel#'|lang}}
          </button>
        </ng-template>
      </div>
      <div class="col" align="right">
        <ng-template [ngxPermissionsOnly]="[permissions.LANGUAGES_EDIT]" >
          <button id="LanguageEditor" class="btn btn-light" (click)="openLanguageEditor()" style="height: 35px"><i class="fa fa-language"></i></button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card ui" style="">
    <div class="card-header">
      <div class="panel-heading">
        <div class="row align-items-center" >
          <div class="col" >
            <h3>#{{record.OR1_NUMBER}}</h3>
          </div>
          <div class="col-5" *ngIf="action != 'add'">
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#CreatedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;"  >{{record.CREATED_BY}}{{record.CREATED_ON ? (record.CREATED_BY ? ', ': '') + (record.CREATED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
            <div class="row" >
              <div class="col" align="right" style="font-size: 12px;" ><strong>{{'#ModifiedOn#'|lang}}:</strong></div>
              <div class="col" style="font-size: 12px;" >{{record.MODIFIED_BY}}{{record.MODIFIED_ON ? (record.MODIFIED_BY ? ', ': '') + (record.MODIFIED_ON|datelocal:'MM.dd.y HH:mm') : ''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="row">
          <div class="col-5" style="font-weight: bold">
            <ng-template [ngIf]="errors.length" >
              <mat-error *ngFor="let error of errors" style="padding-top: 5px;">{{error}}</mat-error>
            </ng-template>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'CO1_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.CO1_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'LO1_FROM_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.ORDER_FROM_LOCATION_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'LO1_TO_NAME'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.ORDER_BY_LOCATION_NAME}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'#OrderedBy#'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.ORDERED_BY}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'#OrderedOn#'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.ORDERED_ON|datelocal:'MM.dd.y HH:mm'}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding-right: 0px;">
                <label >{{'OR1_NUMBER'|lang}}</label>
              </div>
              <div class="col-md-auto" style="padding-left: 0px;">
                <label >{{record.OR1_NUMBER}}</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'Job #'|lang}}" [(ngModel)]="record.OR1_JOB_NUMBER" name="OR1_JOB_NUMBER" disabled>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'TE1_NAME'|lang}}" [(ngModel)]="record.TE1_NAME" name="TE1_NAME" disabled>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="mat-form-field-width-auto" >
                  <mat-select placeholder="{{'#Status#'|lang}}" [(value)]="record.OR1_STATUS" disabled>
                    <mat-option *ngFor="let status of statusData" [value]="status.OR1_STATUS">
                      {{status.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'OR1_TOTAL_VALUE'|lang}}" [(ngModel)]="record.OR1_TOTAL_VALUE" name="OR1_TOTAL_VALUE" disabled>
                </mat-form-field>
              </div>
              <div class="col" >
                <mat-form-field class="mat-form-field-width-auto">
                  <input matInput placeholder="{{'OR1_SHIPPING_METHOD'|lang}}" [(ngModel)]="record.OR1_SHIPPING_METHOD" name="OR1_SHIPPING_METHOD" disabled>
                </mat-form-field>
              </div>
            </div>
            <div>
              <mat-form-field appearance="outline" class="mat-form-field-width-auto" rows="3" >
                <textarea matInput placeholder="{{'OR1_COMMENT'|lang}}" [(ngModel)]="record.OR1_COMMENT" name="OR1_COMMENT" disabled></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div #actionbar >
      <div class="row">
        <div class="col" align="left">
          <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_READ]">
            <button  class="btn btn-primary" [disabled]="!selected" (click)="openRecord()"><i class="fa fa-plus-square"></i> {{'#Open#'|lang}}</button>
          </ng-template>
          <ng-template [ngxPermissionsOnly]="[permissions.TECH_SCANS_DELETE]">
            <button class="btn btn-danger" [disabled]="!selected" (click)="onDelete()"><i class="fa fa-trash"></i> {{'#Delete#'|lang}}</button>
          </ng-template>
        </div>
      </div>
    </div>
    <div #contentGrid >
      <p-table id="ordersTable" [columns]="cols" [value]="items"
               [responsive]="true" [loading]="loading" [rowHover]="true"
               selectionMode="single" [scrollable]="true"
               [paginator]="false" [(selection)]="selected" >
        <ng-template pTemplate="header" let-columns>
          <tr #tableHeader>
            <th *ngFor="let col of columns" [hidden]="!col.visible" [ngStyle]="{'width': col.width +'px'}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" (dblclick)="onOpen(rowData)">
            <td *ngFor="let col of columns" [ngStyle]="{'width': col.width +'px'}">
              <span *ngIf="col.field == 'MD1_UNIT_PRICE'">{{rowData[col.field] | currency}}</span>
              <span *ngIf="col.field == 'OR2_EXTENDED_VALUE'">{{rowData[col.field] | currency}}</span>
              <span *ngIf="col.field == 'OR1_NUMBER' || col.field == 'OR2_LINE'" style="color: #0b58a2; font-weight: bold">{{rowData[col.field]}}</span>
              <span *ngIf="col.field != 'OR1_NUMBER' && col.field != 'OR2_LINE' && col.field != 'MD1_UNIT_PRICE' && col.field != 'OR2_EXTENDED_VALUE'">{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="cols.length" >
              {{'No records found'|lang}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="{{deleteConfirmation}}" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>