<ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'flex'"
      [loadingIndicator]="loading"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="30"
      (page)='setPage($event)' >

  <ngx-datatable-column [flexGrow]="1">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
          <span class="datatable-header-cell-wrapper">
              <span class="datatable-header-cell-label draggable header-label">{{'Roles'|lang}}</span>
          </span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
          <a (click)= "onClick(value)">{{row.name}}</a>
      </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [flexGrow]="3">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
          <span class="datatable-header-cell-wrapper">
              <span class="datatable-header-cell-label draggable header-label">{{'Description'|lang}}</span>
          </span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
          <a (click)= "onClick(value)">{{row.description}}</a>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="name" sortable="false"  [flexGrow]="1" >
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable header-label">{{'Actions'|lang}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           <ng-template [ngxPermissionsOnly]="[permissions.ROLES_EDIT]">
            <a (click)= "editRole(value)" style="cursor: pointer;" title="{{'#Edit#'|lang}}" ><i class="fa fa-lg fa-user"></i> {{'#Edit#'|lang}}</a>
           </ng-template>
          &nbsp; &nbsp;
          <ng-template [ngxPermissionsOnly]="[permissions.ROLES_DELETE]">
            <a (click)= "deleteRole(value)" style="cursor: pointer;" title="{{'#Delete#'|lang}}" ><i class="fa fa-lg fa-trash"></i> {{'#Delete#'|lang}}</a>
          </ng-template>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>